<template>
  <py-structure
    :tree-datas="treeDatas"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_active="nodeClick"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList" @_active="tagActive">
      <div slot="header" class="SearchFilter">
        <div class="myHeaderInput">
          <el-input
            class="input-with-select"
            suffix-icon="el-icon-search"
            @change="onSearch"
            @keydown.enter.native="onSearch"
            v-model="keywords"
            placeholder="关键字搜索"
            size="mini"
          ></el-input>
        </div>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="excelExportClick"
        >
          <i class="fa fa-file-text-o"></i>
          <span>Excel导出</span>
        </a>
      </div>
      <div
        slot="wireless"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-wirelessView
          :height="height"
          :datas="wDatas"
          :status="statusData"
          @_update="updateParamters"
          @_rowclick="rowClick"
          @_exclick="exClick"
        ></py-wirelessView>
      </div>
      <div
        slot="electricity"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-electricity
          :height="height"
          :datas="eDatas"
          :status="statusData"
          @_update="updateParamters"
          @_rowclick="rowClick2"
          @_exclick="exClick"
        ></py-electricity>
      </div>
    </py-tag-view>
    <py-details-view :ishow="isDetailsView" :mid="detailsId"></py-details-view>
    <py-details-view2
      :ishow="isDetailsView2"
      :mid="detailsId2"
    ></py-details-view2>
    <py-data-export
      :ishow="isDataExport"
      url="armExport"
      :params="dataExportParams"
      :filter="dataExportFilter"
    ></py-data-export>
    <py-ex-assignment
      :ishow="isExAssign"
      :datas="exAssignData"
      @_save="saveExClick"
    ></py-ex-assignment>
  </py-structure>
</template>

<script lang="ts">
import {
  getWireColumns,
  getElecColumns,
} from "@/components/DataMonitoring/Columns";
import ExAssignment from "@/components/DataMonitoring/ExAssignment.vue";
import DataExport from "@/components/DataExport.vue";
import DetailsView from "@/components/DataMonitoring/DetailsView.vue";
import DetailsView2 from "@/components/DataMonitoring/DetailsView2.vue";
import { Input } from "element-ui";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import WirelessView from "@/components/DataMonitoring/WirelessView.vue";
import Electricity from "@/components/DataMonitoring/Electricity.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyWirelessView: WirelessView,
    pyElectricity: Electricity,
    pyDetailsView: DetailsView,
    pyDetailsView2: DetailsView2,
    pyDataExport: DataExport,
    pyExAssignment: ExAssignment,
    elInput: Input,
  },
})
export default class DataMonitoringChild extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;

  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  @Provide() activeType = "wireless";
  @Provide() organizeId = "";
  @Provide() warnStatus = "";
  @Provide() orderBy = "";
  @Provide() sort = "";

  @Provide() wDatas: any = [];

  @Provide() eDatas: any = [];

  @Provide() fullscreenLoading: boolean = false;
  @Provide() formValue: string = "";

  @Provide() isDetailsView: boolean = false;
  @Provide() detailsId: string = "";
  @Provide() isDetailsView2: boolean = false;
  @Provide() detailsId2: string = "";
  @Provide() statusData: any = {};

  @Provide() isExAssign: boolean = false;
  @Provide() exAssignData: any = {};
  created() {
    let self = this;
    self.getTree();
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    self.warnStatus = "";
    self.orderBy = "";
    self.sort = "";
    // let treeData = require("../../components/DataMonitoring/LeftTree");
    // self.setTreeData(treeData);
    self.getList();
  }
  saveExClick() {
    this.getList();
  }
  rowClick(row: any) {
    this.detailsId = row.meterId;
    this.isDetailsView = !this.isDetailsView;
  }
  rowClick2(row: any) {
    this.detailsId2 = row.meterId;
    this.isDetailsView2 = !this.isDetailsView2;
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  updateParamters(val: any) {
    let self: any = this;
    for (let key in val) {
      self[key] = val[key];
    }
    this.getList();
  }
  nodeClick(val: any) {
    this.organizeId = val.id;
    this.getList();
  }
  exClick(data: any) {
    console.log("指派", data);
    this.exAssignData = data;
    this.isExAssign = !this.isExAssign;
  }
  getReqs(): any {
    let self = this;

    let productType = "烟感";
    if (self.activeType == "electricity") {
      productType = "电气火灾";
    }
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      productType: productType, //'烟感',
      organizeId: self.organizeId,
      warnStatus: self.warnStatus,
      keywords: self.keywords,
    };
  }
  @Provide() keywords: string = "";
  onSearch() {
    let self = this;

    this.getList();
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [];
  excelExportClick() {
    console.log("导出");
    // armExport
    let self = this;
    let req = self.getReqs();
    try {
      self.dataExportFilter = req;
      let dataExportParams = [];
      if (self.activeType == "electricity") {
        dataExportParams = getWireColumns();
      } else {
        dataExportParams = getElecColumns();
      }
      self.dataExportParams = dataExportParams;

      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  getStatus() {
    let self = this;
    let productType = "烟感";
    if (self.activeType == "electricity") {
      productType = "电气火灾";
    }
    let req = {
      productType: productType,
      organizeId: self.organizeId,
    };
    self.get("armStatus", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.statusData = d.data;
      }
    });
  }
  getList() {
    let self = this;
    self.fullscreenLoading = true;
    self.getStatus();
    let oldDate = new Date().getTime();
    let req = self.getReqs();
    self.get("dataList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let defaultData = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        // userId
        if (self.activeType == "electricity") {
          self.eDatas = defaultData.list;
          // self.ePage = {
          //   costtime: costtime,
          //   pageNum: defaultData.pageNum,
          //   pageSize: defaultData.pageSize,
          //   total: defaultData.total,
          // };
        } else {
          self.wDatas = defaultData.list;
          // self.wPage = {
          //   costtime: costtime,
          //   pageNum: defaultData.pageNum,
          //   pageSize: defaultData.pageSize,
          //   total: defaultData.total,
          // };
        }
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  tagActive(val: any) {
    let name = val.name;
    this.activeType = name;
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
}
</style>
