<template>
  <py-structure
    :tree-datas="treeDatas"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_active="nodeClick"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <baidu-map
      class="bm-view"
      id="baidumap"
      ref="BaiduMapCanvas"
      :style="{ height: mapHeight + 'px' }"
      ak="8suoGxqt8jqDObqZ1KoR9UZyutzpLkqb"
      :center="mapConfig.center"
      :zoom="mapConfig.zoom"
      :scroll-wheel-zoom="mapConfig.scroll"
      @click="getLocationPoint"
      @moveend="syncCenterAndZoom"
      @zoomend="syncCenterAndZoom"
      @ready="handler"
    >
      <!-- 定位控件 -->
      <bm-marker
        :position="markerPos"
        :dragging="true"
        animation="BMAP_ANIMATION_BOUNCE"
      >
        <bm-label
          :content="bmlabeltext"
          :labelStyle="{ color: 'red', fontSize: '14px' }"
          :offset="{ width: -36, height: 30 }"
        />
        <bm-geolocation
          anchor="BMAP_ANCHOR_BOTTOM_RIGHT"
          :showAddressBar="true"
          :autoLocation="true"
          @locationSuccess="locationSuccess"
        ></bm-geolocation>
      </bm-marker>

      <!-- 缩放控件 -->
      <bm-navigation
        type="BMAP_NAVIGATION_CONTROL_LARGE"
        anchor="BMAP_ANCHOR_BOTTOM_RIGHT"
      ></bm-navigation>
      <bm-map-type
        anchor="BMAP_ANCHOR_TOP_RIGHT"
        :mapTypes="mapTypes"
      ></bm-map-type>
      <bm-local-search
        :keyword="keyword"
        :auto-viewport="true"
        :location="location"
        zoom="12.8"
      >
        /// 测试
      </bm-local-search>
    </baidu-map>
    <div id="searchMap">
      <el-form
        :inline="true"
        class="demo-form-inline"
        size="mini"
        @submit.native.prevent
      >
        <el-form-item>
          <el-autocomplete
            v-model="keyword"
            placeholder="请输入内容"
            suffix-icon="el-icon-search"
            :fetch-suggestions="querySearch"
            @select="handleSelect"
            clearable
          ></el-autocomplete>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="LoadMarker(0)">
            <i class="fa fa-recycle"></i>
            搜索清空
          </el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="addMapClick">
            <i class="fa fa-map-marker"></i>
            单位定位
          </el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="SaveLngLat">
            <i class="fa fa-save"></i>
            保存界面
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </py-structure>
</template>

<script lang="ts">
import html2canvas from "html2canvas";
import { Form, FormItem, Input, Button, Autocomplete } from "element-ui";
import {
  BaiduMap,
  BmNavigation,
  BmMapType,
  BmLocalSearch,
  BmGeolocation,
  BmMarker,
  BmLabel,
} from "vue-baidu-map";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import $ from "jquery";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    BaiduMap,
    BmNavigation,
    BmMapType,
    BmLocalSearch,
    BmGeolocation,
    BmMarker,
    BmLabel,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elButton: Button,
    elAutocomplete: Autocomplete,
  },
})
export default class MapM extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;

  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  // 中心点坐标
  @Provide() point = { lng: 118.68274056798198, lat: 32.03886624909366 };

  @Provide() mapConfig: any = {
    center: { lng: 118.68274056798198, lat: 32.03886624909366 },
    zoom: 12,
    scroll: true,
  };
  @Provide() mapTypes: any = [
    "BMAP_NORMAL_MAP", //普通地图
    "BMAP_HYBRID_MAP", //混合地图
    "BMAP_SATELLITE_MAP", //卫星地图
  ];
  @Provide() mapHeight: number = 0;
  @Provide() keyword: string = "";
  @Provide() location: string = "";
  @Provide() oldxyScale: any = [];
  @Provide() defaultXYScale: any = [];
  @Provide() markerPos: any = {};
  @Provide() activeNode: any = {};
  get bmlabeltext(): string {
    return this.activeNode.fullName;
  }
  created() {
    let self = this;
    self.getTree();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          self.activeNode = treeList[0];
          let xyScale = treeList[0].xyScale
            ? treeList[0].xyScale.split(",")
            : [];
          self.defaultXYScale = xyScale;
          self.oldxyScale = xyScale;
          self.setPoint();
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  locationSuccess(point: any, address: any, marker: any) {
    console.log(point, address, marker);
  }
  handleSelect() {}
  querySearch(queryString: string, cb: any) {
    let self = this;
    let local: any = null;
    let options = {
      onSearchComplete: function (results: any) {
        if (local.getStatus() === 0) {
          // 判断状态是否正确
          var s = [];
          for (var i = 0; i < results.getCurrentNumPois(); i++) {
            var x = results.getPoi(i);
            var item = { value: x.address + x.title, point: x.point };
            s.push(item);
            cb(s);
          }
        } else {
          cb();
        }
      },
    };
    local = new this.BMap.LocalSearch(this.map, options);
    local.search(queryString);
  }
  setPoint() {
    let self = this;
    let xyScale = self.oldxyScale;
    self.point = xyScale;
    let newMap = JSON.parse(JSON.stringify(self.mapConfig));
    console.log(xyScale);
    newMap.center = {
      lng: xyScale[0],
      lat: xyScale[1],
    };

    self.mapConfig = newMap;
    setTimeout(() => {
      self.setMarker();
    }, 120);
  }
  nodeClick(data: any) {
    let self = this;

    let xyScaleString = data.xyScale;
    if (xyScaleString) {
      self.activeNode = data;
      self.oldxyScale = xyScaleString.split(",");
      self.setPoint();
    } else {
      self.$message({
        showClose: true,
        message: "当前地址没有设置经纬度（xyScale）",
        type: "error",
      });
    }
  }
  @Provide() BMap: any = null;
  @Provide() map: any = null;
  handler({ BMap, map }: any) {
    this.BMap = BMap;
    this.map = map;
    // this.scanMap();
  }
  scanMap() {
    var point = new this.BMap.Point(113.027698, 28.144912); // 根据经纬度创建点坐标
    this.map.centerAndZoom(point, 17);
  }
  getLocationPoint(e: any) {
    // 点击触发搜索
    // eslint-disable-next-line no-undef
  }
  @Provide() fullscreenLoading: boolean = false;
  mounted() {
    this.init();
    this.fullscreenLoading = false;
  }
  init() {
    let self = this;
    let height = $(".left").height();
    self.mapHeight = height;
  }
  LoadMap() {}
  LoadMarker(num: number) {
    console.log(num);
    let self = this;
    if (num == 0) {
      self.keyword = "";
    }
    this.oldxyScale = this.defaultXYScale;

    // this.setPoint();
    setTimeout(() => {
      self.setMarker();
    }, 120);
  }
  setMarker() {
    let self = this;
    let pos = {
      lng: this.oldxyScale[0],
      lat: this.oldxyScale[1],
    };
    this.markerPos = pos;
    if (this.BMap) {
      let point = new this.BMap.Point(pos.lng, pos.lat); // 根据经纬度创建点坐标
      this.map.centerAndZoom(point, this.mapConfig.zoom);
    }
  }
  addMapClick() {
    console.log("单位定位");
    this.setMarker();
  }
  @Provide() mapCenter: any = [];
  // 地图移动后
  syncCenterAndZoom(e: any) {
    let centerObj: any = e.target.getCenter() || {};
    this.mapCenter = [centerObj.lng, centerObj.lat];
  }
  // 保存图片
  SaveLngLat() {
    let self: any = this;
    let node = self.activeNode;
    let organizeId = node.id;
    let hisReq = {
      organizeId,
    };
    self.get("updateOrganize", null, hisReq).then(({ code, data }: any) => {
      if (code == 10000) {
        let xyScale = self.mapCenter.join(",");
        data.xyScale = xyScale;
        self.put("updateOrganize", data, hisReq).then(({ code, data }: any) => {
          if (code == 10000) {
            self.$message({
              showClose: true,
              message: "地图初始坐标已更新",
              type: "success",
            });
            self.oldxyScale = self.mapCenter;
            self.defaultXYScale = self.mapCenter;
            setTimeout(() => {
              self.setMarker();
            }, 120);
          }
        });
      }
    });
    // new html2canvas(document.querySelector("#baidumap"), {
    //   useCORS: true,
    //   allowTaint: true,
    // }).then((canvas: any) => {
    //   let dataURL = canvas.toDataURL("image/png");
    //   let a = document.createElement("a");
    //   let event = new MouseEvent("click");
    //   a.download = name || "photo";
    //   a.href = dataURL;
    //   a.dispatchEvent(event);
    // });
  }

  seachTreeData(newVal: any) {
    console.log(newVal);
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("MapMonitoring -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.myMapMain {
  display: flex;
  width: 100%;
  height: 100%;
}
.bm-view {
}
#searchMap {
  position: absolute;
  top: 15px;
  left: 20px;
  width: auto;
  z-index: 2000;
}
</style>
