<template>
  <div class="AlarmAnalysis" :id="cid"></div>
</template>

<script lang="ts">
import setOption from "./AnalysisOption";
import echarts from "echarts";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class AlarmAnalysis extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  cid: any;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";

  init() {
    let self = this;
    if (!self.datas) return;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    setTimeout(() => {
      self.LoadChart(defaultData);
    }, 60);
  }
  LoadChart(data: any) {
    let self = this;
    let dom: any = document.getElementById(self.cid);
    let myChart = echarts.init(dom);
    let option = setOption(data);
    myChart.setOption(option, true);
    window.addEventListener("resize", function () {
      myChart.resize();
    });
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.AlarmAnalysis {
  padding: 5px;
  height: 200px;
  width: 100%;
}
</style>
