<template>
  <div class="AlarmDetails" :style="{ height: height + 'px' }">
    <my-table :columns="columns" :datas="tableData"></my-table>
  </div>
</template>

<script lang="ts">
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class AlarmDetails extends Mixins(commMixins) {
  @Prop({ type: Number, default: 150 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Provide() test = "this is test";
  @Provide() columns: any = [
    {
      prop: "orgName",
      label: "单位名称",
      headerAlign: "center",
      align: "cengter",
      width: "120px",
    },
    {
      prop: "recordDate",
      label: "告警时间",
      headerAlign: "center",
      align: "cengter",
      width: "135px",
    },
    {
      prop: "warnText",
      label: "告警内容",
      headerAlign: "center",
      align: "cengter",
    },
  ];
  @Provide() tableData = [];

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    self.tableData = datas;
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.AlarmDetails {
  padding: 10px;
  height: 150px;
  position: relative;
  overflow: auto;
}
</style>
