<template>
  <div class="ElectricalFireData">
    <el-row :gutter="2">
      <el-col :span="5">
        <div class="countPanel">
          <div class="blue">设备数</div>
          <div class="text" v-text="iDQCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="success">正常</div>
          <div class="text" v-text="iDQNCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="info">离线</div>
          <div class="text" v-text="iDQUCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="waring">报警</div>
          <div class="text" v-text="iDQWCount"></div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="countPanel">
          <div class="danger">故障</div>
          <div class="text" v-text="iDBCount"></div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <div id="echarts_DQ" style="width: 100%; height: 90px"></div>
        <p>设备状态分析</p>
      </el-col>
      <el-col :span="12">
        <div id="echarts_DQW" style="width: 100%; height: 90px"></div>
        <p>报警状态分析</p>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import setOptions from "./DQOptions";
import setWOption from "./DQWOptions";
import echarts from "echarts";
import { Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
  },
})
export default class ElectricalFireData extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";

  @Provide() iDQCount = 0;
  @Provide() iDQELCount = 0;
  @Provide() iDQLCount = 0;
  @Provide() iDQNCount = 0;
  @Provide() iDBCount = 0;
  @Provide() iDQOLCount = 0;
  @Provide() iDQOTCount = 0;
  @Provide() iDQUCount = 0;
  @Provide() iDQWCount = 0;

  @Provide() RanderDQStatusTime: any = null;
  @Provide() RanderWStatusTime: any = null;

  init() {
    let self = this;
    if (!self.datas) return;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    self.iDQCount = defaultData.iDQCount;
    self.iDQELCount = defaultData.iDQELCount;
    self.iDQLCount = defaultData.iDQLCount;
    self.iDQNCount = defaultData.iDQNCount;
    self.iDBCount = defaultData.iDBCount;
    self.iDQOLCount = defaultData.iDQOLCount;
    self.iDQOTCount = defaultData.iDQOTCount;
    self.iDQUCount = defaultData.iDQUCount;
    self.iDQWCount = defaultData.iDQWCount;
    setTimeout(() => {
      self.RanderStatus();
      self.RanderWStatus();
    }, 60);
  }
  RanderWStatus() {
    let self = this;
    let dom: any = document.getElementById("echarts_DQW");
    let myChart = echarts.init(dom);
    let option = setWOption(
      self.iDQLCount,
      self.iDQOLCount,
      self.iDQOTCount,
      self.iDQELCount
    );
    if (self.RanderWStatusTime != null) {
      clearInterval(self.RanderWStatusTime);
    }
    let currentIndex = -1;
    self.RanderWStatusTime = setInterval(() => {
      let dataLength = option.series[0].data.length;
      // 取消之前高亮的图形
      myChart.dispatchAction({
        type: "downplay",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      currentIndex = (currentIndex + 1) % dataLength;
      // 高亮当前图形
      myChart.dispatchAction({
        type: "highlight",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      // 显示 tooltip
      myChart.dispatchAction({
        type: "showTip",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
    }, 3000);
    myChart.setOption(option, true);
    // dom.resize(myChart.resize);
    window.addEventListener("resize", function () {
      myChart.resize();
    });
  }
  RanderStatus() {
    let self = this;
    let dom: any = document.getElementById("echarts_DQ");
    let myChart = echarts.init(dom);
    let option = setOptions(
      self.iDQNCount,
      self.iDQUCount,
      self.iDQWCount,
      self.iDBCount
    );
    let currentIndex = -1;
    if (self.RanderDQStatusTime != null) {
      clearInterval(self.RanderDQStatusTime);
    }
    self.RanderDQStatusTime = setInterval(function () {
      let dataLength = option.series[0].data.length;
      // 取消之前高亮的图形
      myChart.dispatchAction({
        type: "downplay",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      currentIndex = (currentIndex + 1) % dataLength;
      // 高亮当前图形
      myChart.dispatchAction({
        type: "highlight",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      // 显示 tooltip
      myChart.dispatchAction({
        type: "showTip",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
    }, 3000);
    myChart.setOption(option, true);
    // dom.resize(myChart.resize);
    window.addEventListener("resize", function () {
      myChart.resize();
    });
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.ElectricalFireData {
  padding: 10px;
}
p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
</style>
