<template>
  <div class="Map">
    <div class="mapTimer">
      <date-view></date-view>
    </div>
    <div id="map"></div>
  </div>
</template>

<script lang="ts">
import DateView from "@/components/DateView.vue";
import setOption from "@/components/LargeScreenDisplay/MapOption";
import echarts from "echarts";
import "@/assets/js/china";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    DateView,
  },
})
export default class Map1 extends Mixins(commMixins) {
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Provide() test = "this is test";

  mounted() {
    this.init();
  }
  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    console.log(datas);
    let dom: any = document.getElementById("map");
    let myChart = echarts.init(dom);
    let option: any = setOption(self.returnClick);
    myChart.setOption(option);
    dom.resize(myChart.resize);
  }
  @Emit("_returnclick")
  returnClick(d: any) {
    // console.log(d);
    return d;
  }
  @Watch("datas")
  datasWatch() {
    // this.init();
  }
}
</script>
<style lang="scss" scoped>
.Map {
  position: relative;
}

.mapTimer {
  position: absolute;
  top: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}
#map {
  position: relative;
  width: 100%;
  height: 100%;
}
</style>
