<template>
  <div class="News" :style="{ height: height + 'px' }">
    <ul class="list">
      <li class="item" v-for="(item, index) in tableData" :key="index">
        <a
          href="javascript:void(0);"
          :style="{ color: item.titleColor ? item.titleColor : '#333' }"
        >
          <span v-text="item.title"></span>
        </a>
        <span v-text="item.updateTime"></span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class News1 extends Mixins(commMixins) {
  @Prop({ type: Number, default: 150 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    self.tableData = datas;
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.News {
  width: 100%;
  padding: 10px;
  height: 150px;
  position: relative;
  overflow: auto;
  .list {
    padding: 10px;
    margin: 0;
    .item {
      list-style-image: url("../../assets/images/dot.png");
      line-height: 27px;
      list-style-type: none;
      white-space: nowrap;
      font-size: 12px;
      display: flex;
      a {
        text-overflow: ellipsis;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        flex: 1;
        width: 10%;
      }
      span {
        color: #a1a1a1;
        padding-right: 5px;
      }
    }
  }
}
</style>
