<template>
  <div class="SmokeSensingData">
    <el-row :gutter="2">
      <el-col :span="5">
        <div class="countPanel">
          <div class="blue">设备数</div>
          <div class="text" v-text="iYGCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="success">正常</div>
          <div class="text" v-text="iYGNCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="info">离线</div>
          <div class="text" v-text="iYGUCount"></div>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="countPanel">
          <div class="waring">报警</div>
          <div class="text" v-text="iYGWCount"></div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="countPanel">
          <div class="danger">故障</div>
          <div class="text" v-text="iYGBCount"></div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <div id="echarts_YG" style="width: 100%; height: 90px"></div>
        <p>设备状态分析</p>
      </el-col>
      <el-col :span="12">
        <div id="echarts_YGT" style="width: 100%; height: 120px"></div>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import setOption from "./DQOptions";
import setYGOption from "./YGTOptions";
import echarts from "echarts";
import { Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
  },
})
export default class SmokeSensingData extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";

  @Provide() iYGCount = 0;
  @Provide() iYGNCount = 0;
  @Provide() iYGUCount = 0;
  @Provide() iYGWCount = 0;
  @Provide() iYGBCount = 0;
  @Provide() iYGLORACount = 0;
  @Provide() iYGNBCount = 0;

  @Provide() RanderYGStatusTime: any = null;
  @Provide() RanderWStatusTime: any = null;

  init() {
    let self = this;
    console.log(self.datas);
    if (!self.datas) return;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.iYGCount = defaultData.iYGCount;
    self.iYGNCount = defaultData.iYGNCount;
    self.iYGUCount = defaultData.iYGUCount;
    self.iYGWCount = defaultData.iYGWCount;
    self.iYGBCount = defaultData.iYGBCount;
    self.iYGLORACount = defaultData.iYGLORACount;
    self.iYGNBCount = defaultData.iYGNBCount;

    setTimeout(() => {
      self.RanderStatus();
      self.RanderYGType();
    }, 60);
  }
  RanderYGType() {
    let self = this;
    let dom: any = document.getElementById("echarts_YGT");
    let myChart = echarts.init(dom);
    let option = setYGOption(self.iYGLORACount, self.iYGNBCount);
    myChart.setOption(option);
    window.addEventListener("resize", function () {
      myChart.resize();
    });
  }
  RanderStatus() {
    let self = this;
    let dom: any = document.getElementById("echarts_YG");
    let myChart = echarts.init(dom);
    let option = setOption(
      self.iYGNCount,
      this.iYGUCount,
      this.iYGWCount,
      this.iYGBCount
    );
    if (self.RanderYGStatusTime != null) {
      clearInterval(self.RanderYGStatusTime);
    }
    let currentIndex = -1;
    self.RanderYGStatusTime = setInterval(() => {
      let dataLength = option.series[0].data.length;
      // 取消之前高亮的图形
      myChart.dispatchAction({
        type: "downplay",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      currentIndex = (currentIndex + 1) % dataLength;
      // 高亮当前图形
      myChart.dispatchAction({
        type: "highlight",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
      // 显示 tooltip
      myChart.dispatchAction({
        type: "showTip",
        seriesIndex: 0,
        dataIndex: currentIndex,
      });
    }, 3000);
    myChart.setOption(option, true);
    window.addEventListener("resize", function () {
      myChart.resize();
    });
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SmokeSensingData {
  padding: 10px;
}
p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
</style>
