<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="实时数据监控"
    append-to-body
  >
    <el-form size="mini" :inline="true" :model="formData" label-suffix=":">
      <div class="DetailsView-realTime">
        <div>
          <el-row class="realTime-base" style="margin-bottom: 5px">
            <el-col :span="24">
              <el-form-item label="单位名称">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.fullName"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="详细地址">
                <el-input
                  :readonly="true"
                  type="textarea"
                  class="moli-text"
                  v-text="formData.installAddress"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="单位负责人">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defend1"
                ></el-input>
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defendMobile1"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="维护人员">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defend1"
                ></el-input>
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defendMobile1"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="安装时间">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.installTime"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="realTime-table">
            <my-table
              :noindex="true"
              :columns="columns"
              :datas="tableData"
              :theight="250"
            ></my-table>
          </div>
        </div>
        <div class="realChart-main">
          <div class="realTime-base myBaseRow">
            <div classs="realTime-base-left">
              <div class="moli-short">
                <el-form-item label="烟感电压">
                  <el-input
                    :readonly="true"
                    class="moli-text"
                    v-text="celVal"
                  ></el-input>
                </el-form-item>
                <el-form-item label="底座电压">
                  <el-input
                    :readonly="true"
                    class="moli-text"
                    v-text="celVal2"
                  ></el-input>
                </el-form-item>
              </div>
              <div class="moli-short">
                <el-form-item label="当前温度">
                  <el-input
                    :readonly="true"
                    class="moli-text"
                    v-text="temperature1"
                  ></el-input>
                </el-form-item>
                <el-form-item label="当前状态">
                  <el-input
                    :readonly="true"
                    class="moli-text"
                    v-text="formData.warnStatus"
                  ></el-input>
                </el-form-item>
              </div>
            </div>
            <div classs="realTime-base-right">
              <img src="../../assets/images/ygxf.png" alt="" />
            </div>
          </div>
          <div class="realTime-base realChart" id="chartTem"></div>
          <div class="realTime-base realChart" id="chartCel"></div>
        </div>
      </div>
    </el-form>
    <div slot="footer" class="dialog-footer"></div>
  </el-dialog>
</template>
<script lang="ts">
import $ from "jquery";
import echarts from "echarts";
import "echarts-gl";
import MyTable from "@/components/MyTable.vue";
import { Dialog, Form, Row, Col, FormItem, Input } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
import OptionsTem from "./OptionTem";
import OptionCel from "./OptionCel";
@Component({
  components: {
    elDialog: Dialog,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    MyTable,
  },
})
export default class DetailsViewD extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  mid: string;
  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};
  @Provide() columns: any = [
    {
      prop: "recordDate",
      label: "日期",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "warnStatus",
      label: "状态",
      headerAlign: "center",
      align: "center",
    },
  ];
  @Provide() tableData: any = [];
  init() {
    this.getDetails();
    this.dialogVisible = true;
  }
  @Provide() celVal: string = "0V";
  @Provide() celVal2: string = "0V";
  @Provide() temperature1: string = "0℃";
  getDetails() {
    let self = this;
    let hisReq = {
      meterId: self.mid,
    };
    self.get("armDetail", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        console.log(data);
        /**
        celVal: 烟感电压
        celVal2: 底座电压
        temperature1: 温度
        */

        self.formData = data;
        let { statuses, celVal, celVal2, temperature1, charts } = data;
        self.tableData = statuses;
        self.celVal = celVal + "V";
        self.celVal2 = celVal2 + "V";
        self.temperature1 = temperature1 + "℃";
        let timeLs: any = []; // 时间线
        let mtLs: any = []; // 温度
        let celValLs: any = []; // 烟感
        let celVal2Ls: any = []; // 底层
        charts.forEach((item: any) => {
          let { createTime, temperature1, celVal, celVal2 } = item;
          timeLs.push(createTime);
          mtLs.push(temperature1);
          celValLs.push(celVal);
          celVal2Ls.push(celVal2);
        });
        setTimeout(() => {
          self.setChartTem(timeLs, mtLs);
          self.setChartCel(timeLs, celValLs, celVal2Ls);
        }, 60);
      }
    });
  }
  setChartCel(timeLs: any, list: any, list2: any) {
    let self = this;
    let option: any = OptionCel;
    option.xAxis.data = timeLs;
    option.series[0].data = list;
    option.series[1].data = list2;
    let dom: any = document.getElementById("chartCel");
    let ec = echarts.init(dom);
    ec.setOption(option);
    $(dom).resize(ec.resize);
  }
  // 绘制温度line
  setChartTem(timeLs: any, list: any) {
    let self = this;
    let option: any = OptionsTem;
    option.xAxis.data = timeLs;
    option.series[0].data = list;
    let dom: any = document.getElementById("chartTem");
    let ec = echarts.init(dom);
    ec.setOption(option);
    $(dom).resize(ec.resize);
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.DetailsView {
  .DetailsView-realTime {
    display: flex;
    flex-direction: row;
    height: 420px;
    & > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 5px;
      & > div {
        width: 100%;
      }
      .myBaseRow {
        display: flex;
        flex-direction: row;

        .realTime-base-left {
          flex: 1;
        }
        .moli-short {
          display: flex;
          flex-direction: row;
          & ::v-deep .el-form-item {
            width: 100%;
            .el-form-item__label {
              width: 70px;
            }
          }
          .moli-text {
            padding: 0 5px;
            width: 53px;
          }
        }
        .realTime-base-right {
          img {
            width: 53px;
            height: 53px;
          }
        }
      }
      .realChart {
        flex: 1;
        height: 160px;
        margin-top: 10px;
      }
      .realTime-base {
        background-color: rgb(34, 109, 118);
        color: #fff;
        border-radius: 4px;
        padding: 5px;

        & ::v-deep .el-form-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 2px;
        }
        & ::v-deep .el-form-item__label {
          width: 80px;
        }
        & ::v-deep .el-form-item__content {
          display: flex;
          flex-direction: row;

          flex: 1;
        }
        .moli-text {
          width: 100%;
          background-color: rgb(34, 109, 118);
          color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgb(33, 133, 139);
          border-radius: 5px;
          font-size: 12px;
          padding: 0 10px;
        }
      }
      .realTime-table {
        flex: 1;
      }
    }
  }
}
</style>