<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="实时数据监控"
    append-to-body
  >
    <el-form size="mini" :inline="true" :model="formData" label-suffix=":">
      <div class="DetailsView-realTime">
        <div>
          <el-row class="realTime-base" style="margin-bottom: 5px">
            <el-col :span="24">
              <el-form-item label="单位名称">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.fullName"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="详细地址">
                <el-input
                  :readonly="true"
                  type="textarea"
                  class="moli-text"
                  v-text="formData.fullAddress"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="单位负责人">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defend1"
                ></el-input>
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defendMobile1"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="维护人员">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defend1"
                ></el-input>
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.defendMobile1"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :apn="24">
              <el-form-item label="安装时间">
                <el-input
                  :readonly="true"
                  class="moli-text"
                  v-text="formData.installTime"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="realTime-table">
            <my-table
              :noindex="true"
              :columns="columns"
              :datas="tableData"
              :theight="355"
            ></my-table>
          </div>
        </div>
        <div class="realChart-main">
          <div class="realTime-base realChart" id="chartL"></div>
          <div class="realTime-base realChart" id="chartC"></div>
          <div class="realTime-base realChart" id="chartT"></div>
        </div>
      </div>
    </el-form>
    <div slot="footer" class="dialog-footer"></div>
  </el-dialog>
</template>
<script lang="ts">
import $ from "jquery";
import defaultTable from "./TypeToTable";
import echarts from "echarts";
import "echarts-gl";
import MyTable from "@/components/MyTable.vue";
import { Dialog, Form, Row, Col, FormItem, Input } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
import { optionL, optionC, optionT } from "./Option2";
@Component({
  components: {
    elDialog: Dialog,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    MyTable,
  },
})
export default class DetailsViewD extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  mid: string;
  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};
  @Provide() columns: any = [
    {
      prop: "type",
      label: "回路类型",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "value",
      label: "探测值/报警值",
      headerAlign: "center",
      align: "center",
      color: "celColor",
    },
    {
      prop: "healthyVal",
      label: "回路健康度",
      headerAlign: "center",
      align: "center",
    },
  ];
  @Provide() tableData: any = [];
  init() {
    this.getDetails();
    this.dialogVisible = true;
  }
  @Provide() celVal: string = "0V";
  @Provide() celVal2: string = "0V";
  @Provide() temperature1: string = "0℃";
  getDetails() {
    let self = this;
    let hisReq = {
      meterId: self.mid,
    };
    self.get("armDetail", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        console.log(data);

        self.formData = data;
        self.setTable(data);
        let { charts } = data;
        self.setCalculationChart(charts);
      }
    });
  }
  setTable(data: any) {
    /**
        type: 回路类型
        value:探测值/报警值
        healthyVal:回路健康度
        */
    let self = this;
    let tableData = defaultTable;
    tableData[0].value = tableData[0].value
      .replace("{v}", data.currentLeakage)
      .replace("{w}", data.currentLeakageSet);
    tableData[1].value = tableData[1].value
      .replace("{v}", data.current1)
      .replace("{w}", data.currentSet);
    tableData[2].value = tableData[2].value
      .replace("{v}", data.current2)
      .replace("{w}", data.currentSet);
    tableData[3].value = tableData[3].value
      .replace("{v}", data.current3)
      .replace("{w}", data.currentSet);
    tableData[4].value = tableData[4].value
      .replace("{v}", data.temperature1)
      .replace("{w}", data.temperatureSet);
    tableData[5].value = tableData[5].value
      .replace("{v}", data.temperature2)
      .replace("{w}", data.temperatureSet);
    tableData[6].value = tableData[6].value
      .replace("{v}", data.temperature3)
      .replace("{w}", data.temperatureSet);
    tableData[7].value = tableData[7].value
      .replace("{v}", data.temperature4)
      .replace("{w}", data.temperatureSet);
    self.tableData = tableData;
  }
  setCalculationChart(list: any) {
    let self = this;
    let timeLs: any = [];
    let leakageLs: any = [];
    let c1Ls: any = [];
    let c2Ls: any = [];
    let c3Ls: any = [];
    let t1Ls: any = [];
    let t2Ls: any = [];
    let t3Ls: any = [];
    let t4Ls: any = [];
    list.forEach((item: any) => {
      let {
        createTime,
        current1,
        current2,
        current3,
        currentLeakage,
        temperature1,
        temperature2,
        temperature3,
        temperature4,
      } = item;
      timeLs.push(createTime);
      leakageLs.push(currentLeakage);
      c1Ls.push(current1);
      c2Ls.push(current2);
      c3Ls.push(current3);
      t1Ls.push(temperature1);
      t2Ls.push(temperature2);
      t3Ls.push(temperature3);
      t4Ls.push(temperature4);
    });
    setTimeout(() => {
      self.setLChart(timeLs, leakageLs);
      self.setCChart(timeLs, c1Ls, c2Ls, c3Ls);
      self.setTChart(timeLs, t1Ls, t2Ls, t3Ls, t4Ls);
    }, 60);
  }
  setLChart(times: any, list: any) {
    let self = this;
    let option: any = optionL;
    option.xAxis.data = times;
    option.series[0].data = list;
    let dom: any = document.getElementById("chartL");
    let ec = echarts.init(dom);
    ec.setOption(option);
    $(dom).resize(ec.resize);
  }
  setCChart(times: any, list1: any, list2: any, list3: any) {
    let option: any = optionC;
    option.xAxis.data = times;
    option.series[0].data = list1;
    option.series[1].data = list2;
    option.series[2].data = list3;
    let dom: any = document.getElementById("chartC");
    let ec = echarts.init(dom);
    ec.setOption(option);
    $(dom).resize(ec.resize);
  }
  setTChart(times: any, list1: any, list2: any, list3: any, list4: any) {
    let option: any = optionT;
    option.xAxis.data = times;
    option.series[0].data = list1;
    option.series[1].data = list2;
    option.series[2].data = list3;
    option.series[3].data = list4;
    let dom: any = document.getElementById("chartT");
    let ec = echarts.init(dom);
    ec.setOption(option);
    $(dom).resize(ec.resize);
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.DetailsView {
  .DetailsView-realTime {
    display: flex;
    flex-direction: row;
    height: 540px;
    & > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 5px;
      & > div {
        width: 100%;
      }
      .myBaseRow {
        display: flex;
        flex-direction: row;

        .realTime-base-left {
          flex: 1;
        }
        .moli-short {
          display: flex;
          flex-direction: row;
          & ::v-deep .el-form-item {
            width: 100%;
            .el-form-item__label {
              width: 70px;
            }
          }
          .moli-text {
            padding: 0 5px;
            width: 53px;
          }
        }
        .realTime-base-right {
          img {
            width: 53px;
            height: 53px;
          }
        }
      }
      .realChart {
        flex: 1;
        height: 160px;
        margin-top: 10px;
      }
      .realTime-base {
        background-color: rgb(34, 109, 118);
        color: #fff;
        border-radius: 4px;
        padding: 5px;

        & ::v-deep .el-form-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 2px;
        }
        & ::v-deep .el-form-item__label {
          width: 80px;
        }
        & ::v-deep .el-form-item__content {
          display: flex;
          flex-direction: row;

          flex: 1;
        }
        .moli-text {
          width: 100%;
          background-color: rgb(34, 109, 118);
          color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgb(33, 133, 139);
          border-radius: 5px;
          font-size: 12px;
          padding: 0 10px;
        }
      }
      .realTime-table {
        flex: 1;
      }
    }
  }
}
</style>