<template>
  <el-dialog
    class="DetailsView ExAssignment"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="指派管理员"
    append-to-body
  >
    <el-form ref="detailsForm" size="mini">
      <el-row>
        <el-col :span="24">
          <p style="color: #fff">请选择管理员</p>
        </el-col>
        <el-col class="myTable">
          <el-table
            :data="tableData"
            border
            style="width: 100%"
            size="small"
            :fit="true"
            height="280"
          >
            <el-table-column label="" width="60" align="center">
              <template #default="{ row }">
                <el-radio
                  v-model="userId"
                  name="userId"
                  :label="row.id"
                ></el-radio>
              </template>
            </el-table-column>
            <el-table-column prop="realName" label="真实名字"></el-table-column>
            <el-table-column prop="userName" label="账号"></el-table-column>
            <el-table-column label="性别" width="120px">
              <template #default="{ row }">
                <span v-if="row.gender == 1">男</span>
                <span v-else-if="row.gender == 2">女</span>
                <span v-else>未知</span>
              </template>
            </el-table-column>
            <el-table-column prop="fullName" label="单位名称"></el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Table,
  TableColumn,
  Radio,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elTable: Table,
    elTableColumn: TableColumn,
    elRadio: Radio,
  },
})
export default class DetailsView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;

  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};
  @Provide() tableData: any = [];
  @Provide() userId: string = "";
  @Provide() meterId: string = "";
  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.formData = defaultData;
    self.meterId = defaultData.meterId;
    self.userId = defaultData.userId;
    // usersAssign, meterAssign
    self.getList();
    self.dialogVisible = true;
  }
  getList() {
    let self = this;
    let req = {
      roleId: "",
    };
    self.get("usersAssign", req, null).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { list } = d.data;
        self.tableData = list;
      }
    });
  }
  sureClick() {
    let self = this;
    let hisReq = {
      meterId: self.meterId,
      userId: self.userId,
    };
    self.post("meterAssign", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "指派用户成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.ExAssignment {
  & ::v-deep .el-radio__label {
    display: none;
  }
}
</style>