<template>
  <el-row :gutter="20">
    <el-col :span="1" :offset="8" style="padding: 10px 10px">
      <el-input
        v-if="!1"
        size="mini"
        placeholder="请输入内容"
        suffix-icon="el-icon-search"
        v-model="filterValue"
        @blur="searchClick"
        @keydown.enter.native="searchClick"
      />
    </el-col>
    <el-col :span="15" style="padding: 10px 0">
      <el-button
        size="mini"
        :class="{ active: activeWarn == '报警' }"
        type="danger"
        @click="btnClick('报警')"
      >
        报警
        <span v-text="status.warn">0</span>
      </el-button>
      <el-button
        size="mini"
        :class="{ active: activeWarn == '故障' }"
        type="warning"
        @click="btnClick('故障')"
      >
        故障
        <span v-text="status.bad">0</span>
      </el-button>
      <el-button
        size="mini"
        :class="{ active: activeWarn == '离线' }"
        type="info"
        @click="btnClick('离线')"
      >
        离线
        <span v-text="status.off">0</span>
      </el-button>
      <el-button
        size="mini"
        :class="{ active: activeWarn == '正常' }"
        type="success"
        @click="btnClick('正常')"
      >
        正常
        <span v-text="status.normal">0</span>
      </el-button>
      <el-button
        size="mini"
        :class="{ active: activeWarn == '' }"
        type="primary"
        @click="btnClick('')"
      >
        所有
        <span v-text="status.all">0</span>
      </el-button>
    </el-col>
  </el-row>
</template>

<script lang="ts">
import { Row, Col, Input, Button } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    elInput: Input,
    elButton: Button,
  },
})
export default class TabSearch extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  status: any;

  @Provide() test = "this is test";
  @Provide() filterValue = "";
  @Provide() activeWarn = "";
  @Emit("_update")
  btnClick(type: string): string {
    this.activeWarn = type;
    return type;
  }
  searchClick() {
    console.log(this.filterValue);
  }
}
</script>
<style lang="scss" scoped>
.active {
  opacity: 0.8;
}
</style>
