<template>
  <div class="WirelessView">
    <py-tab-search :status="status" @_update="statusUpdate"></py-tab-search>
    <div :style="{ height: myHeight + 'px' }">
      <my-table
        :columns="columns"
        :theight="myHeight"
        :datas="tableData"
        @_sort="sortChange"
        @_rowclick="rowClick"
      ></my-table>
    </div>
  </div>
</template>
<script lang="ts">
import MyTable from "@/components/MyTable.vue";
import { Table, TableColumn, Tag } from "element-ui";
import TabSearch from "@/components/DataMonitoring/TabSearch.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import { getWireColumns } from "./Columns";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTabSearch: TabSearch,
    elTable: Table,
    elTableColumn: TableColumn,
    elTag: Tag,
    MyTable,
  },
})
export default class WirelessView extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: Object, default: () => {} })
  status: any;

  @Provide() test = "this is test";
  @Provide() tableData: any = [];
  @Provide() columns: any = [];

  mounted() {
    this.columns = getWireColumns(this.statusClick, this.exClick);
    this.init();
  }
  init() {
    // let list = require("./List2.json");
    // this.tableData = list;
  }
  get myHeight(): number {
    let height = this.height;
    return height - 50;
  }
  @Emit("_update")
  sortChange(val: any) {
    let sort = val.order == "descending" ? "DESC" : "ASC";
    let req = {
      orderBy: val.prop,
      sort: sort,
    };
    return req;
  }

  @Emit("_update")
  statusUpdate(type: string) {
    return {
      warnStatus: type,
    };
  }
  @Emit("_rowclick")
  rowClick(row: any) {
    return row;
  }
  statusClick(data: any) {
    console.log(data);
  }
  @Emit("_exclick")
  exClick(data: any) {
    return data;
  }
  detailsClick(data: any) {
    console.log("详细-->", data);
  }
  @Watch("datas", { immediate: true, deep: true })
  dataWatch(newVal: any) {
    this.tableData = newVal;
  }
}
</script>
<style lang="scss" scoped>
.WirelessView {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
