<template>
  <div class="BaseInfo">
    <el-form size="mini" :model="formData" label-width="120px">
      <el-row>
        <el-col :span="13">
          <el-form-item label="账户">
            <el-input v-model="formData.userName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="工号">
            <el-input v-model="formData.encode"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="姓名">
            <el-input v-model="formData.realName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="性别">
            <el-radio-group v-model="formData.gender">
              <el-radio :label="0">男</el-radio>
              <el-radio :label="1">女</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="单位">
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              v-model="formData.organizeId"
            ></tree-select>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="自我介绍">
            <el-input v-model="formData.remarks" type="textarea"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import { Form, FormItem, Row, Col, Input, RadioGroup, Radio } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elInput: Input,
    elRadioGroup: RadioGroup,
    elRadio: Radio,
    TreeSelect,
  },
})
export default class BaseInfo extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";
  @Provide() formData: any = {};
  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.fullName,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }
  @Provide() tree: any = [];
  created() {
    this.getTree();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;

          treeList = treeData.list;
          self.tree = treeList;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  init() {
    let self = this;
    let defaultData: any = JSON.parse(JSON.stringify(self.datas));
    self.formData = defaultData;
  }
  updateValue() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.formData));
    let req: any = {
      userName: defaultData.userName,
      encode: defaultData.encode,
      realName: defaultData.realName,
      gender: defaultData.gender,
      organizeId: defaultData.organizeId,
      remarks: defaultData.remarks,
    };
    return req;
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.BaseInfo {
  padding: 15px;
}
</style>
