<template>
  <div class="ChangePassword">
    <el-form size="mini" :model="formData" label-width="120px">
      <el-row>
        <el-col :span="13">
          <el-form-item label="原密码">
            <el-input
              type="password"
              v-model="formData.oldPass"
              required
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="新密码">
            <el-input
              type="password"
              v-model="formData.newPass"
              required
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="重复新密码">
            <el-input
              type="password"
              v-model="formData.newPass2"
              required
            ></el-input>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="10">
          <el-form-item label="验证码">
            <el-input v-model="formData.recode"></el-input>
          </el-form-item>
        </el-col> -->
      </el-row>
      <el-row>
        <el-col :span="13" style="text-align: center">
          <el-button @click="saveClick" size="mini">
            <i class="fa fa-save"></i>
            <span>提 交</span>
          </el-button>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script lang="ts">
import md5 from "js-md5";
import { Form, FormItem, Row, Col, Input, Button } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elInput: Input,
    elButton: Button,
  },
})
export default class ChangePassword extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";
  @Provide() formData: any = {};

  init() {}

  @Watch("datas", { immediate: true, deep: true })
  avatarWatch(newVal: any) {
    this.init();
  }
  saveClick() {
    let self = this;
    if (self.formData.newPass != self.formData.newPass2) {
      self.$message({
        showClose: true,
        message: "两次输入新密码不一致",
        type: "error",
      });
      return;
    }
    let req = {
      oldPass: md5(self.formData.oldPass),
      newPass: md5(self.formData.newPass),
    };
    self.post("updatePass", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "密码修改成功, 请重新登录",
          type: "success",
        });
        self.$router.push("/Login");
      }
    });
  }
}
</script>
<style lang="scss" scoped>
.ChangePassword {
  padding: 15px;
}
</style>
