<template>
  <div class="ContactInformation">
    <el-form size="mini" :model="formData" label-width="120px">
      <el-row>
        <el-col :span="13">
          <el-form-item label="手机">
            <el-input v-model="formData.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="电话">
            <el-input v-model="formData.tel"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="邮箱">
            <el-input v-model="formData.email"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="微信">
            <el-input v-model="formData.wx"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="13">
          <el-form-item label="QQ">
            <el-input v-model="formData.qq"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script lang="ts">
import { Form, FormItem, Row, Col, Input } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elInput: Input,
  },
})
export default class ContactInformation extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";
  @Provide() formData: any = {};
  init() {
    let self = this;
    let defaultData: any = JSON.parse(JSON.stringify(self.datas));
    self.formData = defaultData;
  }
  updateValue() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.formData));
    let req = {
      phone: defaultData.phone,
      tel: defaultData.tel,
      email: defaultData.email,
      wx: defaultData.wx,
      qq: defaultData.qq,
    };
    return req;
  }
  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.ContactInformation {
  padding: 15px;
}
</style>
