<template>
  <div class="MyHead">
    <el-row>
      <el-col>
        <el-upload
          class="avatar-uploader"
          :action="action"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img v-if="imageUrl" :src="imageUrl" class="avatar" />
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-col>
      <el-col>
        <p style="font-size: 12px; color: gray">
          建议上传图片尺寸为100x100，大小不超过2M。
        </p>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import { Upload, Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elUpload: Upload,
    elRow: Row,
    elCol: Col,
  },
})
export default class MyHead extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;

  @Provide() test = "this is test";
  @Provide() action = "/api/sys/users/updateAvatar";

  @Provide() imageUrl: string = "";
  mounted() {}
  init() {
    let root = "/utils";
    this.imageUrl = root + this.datas.avatar;
    this.action = root + "/api/sys/users/updateAvatar";
    console.log(this.action);
  }
  updateValue() {
    return this.imageUrl;
  }
  handleAvatarSuccess(res: any, file: any) {
    console.log(res, file);
    this.imageUrl = URL.createObjectURL(file.raw);
  }
  beforeAvatarUpload(file: any) {
    const isJPG = file.type === "image/jpeg";
    const isLt2M = file.size / 1024 / 1024 < 2;

    if (!isLt2M) {
      this.$message.error("上传头像图片大小不能超过 2MB!");
    }
    return isLt2M;
  }

  @Watch("datas", { immediate: true, deep: true })
  avatarWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.MyHead {
  padding: 15px;
}
</style>
