<template>
  <div class="SystemLog">
    <div class="SearchFilter">
      <span class="demonstration">查询条件</span>
      <el-date-picker
        v-model="dateValue"
        type="daterange"
        align="right"
        unlink-panels
        size="mini"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
        :picker-options="pickerOptions2"
        @change="dateValueChange"
      >
      </el-date-picker>
    </div>
    <div class="SearchSys">
      <my-table
        :style="{ height: height + 'px' }"
        :ispage="true"
        :page-config="pageConfig"
        :columns="columns"
        :datas="tableData"
        @_sort="sortChange"
        @_sizechange="sizeChange"
        @_currentchange="currentChange"
      ></my-table>
    </div>
  </div>
</template>

<script lang="ts">
import { Row, Col, DatePicker } from "element-ui";
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    elDatePicker: DatePicker,
    MyTable,
  },
})
export default class SystemLog extends Mixins(commMixins) {
  @Provide() test = "this is test";
  @Prop({ type: Number, default: 0 })
  height: number;

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      prop: "createTime",
      label: "登录时间",
      headerAlign: "center",
      align: "center",
      isSort: "custom",
    },
    {
      prop: "ip",
      label: "登录ip",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "operateType",
      label: "操作功能",
      headerAlign: "center",
      align: "left",
    },
    {
      prop: "result",
      label: "执行结果",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "remarks",
      label: "执行结果描述",
      headerAlign: "center",
      align: "center",
    },
  ];

  @Provide() pageConfig: any = {};
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() fullscreenLoading: boolean = false;
  @Provide() orderBy: string = "";
  @Provide() sort: string = "desc"; // asc
  @Provide() startDate: string = "";
  @Provide() endDate: string = "";

  @Provide() dateValue: any = [];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };

  mounted() {
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.getSystemLog();
  }
  sizeChange(num: number) {
    let self = this;
    self.pageNum = 1;
    self.pageSize = num;
    self.getSystemLog();
  }
  currentChange(num: number) {
    let self = this;
    self.pageNum = num;
    self.getSystemLog();
  }
  getSystemLog() {
    let self = this;
    let req = {
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      orderBy: self.orderBy,
      sort: self.sort,
      startDate: self.startDate,
      endDate: self.endDate,
    };
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self
      .get("sysLog", req, null)
      .then((d: any) => {
        console.log(d);
        self.fullscreenLoading = false;
        if (d.code == 10000) {
          let newDate = new Date().getTime();
          let defaultData = d.data;
          self.tableData = defaultData.list;
          let costtime = newDate - oldDate;
          let pageConfig = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
          self.pageConfig = pageConfig;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  sortChange(val: any) {
    console.log(val);
    let self = this;
    self.orderBy = val.prop;
    if (val.order == "descending") {
      self.sort = "desc";
    } else {
      self.sort = "asc";
    }
    self.getSystemLog();
  }
  dateValueChange() {
    let self = this;
    console.log(self.dateValue);
    let values = self.dateValue || [];
    self.startDate = values[0];
    self.endDate = values[1];
    self.getSystemLog();
  }
}
</script>
<style lang="scss" scoped>
.SystemLog {
  display: flex;
  flex-direction: column;
  .SearchFilter {
    left: 200px;
    top: 6px;
  }
  .SearchSys {
    flex: 1;
  }
}
</style>
