<template>
  <py-structure
    :tree-datas="treeDatas"
    class="GeneralDictionary"
    title="字典分类"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_click="treeClick"
  >
    <py-tag-view :list="tabList">
      <div slot="header">
        <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
          <i class="fa fa-refresh"></i>
          <span>刷新</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="addClick">
          <i class="fa fa-plus"></i>
          <span>新增</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="dictCateClick"
        >
          <i class="fa fa-tags"></i>
          <span>字典分类</span>
        </a>
      </div>
      <div
        slot="GeneralTable"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.3)"
        v-loading.fullscreen.lock="fullscreenLoading"
      >
        <py-general-table
          :height="height"
          :datas="tableList"
          @_click="tableClick"
        ></py-general-table>
      </div>
    </py-tag-view>
    <py-generl-edit
      :ishow="isEdit"
      :eid="editId"
      :type="editType"
      :tree="treeDatas"
      @_save="setDictData"
    ></py-generl-edit>
    <py-generl-type :ishow="isTreeFull"></py-generl-type>
  </py-structure>
</template>

<script lang="ts">
import GenerlType from "@/components/SystemManagement/GenerlType.vue";
import GenerlEdit from "@/components/SystemManagement/GenerlEdit.vue";
import TagView from "@/components/TagView.vue";
import GeneralTable from "@/components/SystemManagement/GeneralTable.vue";
import LeftRightStructure from "@/components/LeftRightStructure2.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyGeneralTable: GeneralTable,
    pyGenerlEdit: GenerlEdit,
    pyGenerlType: GenerlType,
  },
})
export default class GeneralDictionary extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() tableList: any = [];
  @Provide() dictTags: string = "";
  @Provide() dictValue: string = "";
  @Provide() defaultProps: any = {
    label: "name",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "GeneralTable",
      label: "字典数据-告警状态（WarnStatus）",
    },
  ];
  @Provide() activeData: any = {};

  @Provide() editType: string = "add";
  @Provide() editId: string = "";
  @Provide() isEdit: boolean = false;
  @Provide() isTreeFull: boolean = false;
  @Provide() fullscreenLoading: boolean = false;

  created() {}
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    this.getEnableTree();
  }
  getEnableTree() {
    let self = this;
    self.get("dictTreeEnable", null, null).then((d: any) => {
      if (d.code == 10000) {
        let { list } = d.data;
        self.setTreeData(list);
        self.activeData = list[0];
        self.setDictData();
      }
    });
  }
  setDictData() {
    let self = this;
    let { id, name, type } = self.activeData;
    let tabList = JSON.parse(JSON.stringify(self.tabList));
    tabList[0].label = `字典数据-${name}(${type})`;
    self.tabList = tabList;
    this.getEnableTreeById(id);
  }
  getEnableTreeById(id: string) {
    let self = this;
    let req = {
      dictId: id,
      label: self.dictTags,
      value: self.dictValue,
    };
    self.fullscreenLoading = true;
    self.get("dictData", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let { list } = d.data;
        self.tableList = list;
      }
    });
  }
  tableClick(data: any) {
    let self = this;
    let { type, row } = data;
    if (type == "edit") {
      // 编辑
      self.editType = "edit";
      self.editId = row.id;
      self.isEdit = !self.isEdit;
    } else if (type == "delete") {
      // 删除
      self.deleteClick(row);
    } else if (type == "view") {
      // 查看
      self.editType = "view";
      self.editId = row.id;
      self.isEdit = !self.isEdit;
    }
  }
  deleteClick(data: any) {
    let self = this;
    self
      .$confirm("是否删除此字典数据？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then((d: any) => {
        let hisReq = {
          id: data.id,
        };
        self.delete("updateDictData", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除字典数据成功",
              type: "success",
            });

            self.init();
          }
        });
      });
  }
  dictCateClick() {
    this.isTreeFull = !this.isTreeFull;
  }
  addClick() {
    let self = this;
    self.editType = "add";
    self.editId = "";
    self.isEdit = !self.isEdit;
  }
  refreshClick() {
    this.setDictData();
  }
  treeClick(data: any) {
    this.activeData = data;
    this.setDictData();
  }
  seachTreeData(newVal: any) {
    console.log(newVal);
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }

  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
