<template>
  <py-tag-view
    :list="tabList"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <div slot="header" class="SearchFilter">
      <span class="demonstration">日志类型</span>
      <el-select v-model="logType" @change="init" size="mini" clearable>
        <el-option
          v-for="item in logTypeList"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
      <span class="demonstration">查询条件</span>
      <el-date-picker
        v-model="dateValue"
        type="daterange"
        align="right"
        unlink-panels
        size="mini"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        value-format="yyyy-MM-dd"
        :picker-options="pickerOptions2"
        @change="dateValueChange"
      >
      </el-date-picker>
      <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
        <i class="fa fa-refresh"></i>
        <span>刷新</span>
      </a>
      <a href="javascript:void(0);" class="headerInput" @click="clearClick">
        <i class="fa fa-eraser"></i>
        <span>清空</span>
      </a>
      <a href="javascript:void(0);" class="headerInput" @click="exportClick">
        <i class="fa fa-sign-out"></i>
        <span>导出</span>
      </a>
    </div>
    <div
      slot="SystemLTable"
      slot-scope="{ height }"
      :style="{ height: height + 'px' }"
    >
      <py-system-table
        :height="height"
        :datas="gData"
        :page="gPage"
        @_update="updateParamers"
      ></py-system-table>
      <py-data-export
        :ishow="isDataExport"
        url="armMeterExport"
        :params="dataExportParams"
        :filters="dataExportFilter"
      ></py-data-export>
    </div>
  </py-tag-view>
  <!-- <py-structure :datas="leftData" class="SystemLog" @_search="seachTreeData">
   
  </py-structure> -->
</template>

<script lang="ts">
import { getLogColumn } from "@/components/SystemManagement/LColumns";
import DataExport from "@/components/DataExport.vue";
import TagView from "@/components/TagView.vue";
import SystemTable from "@/components/SystemManagement/SystemLTable.vue";
import { Select, Option, DatePicker } from "element-ui";

import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elSelect: Select,
    elOption: Option,
    elDatePicker: DatePicker,
    pyTagView: TagView,
    pySystemTable: SystemTable,
    pyDataExport: DataExport,
  },
})
export default class SystemLog extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() tabList: any = [
    {
      name: "SystemLTable",
      label: "登录日志",
    },
  ];
  @Provide() leftData: any = [
    {
      text: "登录日志",
      value: 1,
    },
    {
      text: "访问日志",
      value: 2,
    },
    {
      text: "操作日志",
      value: 3,
      isSplit: true,
    },
    {
      text: "异常日志",
      value: 4,
    },
    {
      text: "授权日志",
      value: 5,
    },
  ];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };

  @Provide() orderBy: string = "";
  @Provide() sort: string = "";
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() dateValue: any = [];
  @Provide() logType: string = "";

  @Provide() logTypeList: any = [];

  @Provide() fullscreenLoading: boolean = false;
  @Provide() gData: any = [];
  @Provide() gPage: any = {};

  created() {
    this.getLogType();
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.getLog();
  }
  refreshClick() {
    this.init();
  }
  clearClick() {
    console.log("清空");
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [];
  exportClick() {
    let self = this;
    let req = self.getReqs();
    try {
      self.dataExportFilter = req;

      self.dataExportParams = getLogColumn();

      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  getLogType() {
    let self = this;
    let hisReq = {
      dictType: "logType",
    };
    self.get("dictType", null, hisReq).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { list } = d.data;
        self.logTypeList = list;
      }
    });
  }
  getLog() {
    let self = this;
    let req = self.getReqs();
    console.log(req);
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self.get("logList", req, null).then((d: any) => {
      console.log(d);
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let { list, pageNum, pageSize, total } = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        self.gData = list;
        self.gPage = {
          costtime,
          pageNum,
          pageSize,
          total,
        };
      }
    });
  }
  getReqs() {
    let self = this;
    let startDate = "";
    let endDate = "";
    if (self.dateValue.length > 0) {
      startDate = self.dateValue[0];
      endDate = self.dateValue[1];
    }
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      logType: self.logType,
      startDate,
      endDate,
    };
  }
  dateValueChange(val: any) {
    let self = this;
    console.log(val);
    console.log(self.dateValue);
    self.init();
  }
  seachTreeData(newVal: any) {
    console.log(newVal);
  }

  updateParamers(data: any) {
    console.log(data);
  }

  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
  .demonstration {
    margin-right: 5px;
    margin-left: 5px;
  }
}
</style>
