<template>
  <py-structure
    :tree-datas="treeDatas"
    class="SystemFunction"
    title="功能目录"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_click="nodeclick"
  >
    <py-tag-view :list="tabList">
      <div slot="header" class="SearchFilter">
        <div class="myHeaderInput">
          <el-input
            class="input-with-select"
            suffix-icon="el-icon-search"
            @change="onSearch"
            @keydown.enter.native="onSearch"
            v-model="formValue"
            size="mini"
          >
            <el-select
              class="mySelect"
              v-model="formKey"
              slot="prepend"
              placeholder="选择条件"
            >
              <el-option label="编号" value="name"></el-option>
              <el-option label="名称" value="title"></el-option>
              <el-option label="地址" value="path"></el-option>
            </el-select>
          </el-input>
        </div>
        <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
          <i class="fa fa-refresh"></i>
          <span>刷新</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="addClick">
          <i class="fa fa-plus"></i>
          <span>新增</span>
        </a>
      </div>
      <div
        slot="SystemFTable"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-system-table
          :height="height"
          :datas="tableList"
          @_edit="editClick"
          @_delete="deleteClick"
        ></py-system-table>
      </div>
    </py-tag-view>
    <py-system-view
      :ishow="isSystemView"
      :datas="systemDatas"
      :type="systemType"
      :tree="treeDatas"
      @_save="getList"
    ></py-system-view>
  </py-structure>
</template>

<script lang="ts">
import SystemView from "@/components/SystemManagement/SystemFView.vue";
import { Input, Select, Option } from "element-ui";
import TagView from "@/components/TagView.vue";
import SystemTable from "@/components/SystemManagement/SystemFTable.vue";
import LeftRightStructure from "@/components/LeftRightStructure2.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pySystemTable: SystemTable,
    pySystemView: SystemView,
    elInput: Input,
    elSelect: Select,
    elOption: Option,
  },
})
export default class SystemFunction extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "label",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "SystemFTable",
      label: "功能信息",
    },
  ];
  @Provide() formValue: string = "";
  @Provide() formKey: string = "";

  created() {
    console.log("created");
    this.getMenusTree();
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  getMenusTree() {
    let self = this;
    self.get("menusTree", null, null).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { list } = d.data;
        self.setTreeData(list);
      }
    });
  }

  @Provide() isSystemView: boolean = false;
  @Provide() systemDatas: any = {};
  @Provide() systemType: string = "add";
  editClick(row: any) {
    console.log("edit", row);
    this.systemType = "edit";
    this.systemDatas = row;
    this.isSystemView = !this.isSystemView;
  }
  addClick() {
    console.log("add");
    this.systemType = "edit";
    this.systemDatas = {};
    this.isSystemView = !this.isSystemView;
  }
  deleteClick() {
    this.init();
  }
  init() {
    let self = this;
    self.getList();
  }
  @Provide() tid: string = "";
  @Provide() vCode: string = "";
  @Provide() tName: string = "";
  @Provide() address: string = "";

  getReqs() {
    let self = this;
    return {
      id: self.tid,
      name: self.vCode,
      title: self.tName,
      path: self.address,
    };
  }
  @Provide() tableList: any = [];
  getList() {
    let self = this;
    let req = self.getReqs();
    self.get("menusList", req, null).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { list } = d.data;
        self.tableList = list;
      }
    });
  }
  nodeclick(newVal: any) {
    console.log(newVal);
    let { id } = newVal;
    this.tid = id;
    this.getList();
  }
  seachTreeData(newVal: any) {
    console.log(newVal);
    let self = this;

    self.tid = newVal;
    self.getList();
  }
  onSearch() {
    let self = this;
    let key = self.formKey;
    let value = self.formValue;
    if (!key) {
      key = "name";
    }
    if (key == "name") {
      self.vCode = value;
      self.tName = "";
      self.address = "";
    } else if (key == "title") {
      self.vCode = "";
      self.tName = value;
      self.address = "";
    } else if (key == "path") {
      self.vCode = "";
      self.tName = "";
      self.address = value;
    }
    this.getList();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  refreshClick() {
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
}
.myHeaderInput {
  display: inline-block;
  width: 260px;
}
</style>
