<template>
  <py-structure
    :tree-datas="treeDatas"
    class="DeviceHistoryData"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList" @_active="tagActive">
      <div slot="header" class="SearchFilter">
        <span class="demonstration">查询条件</span>
        <el-date-picker
          v-model="dateValue"
          type="daterange"
          align="right"
          unlink-panels
          size="mini"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions2"
          @change="dateValueChange"
        >
        </el-date-picker>
        <div class="myHeaderInput">
          <el-input
            class="input-with-select"
            suffix-icon="el-icon-search"
            @change="onSearch"
            @keydown.enter.native="onSearch"
            v-model="keywords"
            placeholder="关键字搜索"
            size="mini"
          ></el-input>
        </div>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="excelExportClick"
        >
          <i class="fa fa-file-text-o"></i>
          <span>Excel导出</span>
        </a>
      </div>
      <div
        slot="wireless"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-wirelessView
          :height="height"
          :datas="wDatas"
          :page="wPage"
          @_rowclick="rowClick"
          @_update="updateParamters"
        ></py-wirelessView>
      </div>
      <div
        slot="electricity"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-electricity
          :height="height"
          :datas="eDatas"
          :page="ePage"
          @_update="updateParamters"
        ></py-electricity>
      </div>
    </py-tag-view>
    <py-data-export
      :ishow="isDataExport"
      url="armHisExport"
      :params="dataExportParams"
      :filters="dataExportFilter"
    ></py-data-export>
    <py-devicelog-view :ishow="isView" :datas="viewData"></py-devicelog-view>
  </py-structure>
</template>

<script lang="ts">
import {
  getWireColumns,
  getElecColumns,
} from "@/components/DataMonitoring/Columns";
import DevicelogView from "@/components/InformationService/DevicelogView.vue";
import DataExport from "@/components/DataExport.vue";
import { DatePicker, Input } from "element-ui";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import WirelessView from "@/components/InformationService/WirelessSmokeSensing.vue";
import Electricity from "@/components/InformationService/ElectricitySonitoring.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyWirelessView: WirelessView,
    pyElectricity: Electricity,
    pyDataExport: DataExport,
    pyDevicelogView: DevicelogView,
    elDatePicker: DatePicker,
    elInput: Input,
  },
})
export default class DeviceHistoryData extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;

  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };
  @Provide() dateValue: any = [];

  @Provide() activeType = "wireless"; // "wireless",electricity
  @Provide() organizeId = "";
  @Provide() pageSize = 20;
  @Provide() pageNum = 1;
  @Provide() warnStatus = "";
  @Provide() orderBy = "";
  @Provide() sort = "";

  @Provide() wDatas: any = [];
  @Provide() wPage: any = {};
  @Provide() eDatas: any = [];
  @Provide() ePage: any = {};

  @Provide() fullscreenLoading: boolean = false;

  created() {
    let self = this;
    self.getTree();
  }
  mounted() {
    this.init();
  }
  @Provide() keywords: string = "";
  onSearch() {
    let self = this;

    this.getList();
  }
  dateValueChange() {
    let self = this;
    // console.log(self.dateValue);
    self.getList();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.warnStatus = "";
    self.orderBy = "";
    self.sort = "";
    // let treeData = require("../../components/DataMonitoring/LeftTree");
    // self.setTreeData(treeData);
    self.getList();
  }
  @Provide() isView: boolean = false;
  @Provide() viewData: any = {};
  rowClick(row: any) {
    console.log("197", row);
    this.viewData = row;
    this.isView = !this.isView;
  }
  updateParamters(val: any) {
    let self: any = this;
    for (let key in val) {
      self[key] = val[key];
    }
    this.getList();
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [];
  excelExportClick() {
    // armExport
    let self = this;
    let req = self.getReqs();
    try {
      self.dataExportFilter = req;
      let dataExportParams = [];
      if (self.activeType == "electricity") {
        dataExportParams = getWireColumns();
      } else {
        dataExportParams = getElecColumns();
      }
      self.dataExportParams = dataExportParams;

      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  getReqs(): any {
    let self = this;
    let startDate = "";
    let endDate = "";
    if (self.dateValue.length > 1) {
      startDate = self.dateValue[0];
      endDate = self.dateValue[1];
    }
    let productType = "烟感";
    if (self.activeType == "electricity") {
      productType = "电气火灾";
    }
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      productType: productType, //'烟感',
      organizeId: self.organizeId,
      startDate: startDate,
      endDate: endDate,
      warnStatus: self.warnStatus,
      keywords: self.keywords,
    };
  }
  getList() {
    let self = this;
    self.fullscreenLoading = true;
    let oldDate = new Date().getTime();
    let req = self.getReqs();
    self.get("historyList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let defaultData = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        console.log(d);
        if (self.activeType == "electricity") {
          self.eDatas = defaultData.list;
          self.ePage = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
        } else {
          self.wDatas = defaultData.list;
          self.wPage = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
        }
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  tagActive(val: any) {
    let name = val.name;
    this.activeType = name;
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
  .demonstration {
    margin-right: 5px;
  }
}
</style>
