<template>
  <py-structure
    :tree-datas="treeDatas"
    class="DeviceCommunicationLog"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList">
      <div slot="header" class="SearchFilter">
        <span class="demonstration">查询条件</span>
        <el-date-picker
          v-model="dateValue"
          type="daterange"
          align="right"
          unlink-panels
          size="mini"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions2"
          @change="dateValueChange"
        >
        </el-date-picker>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="excelExportClick"
        >
          <i class="fa fa-file-text-o"></i>
          <span>Excel导出</span>
        </a>
      </div>
      <div
        slot="DeviceCommunicationLog"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-device-log
          :height="height"
          :datas="dDatas"
          :page="dPage"
          @_update="updateParamters"
        ></py-device-log>
      </div>
    </py-tag-view>
    <py-data-export
      :ishow="isDataExport"
      url="armHisExport"
      :params="dataExportParams"
      :filters="dataExportFilter"
    ></py-data-export>
  </py-structure>
</template>

<script lang="ts">
import { getDLogColumns } from "@/components/InformationService/Columns";
import DataExport from "@/components/DataExport.vue";
import { DatePicker } from "element-ui";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import DeviceLog from "@/components/InformationService/DeviceLog.vue";

import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyDeviceLog: DeviceLog,
    pyDataExport: DataExport,
    elDatePicker: DatePicker,
  },
})
export default class DeviceCommunicationLogView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;

  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "DeviceCommunicationLog",
      label: "设备通讯日志",
    },
  ];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };
  @Provide() dateValue: any = [];
  @Provide() organizeId = "";
  @Provide() pageSize = 20;
  @Provide() pageNum = 1;

  @Provide() orderBy = "";
  @Provide() sort = "";
  @Provide() addressCode = "";

  @Provide() dDatas: any = [];
  @Provide() dPage: any = {};
  @Provide() fullscreenLoading: boolean = false;
  created() {
    let self = this;
    self.getTree();
  }
  mounted() {
    this.init();
  }
  dateValueChange() {
    let self = this;
    // console.log(self.dateValue);
    self.getList();
  }

  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.orderBy = "";
    self.sort = "";
    // let treeData = require("../../components/DataMonitoring/LeftTree");
    // self.setTreeData(treeData);
    self.getList();
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [];
  excelExportClick() {
    let self = this;
    let req = self.getReqs();
    try {
      self.dataExportFilter = req;
      self.dataExportParams = getDLogColumns();
      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  updateParamters(val: any) {
    let self: any = this;
    for (let key in val) {
      self[key] = val[key];
    }
    this.getList();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  getReqs(): any {
    let self = this;
    let startDate = "";
    let endDate = "";
    if (self.dateValue.length > 1) {
      startDate = self.dateValue[0];
      endDate = self.dateValue[1];
    }

    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      organizeId: self.organizeId,
      startDate: startDate,
      endDate: endDate,
      addressCode: self.addressCode,
    };
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  getList() {
    let self = this;
    self.fullscreenLoading = true;
    let oldDate = new Date().getTime();
    let req = self.getReqs();
    self.get("commandList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let defaultData = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        console.log(d);
        self.dDatas = defaultData.list;
        self.dPage = {
          costtime: costtime,
          pageNum: defaultData.pageNum,
          pageSize: defaultData.pageSize,
          total: defaultData.total,
        };
      }
    });
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
}
</style>
