<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form
      ref="detailsForm"
      size="mini"
      :rules="rules"
      :model="formData"
      label-width="80px"
    >
      <el-row>
        <!--required-->
        <el-col :span="11">
          <el-form-item label="账户" required>
            <el-input
              v-model="formData.userName"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11" v-if="type == 'add'">
          <el-form-item label="密码" required>
            <el-input
              type="password"
              v-model="formData.password"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="单位" required>
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              :disabled="setDisabled"
              v-model="formData.organizeId"
            ></tree-select>
            <!-- <el-cascader
              class="CompanyCascader"
              :options="tree"
              size="mini"
              :filterable="true"
              :change-on-select="true"
              :props="CompanyProps"
              v-model="CompanyOptions"
              @change="handleCompanyChange"
            >
            </el-cascader> -->
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="角色" required>
            <el-select v-model="formData.roleId" :disabled="setDisabled">
              <el-option
                v-for="item in RoleOptions"
                :key="item.id"
                :label="item.label"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="工号">
            <el-input
              v-model="formData.encode"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="11">
          <el-form-item label="姓名" required>
            <el-input
              v-model="formData.realName"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="11">
          <el-form-item label="手机">
            <el-input
              v-model="formData.phone"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="电话">
            <el-input
              v-model="formData.tel"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="邮箱">
            <el-input
              v-model="formData.email"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="QQ">
            <el-input
              v-model="formData.qq"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="微信">
            <el-input
              v-model="formData.wx"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="MSN">
            <el-input
              v-model="formData.msn"
              placeholder="请输入"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22">
          <el-form-item label="备注">
            <el-input
              v-model="formData.remarks"
              type="textarea"
              :disabled="setDisabled"
              :row="5"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" v-if="!setDisabled" @click="sureClick"
        >确 定</el-button
      >
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>

<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import md5 from "js-md5";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
  Cascader,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    elCascader: Cascader,
    TreeSelect,
  },
})
export default class DetailsView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() test = "this is test";
  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};
  @Provide() rules: any = {};

  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.fullName,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }
  @Provide() CompanyOptions: any = [];

  @Provide() RoleOptions: any = [];
  created() {
    this.getRoleTree();
  }
  getRoleTree() {
    let self = this;
    self
      .get("rolesTree", null, null)
      .then((d: any) => {
        if (d.code == 10000) {
          self.RoleOptions = d.data.list;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }

  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));

    self.formData = defaultData;
    self.dialogVisible = true;
  }

  get mTitle(): string {
    if (this.type == "add") {
      return "添加用户";
    } else if (this.type == "edit") {
      return "编辑用户";
    } else if (this.type == "view") {
      return "查看用户";
    }
    return "提示";
  }
  get setDisabled(): boolean {
    if (this.type == "view") {
      return true;
    } else {
      return false;
    }
  }

  handleCompanyChange(val: any) {
    console.log(val);
  }
  sureClick() {
    let self = this;
    let CompanyOptions = self.CompanyOptions;
    let req = JSON.parse(JSON.stringify(self.formData));
    // req.organizeId = CompanyOptions.join(",");
    if (!req.userName) {
      self.$message.error("账户必填！");
      return;
    }
    if (!req.organizeId) {
      self.$message.error("单位必选！");
      return;
    }
    if (req.id) {
      self.updateUser(req);
    } else {
      self.addUser(req);
    }
  }
  addUser(req: any) {
    let self = this;
    req.password = md5(req.password);
    self
      .post("addUser", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          self.$message({
            showClose: true,
            message: "添加用户成功",
            type: "success",
          });

          self.saveSuccess();
        }
      })
      .catch((e) => {});
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  updateUser(req: any) {
    let self = this;
    let hisReq = {
      userId: req.id,
    };
    self
      .put("updateUser", req, hisReq)
      .then((d: any) => {
        if (d.code == 10000) {
          self.$message({
            showClose: true,
            message: "更新用户成功",
            type: "success",
          });
          self.saveSuccess();
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }

  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.DetailsView {
}
</style>
