<template>
  <el-dialog
    class="DetailsView MenusView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="角色菜单"
    append-to-body
  >
    <el-form ref="menuForm" size="mini">
      <py-system-func ref="menusFunction" 
          url="menusRole"
          :dmenus="menusFunc"
          :req="menusReq"
          ></py-system-func>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>

<script lang="ts">
import SystemFunc from '@/components/AuthorityManagement/SystemFunc.vue'
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Emit,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
import {
  Dialog,
  Form,
  FormItem,
  Row,
  Col,
  Button,
  Input,
} from "element-ui";
@Component({
  components: {
    elDialog: Dialog,
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elButton: Button,
    elInput: Input,
    pySystemFunc: SystemFunc,
  },
})
export default class MenusView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;

  @Provide() test = "this is test";
  @Provide() dialogVisible: boolean = false;
  @Provide() treeDatas: any = [];
  @Provide() roleId: string = "";
  @Provide() defaultChecked: any = [];
  @Provide() menus: any = [];
  @Provide() menusTreeReq: any = {
    ids: []
  }
  @Provide() filterValue: string = "";
  @Provide() StepsDatas:any = [
    {
      id: "function",
      title: "系统功能"
    },{
      id: "btn",
      title: "系统按钮"
    }
  ]

  prevClick () {
    let stepsView:any = this.$refs['stepsView']
    stepsView.prevClick()
  }
  nextClick () {
    let stepsView:any = this.$refs['stepsView']
    stepsView.nextClick()
  }
  created() {
  }
  @Provide() menusFunc:any = []
  @Provide() menusReq:any = {}
  init() {
    let self = this;
    
    let { menus, id } = JSON.parse(JSON.stringify(self.datas));
   
    self.roleId = id;
    
    let menusFunc = menus.map((item:any) => {
      return item.id
    });
    self.menusFunc = menusFunc
    self.menusReq = {
      roleId: id
    }
    self.dialogVisible = true;
    self.$nextTick(() => {
      let menusFunction:any = self.$refs['menusFunction']
      menusFunction.getMenusTree()
    })
    
  }
  
  
  sureClick() {
    let self = this;
    let menusFunction:any = self.$refs['menusFunction']
    let menusf:any = menusFunction.updateValue()
    console.log(menusf)
    let menus = menusf
    let hisReq = {
      roleId: self.roleId,
      menus: menus.join(","),
    };
    self.post("roleMenusUpdate", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "修改角色菜单成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.stepsMain{
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

</style>
