<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form ref="detailsForm" size="mini" :model="formData" label-width="90px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="父级">
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              v-model="formData.parentId"
            ></tree-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="单位名称">
            <el-input v-model="formData.fullName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="单位简称">
            <el-input v-model="formData.shortName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="单位性质">
            <el-input v-model="formData.nature"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item label="联系电话">
            <el-input v-model="formData.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="邮箱">
            <el-input v-model="formData.email"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="负责人">
            <el-input v-model="formData.userRealName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="省/市/县(区)">
            <el-select
              v-model="formData.provinceId"
              clearable
              filterable
              placeholder="请选择省"
              @change="provinceChange"
            >
              <el-option
                v-for="item in province"
                :key="item.areaCode + 'province'"
                :label="item.areaName"
                :value="item.areaCode"
              ></el-option>
            </el-select>
            <el-select
              v-model="formData.cityId"
              clearable
              filterable
              placeholder="请选择市"
              @change="cityChange"
            >
              <el-option
                v-for="item in city"
                :key="item.areaCode + 'city'"
                :label="item.areaName"
                :value="item.areaCode"
              ></el-option>
            </el-select>
            <el-select
              v-model="formData.countyId"
              clearable
              filterable
              placeholder="请选择县（区）"
            >
              <el-option
                v-for="item in county"
                :key="item.areaCode + 'county'"
                :label="item.areaName"
                :value="item.areaCode"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="详细地址">
            <el-input v-model="formData.address"></el-input>
          </el-form-item>
        </el-col>
        <!-- 118.68274056798198, 32.03886624909366 -->
        <el-col :span="24">
          <el-form-item label="xyScale">
            <el-input v-model="formData.xyScale"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人1">
            <el-input v-model="formData.defend1"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人手机1">
            <el-input v-model="formData.defendMobile1"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人2">
            <el-input v-model="formData.defend2"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人手机2">
            <el-input v-model="formData.defendMobile2"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人3">
            <el-input v-model="formData.defend3"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人手机3">
            <el-input v-model="formData.defendMobile3"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="角色">
            <el-select v-model="formData.roleId">
              <el-option
                v-for="item in roleList"
                :key="item.id + 'role'"
                :label="item.label"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="备注">
            <el-input type="textarea" v-model="formData.remarks"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";

@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    TreeSelect,
  },
})
export default class NetworkingDialog extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};

  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.fullName,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }

  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    this.getRolesTree();
    this.getAreaList("", "province");
    this.getDictType("nature");
    if (defaultData.id) {
      self.getDetails(defaultData.id);
    } else {
      self.formData = {};
    }

    self.dialogVisible = true;
  }

  @Provide() province: any = [];
  @Provide() city: any = [];
  @Provide() county: any = [];

  @Provide() nature: any = [];
  @Provide() roleList: any = [];

  getDictType(dictType: string) {
    let self = this;
    let hisReq = {
      dictType,
    };
    self.get("dictType", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        console.log();
      }
    });
  }
  getRolesTree() {
    let self = this;
    self.get("rolesTree", null, null).then((d: any) => {
      if (d.code == 10000) {
        let { list } = d.data;
        self.roleList = list;
      }
    });
  }
  getAreaList(pid: string, type: string) {
    let self: any = this;
    let req = {
      parentId: pid,
    };
    self.get("areaList", req, null).then((d: any) => {
      if (d.code == 10000) {
        let { list } = d.data;
        self[type] = list;
      }
    });
  }
  setDefaultAddress(data: any) {
    let provinceId = data.provinceId; // 省
    let cityId = data.cityId; // 市
    let countyId = data.countyId; // 县
    if (provinceId) {
      this.getAreaList(provinceId, "city");
    }
    if (cityId) {
      this.getAreaList(cityId, "county");
    }
  }
  provinceChange(val: string) {
    this.getAreaList(val, "city");
  }
  cityChange(val: string) {
    this.getAreaList(val, "county");
  }
  getDetails(organizeId: string) {
    let self = this;
    let hisReq = {
      organizeId: organizeId,
    };
    self.get("updateOrganize", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        self.formData = data;
        self.setDefaultAddress(data);
      }
    });
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "添加单位";
    } else if (this.type == "edit") {
      return "编辑单位";
    } else if (this.type == "view") {
      return "查看单位";
    }
    return "提示";
  }
  sureClick() {
    let self = this;
    let req = self.formData;
    if (!req.fullName) {
      self.$message.error("单位名称必填！");
      return;
    }

    if (this.type == "edit") {
      self.updateClick(req);
    } else {
      self.addClick(req);
    }
  }
  addClick(req: any) {
    let self = this;
    let url = "addOrganize";
    self.post(url, req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加用户成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  updateClick(req: any) {
    let self = this;
    let hisReq = {
      organizeId: req.id,
    };
    self.put("updateOrganize", req, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "修改用户成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    console.log(newVal);
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>