<template>
  <div class="NetworkingUnitTable myTable">
    <el-table
      :data="treeData"
      :height="myHeight"
      border
      style="width: 100%"
      size="small"
      :fit="true"
      ref="MyTreeTable"
      :row-class-name="rowClassName"
    >
      <el-table-column
        header-align="center"
        type="index"
        width="60"
        align="center"
        label="#"
      ></el-table-column>
      <el-table-column header-align="center" label="操作" width="160px">
        <template slot-scope="{ row }">
          <a
            href="javascript:void(0);"
            @click="editClick(row)"
            class="oPerClick"
            title="编辑"
          >
            <i class="fa fa-edit"></i>
            <span>编辑</span>
          </a>
          <a
            href="javascript:void(0);"
            @click="deleteClick(row)"
            class="oPerClick"
            title="删除"
          >
            <i class="fa fa-trash-o"></i>
            <span>删除</span>
          </a>
        </template>
      </el-table-column>
      <el-table-column prop="fullName" label="单位名称" width="320">
        <template slot-scope="{ row }">
          <div>
            <span v-for="i in row.level" :key="i" class="fullnameZW"></span>
            <span
              v-if="row.expanded"
              class="fa fa-caret-down"
              @click="toggleRow(row, $event)"
            ></span>
            <span v-else style="padding: 6px"></span>
            <span v-text="row.fullName"></span>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        prop="shortName"
        label="单位简称"
        width="180"
      ></el-table-column>
      <el-table-column
        prop="nature"
        label="单位性质"
        width="180"
      ></el-table-column>
      <el-table-column
        prop="userRealName"
        label="负责人"
        width="220"
      ></el-table-column>
      <el-table-column
        prop="roleName"
        label="角色"
        width="120"
      ></el-table-column>
      <el-table-column prop="defend1" label="联系人1"></el-table-column>
      <el-table-column
        prop="defendMobile1"
        label="联系手机1"
        width="180px"
      ></el-table-column>
      <el-table-column prop="defend2" label="联系人2"></el-table-column>
      <el-table-column
        prop="defendMobile2"
        label="联系手机2"
        width="180px"
      ></el-table-column>
      <el-table-column prop="defend3" label="联系人3"></el-table-column>
      <el-table-column
        prop="defendMobile3"
        label="联系手机3"
        width="180px"
      ></el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import $ from "jquery";
import { Table, TableColumn } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Emit,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTable: Table,
    elTableColumn: TableColumn,
  },
})
export default class NetworkingUnitTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Provide() test = "this is test";
  @Provide() treeData: any = [];
  @Provide() myHeight: number = 0;
  @Provide() columns: any = [
    {
      text: "",
      value: "",
    },
  ];
  mounted() {}
  init(list: any) {
    let self = this;
    let height = $(".myTable").height();
    self.myHeight = height;
    let data = list;
    this.treeData = data;
  }
  rowClassName({ row, rowIndex }: any): string {
    let ParentListId = row.parents || "";
    let OrganizeId = row.id;
    let className = "";
    let list = ParentListId.split(",");
    for (let i = 0; i < list.length; i++) {
      if (list[i] && list[i] != OrganizeId) {
        className += "parentListClass_" + list[i] + " ";
      }
    }
    return className;
  }
  @Emit("_edit")
  editClick(row: any) {
    return row;
  }
  @Emit("_delete")
  deleteClick(row: any) {
    return row;
  }
  toggleRow(row: any, event: any) {
    console.log(row, event);
    let OrganizeId = row.id;
    let className = ".parentListClass_" + OrganizeId;
    if (row.isHide) {
      row.isHide = false;
      $(event.target).removeClass("active");
      $(className).each(function () {
        $(this).find(".fa-caret-down").removeClass("active");
        $(this).stop().slideDown();
      });
    } else {
      row.isHide = true;
      $(event.target).addClass("active");
      $(className).each(function () {
        $(this).find(".fa-caret-down").addClass("active");
        $(this).stop().slideUp();
      });
    }
  }
}
</script>
<style lang="scss" scoped>
.fullnameZW {
  display: inline-block;

  padding: 6px;
}
.fa-caret-down.active {
  transition: all 0.5s;
  transform: rotate(-90deg);
}
.fa-caret-down {
  margin-left: 0px;
  margin-right: 8px;
  cursor: pointer;
}
.oPerClick {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
}
.fa {
  font-size: 18px;
  margin-right: 3px;
}
</style>
