<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="重置密码"
    append-to-body
  >
    <el-form size="mini" :model="formData" label-width="120px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="账户">
            <el-input :disabled="true" v-model="formData.userName"></el-input>
          </el-form-item>
          <el-form-item label="姓名">
            <el-input :disabled="true" v-model="formData.realName"></el-input>
          </el-form-item>
          <el-form-item label="新密码">
            <el-input v-model="formData.password"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>

<script lang="ts">
import md5 from "js-md5";
import { Dialog, Form, FormItem, Input, Button, Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elButton: Button,
    elRow: Row,
    elCol: Col,
  },
})
export default class ResetView extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: Boolean, default: false })
  ishow: boolean;

  @Provide() test = "this is test";
  @Provide() dialogVisible: boolean = false;
  @Provide() formData: any = {};

  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.formData = defaultData;
    self.dialogVisible = true;
  }
  sureClick() {
    let self = this;
    let req = JSON.parse(JSON.stringify(self.formData));
    console.log(req);
    if (!req.password) {
      self.$message.error("密码不能为空！");
    }
    let newReq = {
      userId: req.id,
      password: md5(req.password),
    };
    self.post("resetPass2", newReq, null).then(({ code }: any) => {
      if (code == 10000) {
        self.$message({
          message: "重置密码成功",
          type: "success",
        });
        self.dialogVisible = false;
      }
    });
  }

  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
