<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-bodydiv
  >
    <el-form ref="roleEdit" size="mini" :model="formData" label-width="120px">
      <el-row>
        <!-- <el-col :span="20">
          <el-form-item label="所在公司" required></e-form-item>
        </el-col> -->
        <!-- <el-col :span="20">
          <el-form-item label="角色编号" required></e-form-item>
        </el-col> -->
        <el-col :span="20">
          <el-form-item label="角色名称" required>
            <el-input v-model="formData.name" placeholder="请输入"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="20">
          <el-form-item label="角色编号" required>
            <el-input v-model="formData.code" placeholder="请输入"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="是否公开" required>
            <el-switch v-model="formData.isPublic"></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="是否有效" required>
            <el-switch v-model="formData.enable"></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="20">
          <el-form-item label="角色描述" required>
            <el-input
              v-model="formData.remarks"
              type="textarea"
              :row="5"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>

<script lang="ts">
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Row,
  Col,
  Input,
  Switch,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Emit,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elInput: Input,
    elSwitch: Switch,
  },
})
export default class RoleEdit extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  type: string;

  @Provide() test = "this is test";
  @Provide() dialogVisible: boolean = false;
  @Provide() formData: any = {};

  get mTitle(): string {
    if (this.type == "add") {
      return "添加角色";
    } else if (this.type == "edit") {
      return "编辑角色";
    }
    return "添加角色";
  }

  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.formData = defaultData;

    self.dialogVisible = true;
  }
  sureClick() {
    let self = this;
    let req = {
      name: self.formData.name,
      remarks: self.formData.remarks,
    };
    if (!req.name) {
      self.$message.error("角色名称必填！");
      return;
    }
    let id = self.formData.id;
    console.log(req);
    if (id) {
      self.saveUpdate(req, id);
    } else {
      self.saveAdd(req);
    }
  }
  saveAdd(req: any) {
    let self = this;
    self.post("rolesList", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加角色成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }
  saveUpdate(req: any, id: string) {
    let self = this;
    let hisReq = {
      id: id,
    };
    self.put("rolesOper", req, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "更新角色成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
