<template>
  <div
    class="RoleTable"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <my-table
      :ispage="true"
      :page-config="pageConfig"
      :columns="columns"
      :datas="tableData"
      @_sizechange="sizeChange"
      @_currentchange="currentChange"
    ></my-table>
    <role-edit
      :ishow="isEditView"
      :datas="editData"
      :type="viewType"
      @_save="getRole"
    ></role-edit>
    <menus-view
      :ishow="isMenuView"
      :datas="menuData"
      @_save="getRole"
    ></menus-view>
  </div>
</template>

<script lang="ts">
import RoleEdit from "./RoleEdit.vue";
import MyTable from "@/components/MyTable.vue";
import MenusView from "./MenusView.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
    RoleEdit,
    MenusView,
  },
})
export default class RoleTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;

  @Provide() test = "this is test";
  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      type: "button",
      width: "240px",
      label: "操作",
      headerAlign: "center",
      buttons: [
        {
          text: "编辑",
          icon: "fa-edit",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          text: "删除",
          icon: "fa-trash-o",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
        {
          text: "角色授权",
          icon: "fa-gavel",
          onClick: (row: any) => {
            this.toAuthorizationClick(row);
          },
        },
      ],
    },
    {
      prop: "id",
      label: "角色ID",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "code",
      label: "角色编号",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "name",
      label: "角色名称",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "createTime",
      label: "创建时间",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "updateTime",
      label: "修改时间",
      headerAlign: "center",
      align: "center",
    },
    // {
    //   prop: "IsPublic",
    //   label: "公共",
    //   headerAlign: "center",
    //   align: "center",
    //   type: "boolean",
    // },
    // {
    //   prop: "EnabledMark",
    //   label: "有效",
    //   headerAlign: "center",
    //   align: "center",
    //   type: "boolean",
    // },
    {
      prop: "remarks",
      label: "角色备注",
      headerAlign: "center",
      align: "left",
    },
  ];
  @Provide() pageConfig: any = {};
  @Provide() fullscreenLoading: boolean = false;
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() keyword: string = "";

  @Provide() isEditView: boolean = false;
  @Provide() editData: any = {};
  @Provide() viewType: string = "add";

  @Provide() isMenuView: boolean = false;
  @Provide() menuData: any = {};

  mounted() {
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.keyword = "";
    // let data = require("./List2.json");
    // console.log(data);
    // this.tableData = data.rows;
    // let pageConfig = {
    //   costtime: data.costtime,
    //   pageIndex: 1,
    //   records: data.records,
    //   total: data.total,
    // };
    // self.pageConfig = pageConfig;
    self.getRole();
  }
  toAuthorizationClick(row: any) {
    let self = this;
    console.log(row);
    self.menuData = row;
    self.isMenuView = !self.isMenuView;
  }
  editClick(row: any) {
    let self = this;
    self.editData = row;
    self.viewType = "edit";
    self.isEditView = !self.isEditView;
  }
  deleteClick(row: any) {
    let self = this;
    self
      .$confirm("是否删除此角色？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let req = {
          id: row.id,
        };
        self.delete("rolesOper", null, req).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除角色成功！！",
              type: "success",
            });
            self.getRole();
          }
        });
      });
  }
  sizeChange(num: number) {
    let self = this;
    self.pageNum = 1;
    self.pageSize = num;
    console.log("200", num);
    self.getRole();
  }
  currentChange(num: number) {
    let self = this;
    self.pageNum = num;
    console.log("206", num);
    self.getRole();
  }
  getRole() {
    let self = this;
    let req = {
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      keyword: self.keyword,
    };
    self.fullscreenLoading = true;
    let oldDate = new Date().getTime();
    self
      .get("rolesList", req, null)
      .then((d: any) => {
        self.fullscreenLoading = false;
        if (d.code == 10000) {
          let defaultData = d.data;
          let newDate = new Date().getTime();
          let costtime = newDate - oldDate;
          self.tableData = defaultData.list;
          let pageConfig = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
          self.pageConfig = pageConfig;
        }
      })
      .then((e) => {
        console.log(e);
      });
  }
  addClick() {
    let self = this;
    self.editData = {};
    self.viewType = "type";
    self.isEditView = !self.isEditView;
  }
  searchTable(req: any) {
    let self: any = this;
    for (let key in req) {
      self[key] = req[key];
    }

    self.getRole();
  }
}
</script>
<style lang="scss" scoped>
.RoleTable {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
