<template>
  <el-row>
        <el-col :span="24" style="margin-bottom: 10px">
          <el-input
            size="mini"
            placeholder="请输入内容"
            suffix-icon="el-icon-search"
            v-model="filterValue"
            @input="inputChange"
          />
        </el-col>
        <el-col class="treeMain" :span="24">
          <el-tree
            ref="menuTree"
            :data="treeDatas"
            :props="defaultProps"
            :default-expand-all="true"
            :indent="10"
            node-key="id"
            show-checkbox
            :default-checked-keys="defaultChecked"
            :expand-on-click-node="false"
            :filter-node-method="filterNode"
            @check-change="checkChange"
            @node-click="handleNodeClick"
          ></el-tree>
        </el-col>
      </el-row>
</template>
<script lang="ts">
import treeToArray from "@/components/TreeTable/eval";
import { Row, Col, Tree, Input } from 'element-ui'
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    elTree: Tree,
    elInput: Input
  },
})
export default class SystemFunc extends Mixins(commMixins) {

  @Prop({type:Array, default: () => []})
  dmenus:any
  @Prop({type: Object,default: () => {}})
  req:any
  @Prop({type:String,default:''})
  url:string

  @Provide() filterValue:string = ''
  @Provide() treeDatas:any = []
  @Provide() menus:any = []
  @Provide() defaultChecked: any = [];
  @Provide() defaultProps: any = {
    label: "title",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  mounted () {
    // this.getMenusTree()
  }
  getMenusTree () {
    let self = this
    self.get(this.url, null, this.req)
    .then(({code, data}:any) => {
      if (code == 10000) {
        let { list } = data
        self.treeDatas = list
        let newLlist = treeToArray(list)
        let menusList = newLlist.filter((item) => {
          return item.selected
        })
        let menus = menusList.map((item) => {
          return item.id
        })
        self.init(menus)
      }
    })
  }
  inputChange() {
    let self = this;
    let value = self.filterValue;
    let tree: any = this.$refs["menuTree"];
    tree.filter(value);
  }
  filterNode(value: any, data: any) {
    if (!value) return true;
    return data.name.indexOf(value) !== -1;
  }
  handleNodeClick(data: any): any {
    console.log(data)
    let req = {
      id: data.id,
      name: data.title,
    };
    return req;
  }
  getIndex(id: string) {
    let self = this;
    let menus = JSON.parse(JSON.stringify(self.menus));
    for (let i = 0; i < menus.length; i++) {
      let menu = menus[i];
      if (menu == id) {
        return i;
      }
    }
    return -1;
  }
  checkChange(a: any, b: any, c: any) {
    console.log(a,b,c)
    let self = this;
    let row = a;
    let id = row.id;
    if (b) {
      // 选中
      self.menus.push(id);
    } else {
      // 取消
      let index = self.getIndex(id);
      self.menus.splice(index, 1);
    }
  }
  updateValue () {
    return this.menus
  }
  // @Watch('dmenus', {immediate:true, deep:true})
  init (newVal:any) {
    console.log(newVal)
    let newDefault = JSON.parse(JSON.stringify(newVal))
    this.menus = newDefault
    this.defaultChecked = newDefault
  }
  @Watch('req',  {immediate:true, deep:true})
  reqWatch () {
    // this.getMenusTree()
  }
}
</script>