<template>
   <el-row>
        <el-col :span="24" style="margin-bottom: 10px">
          <el-input
            size="mini"
            placeholder="请输入内容"
            suffix-icon="el-icon-search"
            v-model="filterValue"
            @input="inputChange"
          />
        </el-col>
        <el-col class="treeMain" :span="24">
          <el-tree
            ref="menuTree"
            :data="treeDatas"
            :props="defaultProps"
            :default-expand-all="true"
            :indent="10"
            node-key="id"
            show-checkbox
            :default-checked-keys="defaultChecked"
            :expand-on-click-node="false"
            :filter-node-method="filterNode"
            @check-change="checkChange"
            @node-click="handleNodeClick"
          ></el-tree>
        </el-col>
      </el-row>
</template>
<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {

  },
})
export default class SystemBtns extends Mixins(commMixins) {}
</script>