<template>
  <div
    class="UserTable"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <my-table
      :ispage="true"
      :page-config="pageConfig"
      :columns="columns"
      :datas="tableData"
      @_sizechange="sizeChange"
      @_currentchange="currentChange"
    ></my-table>

    <details-view
      :ishow="isEditView"
      :datas="editData"
      :tree="tree"
      :type="viewType"
      @_save="addOrUpdate"
    ></details-view>
    <reset-view :ishow="isResetView" :datas="resetData"></reset-view>
  </div>
</template>

<script lang="ts">
import DetailsView from "./DetailsView.vue";
import ResetView from "./ResetView.vue";
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
    DetailsView,
    ResetView,
  },
})
export default class UserTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() realName: string = "";
  @Provide() userName: string = "";
  @Provide() phone: string = "";
  @Provide() tableData: any = [];
  @Provide() fullscreenLoading: boolean = false;
  @Provide() columns: any = [
    {
      type: "button",
      width: "300px",
      label: "操作",
      headerAlign: "center",
      buttons: [
        {
          text: "编辑",
          icon: "fa-edit",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          text: "查看",
          icon: "fa-file-text-o",
          onClick: (row: any) => {
            this.viewClick(row);
          },
        },
        {
          text: "删除",
          icon: "fa-trash-o",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
        {
          text: "重置密码",
          icon: "fa-key",
          onClick: (row: any) => {
            this.resetPwdClick(row);
          },
        },
      ],
    },
    // {
    //   prop: "avatar",
    //   label: "头像",
    //   headerAlign: "center",
    //   align: "left",
    //   width: "60px",
    //   type: "useImg",
    // },
    {
      prop: "userName",
      label: "账户",
      headerAlign: "center",
      align: "left",
      width: "160px",
    },
    {
      prop: "realName",
      label: "姓名",
      headerAlign: "center",
      align: "left",
      width: "160px",
    },
    {
      prop: "phone",
      label: "手机号",
      headerAlign: "center",
      align: "center",
      width: "160px",
    },
    {
      prop: "roleName",
      label: "角色",
      headerAlign: "center",
      align: "left",
      width: "120px",
    },
    {
      prop: "enabled",
      label: "账号状态",
      headerAlign: "center",
      align: "center",
      type: "boolean",
      onClick: (row: any) => {
        this.enabledClick(row);
      },
    },
    {
      prop: "loginStatus",
      label: "登录状态",
      headerAlign: "center",
      align: "center",
      type: "boolean",
    },
    {
      prop: "loginCount",
      label: "登录次数",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "lastVisit",
      label: "上一次登录时间",
      headerAlign: "center",
      align: "center",
      width: "160px",
    },
    {
      prop: "lastIp",
      label: "上一次登录IP",
      headerAlign: "center",
      align: "center",
      width: "160px",
    },
    {
      prop: "firstVisit",
      label: "第一次登录时间",
      headerAlign: "center",
      align: "center",
      width: "160px",
    },
    {
      prop: "firstIp",
      label: "第一次登录IP",
      headerAlign: "center",
      align: "center",
      width: "160px",
    },
    {
      prop: "remarks",
      label: "备注",
      headerAlign: "center",
      align: "left",
      width: "220px",
    },
  ];
  @Provide() isEditView: boolean = false;
  @Provide() editData: any = {};
  @Provide() viewType: string = "add";
  @Provide() organizeId: string = "";

  @Provide() pageConfig: any = {};

  @Provide() isResetView: boolean = false;
  @Provide() resetData: any = {};
  mounted() {
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.realName = "";
    self.userName = "";
    self.phone = "";
    self.tableData = [];

    self.getUser();
    // let defaultData = JSON.parse(JSON.stringify(self.datas));

    // //let data = require("./List3.json");
    // let list = defaultData.list || [];
    // self.tableData = list;
    // let pageConfig = {
    //   costtime: defaultData.costtime,
    //   pageNum: defaultData.pageNum,
    //   pageSize: defaultData.pageSize,
    //   total: defaultData.total,
    // };
    // self.pageConfig = pageConfig;
  }

  resetPwdClick(row: any) {
    this.resetData = {
      userName: row.userName,
      realName: row.realName,
      id: row.id,
    };
    this.isResetView = !this.isResetView;
  }

  enabledClick(row: any) {
    let self = this;
    let text = "";
    let url = "";
    if (row.enabled) {
      text = "是否停用此用户？";
      url = "disableUsers";
    } else {
      text = "是否启用此用户？";
      url = "enableUsers";
    }
    self
      .$confirm(text, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let hisReq = {
          userId: row.id,
        };
        self.post(url, null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "操作成功！！",
              type: "success",
            });
            self.getUser();
          }
        });
      });
  }

  sizeChange(num: number) {
    let self = this;
    self.pageNum = 1;
    self.pageSize = num;
    console.log("200", num);
    self.getUser();
  }
  currentChange(num: number) {
    let self = this;
    self.pageNum = num;
    console.log("206", num);
    self.getUser();
  }
  // 新增
  addClick() {
    let self = this;
    // console.log("新增");
    self.editData = {};
    self.viewType = "add";
    self.isEditView = !self.isEditView;
  }
  // 编辑
  editClick(row: any) {
    let self = this;
    // console.log("编辑", row);
    self.editData = row;
    self.viewType = "edit";
    self.isEditView = !self.isEditView;
  }
  // 查看
  viewClick(row: any) {
    let self = this;
    // console.log("查看", row);
    self.editData = row;
    self.viewType = "view";
    self.isEditView = !self.isEditView;
  }
  // 删除
  deleteClick(row: any) {
    let self = this;
    self
      .$confirm("是否删除此用户？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let req = {
          userId: row.id,
        };
        self.delete("updateUser", null, req).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除用户成功！！",
              type: "success",
            });
            self.getUser();
          }
        });
      });
  }
  addOrUpdate() {
    this.getUser();
  }
  searchTable(req: any) {
    let self: any = this;
    for (let key in req) {
      self[key] = req[key];
    }
    // self.pageNum = req.pageNum;
    // self.realName = req.realName;
    // self.userName = req.userName;
    // self.phone = req.phone;

    // self.organizeId = req.organizeId

    self.getUser();
  }
  getUser() {
    let self = this;
    let req = {
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      realName: self.realName,
      userName: self.userName,
      phone: self.phone,
      organizeId: self.organizeId,
    };
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self
      .get("users", req, null)
      .then((d: any) => {
        console.log(d);
        self.fullscreenLoading = false;
        if (d.code == 10000) {
          let newDate = new Date().getTime();
          let defaultData = d.data;
          defaultData.costtime = newDate - oldDate;
          self.tableData = defaultData.list;
          let costtime = newDate - oldDate;
          let pageConfig = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
          self.pageConfig = pageConfig;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
}
</script>
<style lang="scss" scoped>
.UserTable {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
