<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <el-form ref="fireEdit" size="mini" :model="formData" label-width="80px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="标题" required>
            <el-input v-model="formData.title"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="作者" required>
            <el-input v-model="formData.author"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="标题颜色" required>
            <el-input v-model="formData.titleColor"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="内容" required>
            <quill-editor
              ref="myQuillEditor"
              class="editor"
              v-model="formData.content"
              :options="editorOption"
            />
            <!-- @blur="onEditorBlur($event)"
              @focus="onEditorFocus($event)"
              @ready="onEditorReady($event)" -->
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { Dialog, Button, Form, FormItem, Input, Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
const toolbarOptions: any = [
  ["bold", "italic", "underline", "strike"], // 加粗 斜体 下划线 删除线 -----['bold', 'italic', 'underline', 'strike']
  ["blockquote", "code-block"], // 引用  代码块-----['blockquote', 'code-block']
  [{ header: 1 }, { header: 2 }], // 1、2 级标题-----[{ header: 1 }, { header: 2 }]
  [{ list: "ordered" }, { list: "bullet" }], // 有序、无序列表-----[{ list: 'ordered' }, { list: 'bullet' }]
  [{ script: "sub" }, { script: "super" }], // 上标/下标-----[{ script: 'sub' }, { script: 'super' }]
  [{ indent: "-1" }, { indent: "+1" }], // 缩进-----[{ indent: '-1' }, { indent: '+1' }]
  [{ direction: "rtl" }], // 文本方向-----[{'direction': 'rtl'}]
  [{ size: ["small", false, "large", "huge"] }], // 字体大小-----[{ size: ['small', false, 'large', 'huge'] }]
  [{ header: [1, 2, 3, 4, 5, 6, false] }], // 标题-----[{ header: [1, 2, 3, 4, 5, 6, false] }]
  [{ color: [] }, { background: [] }], // 字体颜色、字体背景颜色-----[{ color: [] }, { background: [] }]
  [{ font: [] }], // 字体种类-----[{ font: [] }]
  [{ align: [] }], // 对齐方式-----[{ align: [] }]
  ["clean"], // 清除文本格式-----['clean']
  ["image", "video"], // 链接、图片、视频-----['link', 'image', 'video']
];
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    quillEditor,
  },
})
export default class PublicInfoView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: [String, Number], default: "" })
  pid: any;
  @Prop({ type: String, default: "" })
  type: string;

  @Provide() dialogVisible: boolean = false;
  @Provide() formData: any = {};

  @Provide() fullscreenLoading: boolean = false;
  @Provide() editorOption: any = {
    //  富文本编辑器配置
    modules: {
      //工具栏定义的
      toolbar: toolbarOptions,
    },
    //主题
    theme: "snow",
    placeholder: "请输入正文",
  };
  init() {
    let self = this;
    if (self.type == "edit") {
      self.getById();
    } else {
      self.formData = {};
    }
    self.dialogVisible = true;
  }
  getById() {
    let self = this;
    let hisReq = {
      id: self.pid,
    };
    self.fullscreenLoading = true;
    self.get("updatePublicInformation", null, hisReq).then((d: any) => {
      self.fullscreenLoading = false;
      console.log(d);
      if (d.code == 10000) {
        let data = d.data;
        data.content = data.content
          .replace(/\&lt\;/g, "<")
          .replace(/\&gt\;/g, ">")
          .replace(/&amp;nbsp;/g, " ");
        self.formData = data;
      }
    });
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "新增";
    } else if (this.type == "edit") {
      return "编辑";
    } else if (this.type == "view") {
      return "查看";
    }
    return "提示";
  }
  sureClick() {
    let self = this;
    let formData = self.formData;
    if (self.type == "add") {
      self.addSave(formData);
    } else {
      self.editSave(formData);
    }
  }
  addSave(req: any) {
    let self = this;
    self.post("publicInformation", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加公共信息成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }
  editSave(req: any) {
    let self = this;
    let hisReq = {
      id: req.id,
    };
    self.put("updatePublicInformation", req, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "修改公共信息成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }

  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.editor {
  line-height: normal !important;
}
.editor ::v-deep .ql-container {
  height: 200px;
  color: rgba(255, 255, 255, 0.7);
}
</style>