<template>
  <py-tag-view class="FireKnowledgeManage" :list="tabList">
    <div slot="header">
      <div class="myHeaderInput">
        <el-input
          class="input-with-select"
          suffix-icon="el-icon-search"
          @change="onSearch"
          @keydown.enter.native="onSearch"
          v-model="keywords"
          placeholder="关键字搜索"
          size="mini"
        ></el-input>
      </div>
      <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
        <i class="fa fa-refresh"></i>
        <span>刷新</span>
      </a>
      <a href="javascript:void(0);" class="headerInput" @click="addClick">
        <i class="fa fa-plus"></i>
        <span>新增</span>
      </a>
    </div>
    <div
      slot="FireKnowledgeManage"
      slot-scope="{ height }"
      :style="{ height: height + 'px' }"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.3)"
      v-loading.fullscreen.lock="fullscreenLoading"
    >
      <my-table
        :ispage="true"
        :page-config="pageConfig"
        :columns="columns"
        :datas="tableData"
        @_sizechange="sizeChange"
        @_currentchange="currentChange"
      ></my-table>
      <py-fire-edit
        :ishow="isFireShow"
        :fid="fireId"
        :type="fireType"
        @_save="getFireKnowledge"
      ></py-fire-edit>
      <py-fire-view :ishow="isInfoShow" :did="infoDatas"></py-fire-view>
    </div>
  </py-tag-view>
</template>

<script lang="ts">
import FireView from "@/components/FireKnowledge/FireView.vue";
import FireEdit from "@/components/FireKnowledge/FireEdit.vue";
import MyTable from "@/components/MyTable.vue";
import TagView from "@/components/TagView.vue";
import { Input } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTagView: TagView,
    pyFireEdit: FireEdit,
    pyFireView: FireView,
    elInput: Input,
    MyTable,
  },
})
export default class FireKnowledgeMangement extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() tabList: any = [
    {
      name: "FireKnowledgeManage",
      label: "消防知识管理",
    },
  ];

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      prop: "",
      label: "操作",
      headerAlign: "center",
      type: "button",
      width: "240px",
      buttons: [
        {
          icon: "fa-pencil-square-o",
          text: "编辑",
          onClick: (row: any) => {
            console.log("编辑---->", row);
            this.editClick(row);
          },
        },
        {
          icon: "fa-info-circle",
          text: "详情",
          onClick: (row: any) => {
            console.log("编辑---->", row);
            this.showDetails(row);
          },
        },
        {
          icon: "fa-trash-o",
          text: "删除",
          onClick: (row: any) => {
            console.log("删除---->", row);
            this.deleteClick(row);
          },
        },
      ],
      align: "left",
    },
    {
      prop: "title",
      label: "标题",
      headerAlign: "center",
      align: "left",
      color: "titleColor",
    },
    {
      prop: "author",
      label: "作者",
      headerAlign: "center",
      align: "center",
      width: "180px",
    },
    {
      prop: "updateTime",
      label: "更新时间",
      headerAlign: "center",
      align: "center",
      width: "180px",
    },
    {
      prop: "createTime",
      label: "创建时间",
      headerAlign: "center",
      align: "center",
      width: "180px",
    },
  ];
  @Provide() pageConfig: any = {};
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() fullscreenLoading: boolean = false;

  @Provide() isFireShow: boolean = false;
  @Provide() fireId: string = "";
  @Provide() fireType: string = "add";
  @Provide() isInfoShow: boolean = false;
  @Provide() infoDatas: string = "";
  mounted() {
    this.init();
  }

  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.getFireKnowledge();
  }
  refreshClick() {
    this.init();
  }
  addClick() {
    let self = this;
    self.fireId = "";
    self.fireType = "add";
    self.isFireShow = !self.isFireShow;
  }
  editClick(row: any) {
    let self = this;
    self.fireId = row.id;
    self.fireType = "edit";
    self.isFireShow = !self.isFireShow;
  }
  showDetails(row: any) {
    let self = this;
    console.log(row);
    self.infoDatas = row.id;
    self.isInfoShow = !self.isInfoShow;
  }
  deleteClick(row: any) {
    let self = this;
    console.log(row);
    self
      .$confirm("是否删除此条消防信息？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let hisReq = {
          id: row.id,
        };
        self.delete("updateFireKnowledge", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除消防信息成功！！",
              type: "success",
            });
            self.getFireKnowledge();
          }
        });
      })
      .catch(() => {
        console.log("canel");
      });
  }

  @Provide() keywords: string = "";
  onSearch() {
    let self = this;

    this.init();
  }
  sizeChange(num: number) {
    let self = this;
    self.pageNum = 1;
    self.pageSize = num;
    self.getFireKnowledge();
  }
  currentChange(num: number) {
    let self = this;
    self.pageNum = num;
    self.getFireKnowledge();
  }
  getFireKnowledge() {
    let self = this;
    let req = {
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      keywords: self.keywords,
    };
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self
      .get("fireKnowledge", req, null)
      .then((d: any) => {
        console.log(d);
        self.fullscreenLoading = false;
        if (d.code == 10000) {
          let newDate = new Date().getTime();
          let defaultData = d.data;
          self.tableData = defaultData.list;
          let costtime = newDate - oldDate;
          let pageConfig = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
          self.pageConfig = pageConfig;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.FireKnowledgeManage {
  // height: 100%;
}
</style>
