<template>
  <py-tag-view class="Publicinformation" :list="tabList">
    <div slot="header">
      <div class="myHeaderInput">
        <el-input
          class="input-with-select"
          suffix-icon="el-icon-search"
          @change="onSearch"
          @keydown.enter.native="onSearch"
          v-model="keywords"
          placeholder="关键字搜索"
          size="mini"
        ></el-input>
      </div>
      <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
        <i class="fa fa-refresh"></i>
        <span>刷新</span>
      </a>
      <a href="javascript:void(0);" class="headerInput" @click="addClick">
        <i class="fa fa-plus"></i>
        <span>新增</span>
      </a>
    </div>
    <div
      slot="Publicinformation"
      slot-scope="{ height }"
      :style="{ height: height + 'px' }"
    >
      <my-table
        :ispage="true"
        :page-config="pageConfig"
        :columns="columns"
        :datas="tableData"
      ></my-table>
      <py-public-view
        :ishow="isEdit"
        :pid="pid"
        :type="editType"
      ></py-public-view>
    </div>
  </py-tag-view>
</template>

<script lang="ts">
import { Input } from "element-ui";
import PublicView from "@/components/FireKnowledge/PublicInfoView.vue";
import MyTable from "@/components/MyTable.vue";
import TagView from "@/components/TagView.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTagView: TagView,
    pyPublicView: PublicView,
    elInput: Input,
    MyTable,
  },
})
export default class Publicinformation extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() tabList: any = [
    {
      name: "Publicinformation",
      label: "公共信息管理",
    },
  ];

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      prop: "",
      label: "操作",
      headerAlign: "center",
      type: "button",
      width: "180px",
      buttons: [
        {
          icon: "fa-pencil-square-o",
          text: "编辑",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          icon: "fa-trash-o",
          text: "删除",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
      ],
      align: "center",
    },
    {
      prop: "title",
      label: "标题",
      headerAlign: "center",
      align: "center",
      color: "titleColor",
    },
    {
      prop: "author",
      label: "作者",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "updateTime",
      label: "更新时间",
      headerAlign: "center",
      align: "center",
    },
  ];
  @Provide() pageConfig: any = {};
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() fullscreenLoading: boolean = false;
  @Provide() pid: string = "";
  @Provide() isEdit: boolean = false;
  @Provide() editType: string = "add";

  mounted() {
    this.init();
  }

  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;

    self.getPublicInformation();
  }
  @Provide() keywords: string = "";
  onSearch() {
    let self = this;

    this.init();
  }
  refreshClick() {
    this.init();
  }
  addClick() {
    let self = this;
    self.pid = "";
    self.editType = "add";
    self.isEdit = !self.isEdit;
  }
  editClick(row: any) {
    let self = this;
    self.pid = row.id;
    self.editType = "edit";
    self.isEdit = !self.isEdit;
  }
  deleteClick(row: any) {
    let self = this;
    self
      .$confirm("是否删除此条公共信息？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let hisReq = {
          id: row.id,
        };
        self.delete("updatePublicInformation", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除公共信息成功！！",
              type: "success",
            });
            self.getPublicInformation();
          }
        });
      });
  }
  sizeChange(num: number) {
    let self = this;
    self.pageNum = 1;
    self.pageSize = num;
    self.getPublicInformation();
  }
  currentChange(num: number) {
    let self = this;
    self.pageNum = num;
    self.getPublicInformation();
  }
  getPublicInformation() {
    let self = this;
    let req = {
      pageNum: self.pageNum,
      pageSize: self.pageSize,
      keywords: self.keywords,
    };
    let oldDate = new Date().getTime();
    self
      .get("publicInformation", req, null)
      .then((d: any) => {
        self.fullscreenLoading = false;
        console.log(d);
        if (d.code == 10000) {
          let newDate = new Date().getTime();
          let costtime = newDate - oldDate;
          let defaultData = d.data;
          self.tableData = defaultData.list;
          let pageConfig = {
            costtime: costtime,
            pageNum: defaultData.pageNum,
            pageSize: defaultData.pageSize,
            total: defaultData.total,
          };
          self.pageConfig = pageConfig;
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }

  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.Publicinformation {
  // height: 100%;
}
</style>
