<template>
  <div>
    <py-tag-view :list="tabList" class="NetworkingUnit">
      <div slot="header">
        <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
          <i class="fa fa-refresh"></i>
          <span>刷新</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="addClick">
          <i class="fa fa-plus"></i>
          <span>新增</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="excelExportClick"
        >
          <i class="fa fa-file-text-o"></i>
          <span>Excel导出</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="excelImportClick"
        >
          <i class="fa fa-file-excel-o"></i>
          <span>Excel导入</span>
        </a>
      </div>
      <div
        slot="NetworkingUnit"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.3)"
        v-loading.fullscreen.lock="fullscreenLoading"
      >
        <py-networking-table
          ref="networkTable"
          :height="height"
          @_edit="editClick"
          @_delete="deleteClick"
        ></py-networking-table>
      </div>
    </py-tag-view>
    <network-view
      :ishow="isViewShow"
      :datas="editData"
      :type="editType"
      :tree="dataTree"
      @_save="getOrganize"
    ></network-view>
    <py-data-export
      :ishow="isDataExport"
      url="sysOrganizeExport"
      :params="dataExportParams"
      :filters="dataExportFilter"
    ></py-data-export>
    <py-data-import
    :ishow="IsExcelImport"
    url="sysImport"
    ></py-data-import>
  </div>
</template>

<script lang="ts">
import DataImport from "@/components/DataImport.vue"
import DataExport from "@/components/DataExport.vue";
import NetworkView from "@/components/AuthorityManagement/NetworkingDialog.vue";
import treeToArray from "@/components/TreeTable/eval";
import TagView from "@/components/TagView.vue";
import NetworkingTable from "@/components/AuthorityManagement/NetworkingUnitTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTagView: TagView,
    pyNetworkingTable: NetworkingTable,
    pyDataExport: DataExport,
    pyDataImport: DataImport,
    NetworkView,
  },
})
export default class NetworkingUnit extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() tabList: any = [
    {
      name: "NetworkingUnit",
      label: "联网单位",
    },
  ];
  @Provide() fullscreenLoading: boolean = false;
  @Provide() isViewShow: boolean = false;
  @Provide() editData: any = {};
  @Provide() editType: string = "add";
  @Provide() dataTree: any = [];

  created() {
    console.log("created");
  }
  mounted() {
    let self = this;

    this.init();
  }
  init() {
    this.getOrganize();
  }
  refreshClick() {
    this.init();
  }
  addClick() {
    console.log("添加");
    this.editData = {};
    this.editType = "add";
    this.isViewShow = !this.isViewShow;
  }
  editClick(row: any) {
    console.log("编辑", row);
    this.editData = row;
    this.editType = "edit";
    this.isViewShow = !this.isViewShow;
  }
  deleteClick(row: any) {
    let self = this;
    self
      .$confirm("是否删除此单位？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let hisReq = {
          organizeId: row.id,
        };
        self.delete("updateOrganize", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除用户成功",
              type: "success",
            });

            self.getOrganize();
          }
        });
      });
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [
    {
      prop: "shortName",
      label: "单位简称",
    },
    {
      prop: "nature",
      label: "单位性质",
    },
    {
      prop: "userRealName",
      label: "负责人",
    },
    {
      prop: "roleName",
      label: "角色",
    },
    {
      prop: "defend1",
      label: "联系人1",
    },
    {
      prop: "defendMobile1",
      label: "联系手机1",
    },
    {
      prop: "defendMobile2",
      label: "联系手机2",
    },
    {
      prop: "defendMobile3",
      label: "联系手机3",
    },
  ];
  excelExportClick() {
    let self = this;
    try {
      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  @Provide() IsExcelImport:boolean = false
  excelImportClick() {
    this.IsExcelImport = !this.IsExcelImport
  }

  getOrganize() {
    let self = this;
    let req = {};
    self.fullscreenLoading = true;
    self.get("OrganizeAllTree", null, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let data: any = d.data;
        let newList: any = data.list || [];
        self.dataTree = newList;
        console.log(newList);
        let list = treeToArray(newList);
        console.log(list);
        let grid: any = self.$refs["networkTable"];
        grid.init(list);
      }
    });
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.upload-demo {
  display: inline-block;
}
</style>
