<template>
  <py-tag-view :list="tabList" class="RoleManagement">
    <div slot="header">
      <div class="myHeaderInput">
        <el-input
          class="input-with-select"
          suffix-icon="el-icon-search"
          @change="onSearch"
          @keydown.enter.native="onSearch"
          v-model="formValue"
          size="mini"
        ></el-input>
      </div>

      <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
        <i class="fa fa-refresh"></i>
        <span>刷新</span>
      </a>
      <a href="javascript:void(0);" class="headerInput" @click="addClick">
        <i class="fa fa-plus"></i>
        <span>新增</span>
      </a>
    </div>
    <div
      slot="RoleManagement"
      slot-scope="{ height }"
      :style="{ height: height + 'px' }"
    >
      <py-role-table ref="roleTable" :height="height"></py-role-table>
    </div>
  </py-tag-view>
</template>

<script lang="ts">
import TagView from "@/components/TagView.vue";
import RoleTable from "@/components/AuthorityManagement/RoleTable.vue";
import { Input } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTagView: TagView,
    pyRoleTable: RoleTable,
    elInput: Input,
  },
})
export default class RoleManagement extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() tabList: any = [
    {
      name: "RoleManagement",
      label: "角色管理",
    },
  ];
  @Provide() formValue: string = "";

  created() {
    console.log("created");
  }
  mounted() {
    console.log("mounted");
    //this.init();
  }
  init() {
    let self = this;
    let grid: any = self.$refs["roleTable"];
    grid.init();
  }

  onSearch() {
    let self = this;
    let grid: any = self.$refs["roleTable"];
    let req = {
      keyword: self.formValue,
    };
    grid.searchTable(req);
  }
  refreshClick() {
    this.init();
  }
  addClick() {
    let self = this;
    let grid: any = self.$refs["roleTable"];
    grid.addClick();
  }

  @Watch("refresh")
  refreshWatch(): void {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.myHeaderInput {
  display: inline-block;
  width: 260px;
}
</style>
