<template>
  <py-structure
    :tree-datas="treeDatas"
    class="UserManagement"
    :props-data="defaultProps"
    @_active="seachTreeData"
  >
    <py-tag-view :list="tabList">
      <div slot="header">
        <div class="myHeaderInput">
          <el-input
            class="input-with-select"
            suffix-icon="el-icon-search"
            @change="onSearch"
            @keydown.enter.native="onSearch"
            v-model="formValue"
            size="mini"
          >
            <el-select
              class="mySelect"
              v-model="formKey"
              slot="prepend"
              placeholder="选择条件"
            >
              <el-option label="姓名" value="realName"></el-option>
              <el-option label="账户" value="userName"></el-option>
              <el-option label="手机号" value="phone"></el-option>
            </el-select>
          </el-input>
        </div>

        <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
          <i class="fa fa-refresh"></i>
          <span>刷新</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="addClick">
          <i class="fa fa-plus"></i>
          <span>新增</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="exportClick">
          <i class="fa fa-download"></i>
          <span>导出</span>
        </a>
      </div>
      <div
        slot="UserManagement"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-user-table
          ref="userTable"
          :tree="treeDatas"
          :height="height"
        ></py-user-table>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import TagView from "@/components/TagView.vue";
import UserTable from "@/components/AuthorityManagement/UserTable.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import { Input, Select, Option } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyUserTable: UserTable,
    elInput: Input,
    elSelect: Select,
    elOption: Option,
  },
})
export default class UserManagement extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "UserManagement",
      label: "用户管理",
    },
  ];
  @Provide() formKey: string = "";
  @Provide() formValue: string = "";

  created() {
    console.log("created");
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  init() {
    let self = this;
    self.getTree();
    // self.getRoleTree();
  }

  onSearch() {
    let self = this;
    let req: any = {
      pageNum: 1,
      realName: "",
      userName: "",
      phone: "",
    };
    let key = self.formKey;
    req[key] = self.formValue;
    console.log(req);
    if (self.$refs["userTable"]) {
      let searchDom: any = self.$refs["userTable"];
      searchDom.searchTable(req);
    }
  }
  // 刷新
  refreshClick() {
    let self = this;
    self.formKey = "";
    self.formValue = "";
    let searchDom: any = self.$refs["userTable"];
    searchDom.init();
  }
  // 新增
  addClick() {
    let self = this;
    let dom: any = self.$refs["userTable"];
    dom.addClick();
  }
  // 左侧点击功能
  seachTreeData(newVal: any) {
    let self = this;
    let req = {
      organizeId: newVal.id,
    };
    if (self.$refs["userTable"]) {
      let searchDom: any = self.$refs["userTable"];
      searchDom.searchTable(req);
    }
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  exportClick() {
    let self = this;
    if (self.$refs["userTable"]) {
      let searchDom: any = self.$refs["userTable"];
      let list = searchDom.tableData;
      console.log(list);
    }
  }

  @Watch("refresh")
  refreshWatch(): void {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.mySelect {
  width: 90px;
  color: #fff;
}
.myHeaderInput {
  display: inline-block;
  width: 260px;
}
.input-with-select ::v-deep .el-input-group__prepend {
  background-color: #277780;
  border-color: transparent;
}
</style>
