<template>
  <py-structure
    :tree-datas="treeDatas"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList" @_active="tagActive">
      <div
        slot="wireless"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-wirelessView
          :height="height"
          :width="width"
          :datas="wData"
          :details="wDetails"
        ></py-wirelessView>
      </div>
      <div
        slot="electricity"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-electricity
          :height="height"
          :width="width"
          :datas="eData"
          :details="eDetails"
        ></py-electricity>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import WirelessView from "@/components/StatisticalAnalysis/RealTime/WirelessViewStat.vue";
import Electricity from "@/components/StatisticalAnalysis/RealTime/ElectricityStat.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyWirelessView: WirelessView,
    pyElectricity: Electricity,
  },
})
export default class RealTimeAStatis extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  @Provide() organizeId: string = "";
  @Provide() productType: string = "烟感"; // 电气火灾

  @Provide() wData: any = {};
  @Provide() wDetails: any = [];

  @Provide() eData: any = {};
  @Provide() eDetails: any = [];
  created() {
    let self = this;
    self.getTree();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    self.getRealtimeData();
    self.getRealtimeDetails();
  }
  getRealtimeData() {
    let self = this;
    let req = {
      orgId: self.organizeId,
      productType: self.productType,
    };
    self.get("realtimeData", req, null).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        if (self.productType == "电气火灾") {
          self.eData = data;
        } else {
          self.wData = data;
        }
      }
    });
  }
  @Provide() fullscreenLoading: boolean = false;
  getRealtimeDetails() {
    let self = this;
    let req = {
      orgId: self.organizeId,
      productType: self.productType,
    };
    self.fullscreenLoading = true;
    self.get("realtimeDetails", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let data = d.data.list;
        if (self.productType == "电气火灾") {
          self.eDetails = data;
        } else {
          self.wDetails = data;
        }
      }
    });
  }
  seachTreeData(newVal: any) {
    console.log("168", newVal);
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  tagActive(val: any) {
    console.log(val);
    let name = val.name;
    if (name == "electricity") {
      this.productType = "电气火灾";
    } else {
      this.productType = "烟感";
    }
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
