<template>
  <py-structure
    :tree-datas="treeDatas"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_active="nodeClick"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList" @_active="activeClick">
      <div slot="header" class="SearchFilter">
        <span class="demonstration">统计日期</span>
        <el-date-picker
          v-model="dateValue"
          type="daterange"
          align="right"
          unlink-panels
          size="mini"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions2"
          @change="dateValueChange"
        >
        </el-date-picker>
        <a href="javascript:void(0);" class="headerInput" @click="printClick">
          <i class="fa fa-print"></i>
          <span>打印</span>
        </a>
      </div>
      <div
        slot="wireless"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-wirelessView
          :height="height"
          :width="width"
          :orgid="organizeId"
          :dates="dateValue"
          :fullname="fullName"
          id="wireless"
        ></py-wirelessView>
      </div>
      <div
        slot="electricity"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-electricity
          :height="height"
          :width="width"
          :orgid="organizeId"
          :dates="dateValue"
          :fullname="fullName"
          id="electricity"
        ></py-electricity>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import { DatePicker } from "element-ui";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import WirelessView from "@/components/StatisticalAnalysis/ReportForm/WirelessView.vue";
import Electricity from "@/components/StatisticalAnalysis/ReportForm/Electricity.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyWirelessView: WirelessView,
    pyElectricity: Electricity,
    elDatePicker: DatePicker,
  },
})
export default class StatisticalReport extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };
  @Provide() dateValue: any = [];
  created() {
    let self = this;
    self.getTree();
  }
  @Provide() fullscreenLoading: boolean = false;
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self.fullscreenLoading = true;
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        self.fullscreenLoading = false;
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
          self.nodeClick(treeList[0]);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  mounted() {
    let self = this;
    const end = new Date();
    const start = new Date();
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
    self.dateValue = [self.formatDate(start), self.formatDate(end)];
    this.init();
  }
  init() {
    let self = this;
  }
  dateValueChange() {
    console.log(this.dateValue);
  }
  @Provide() activeName: string = "wireless";
  activeClick(val: any) {
    console.log("186", val);
    this.activeName = val.name;
  }
  printClick() {
    console.log(this.activeName);
    let el: any = document.getElementById(this.activeName);
    console.log(el);
    let del = document.getElementById("printFrame");
    if (del) {
      document.body.removeChild(del);
    }
    let iframe: any = document.createElement("iframe");
    let doc: any = null;
    iframe.setAttribute(
      "style",
      "position:absolute;width:0px;height:0px;left:500px;top:500px;"
    );
    iframe.id = "printFrame";
    document.body.appendChild(iframe);
    doc = iframe.contentWindow.document;
    let printCss = require("@/assets/css/print.css");
    doc.write(`<style>${printCss}</style>`);
    //添加样式 end
    doc.write(el.innerHTML);
    doc.close();
    // 获取iframe的焦点，从iframe开始打印
    iframe.contentWindow.focus();
    iframe.contentWindow.print();
    if (navigator.userAgent.indexOf("MSIE") > 0) {
      document.body.removeChild(iframe);
    }
  }
  @Provide() organizeId = "";
  @Provide() fullName: string = "";
  nodeClick(data: any) {
    console.log(data);
    this.fullName = data.fullName;
    this.organizeId = data.id;
  }
  seachTreeData(newVal: any) {
    console.log(newVal);
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }

  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
  .demonstration {
    margin-right: 5px;
  }
}
</style>
