<template>
  <py-structure
    :tree-datas="treeDatas"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList" @_active="tagActive">
      <div slot="header" class="SearchFilter">
        <span class="demonstration">查询条件</span>
        <el-date-picker
          v-model="dateValue"
          type="daterange"
          align="right"
          unlink-panels
          size="mini"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions2"
          @change="dateValueChange"
        >
        </el-date-picker>
      </div>
      <div
        slot="wireless"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-wirelessView
          :height="height"
          :width="width"
          :datas="wData"
        ></py-wirelessView>
      </div>
      <div
        slot="electricity"
        slot-scope="{ height, width }"
        :style="{ height: height + 'px', width: width + 'px' }"
      >
        <py-electricity
          :height="height"
          :width="width"
          :datas="eData"
        ></py-electricity>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import { DatePicker } from "element-ui";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import WirelessView from "@/components/StatisticalAnalysis/TimeInterval/WirelessViewTime.vue";
import Electricity from "@/components/StatisticalAnalysis/TimeInterval/ElectricityTime.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyWirelessView: WirelessView,
    pyElectricity: Electricity,
    elDatePicker: DatePicker,
  },
})
export default class TimeIntervalAlarmS extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "wireless",
      label: "智慧无线烟感系统",
    },
    {
      name: "electricity",
      label: "智慧用电监控系统",
    },
  ];
  @Provide() organizeId: string = "";
  @Provide() productType: string = "烟感"; // 电气火灾

  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近三个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };
  @Provide() dateValue: any = [];

  @Provide() wData: any = {};
  @Provide() eData: any = {};

  created() {
    let self = this;
    self.getTree();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  mounted() {
    let self = this;
    const end = new Date();
    const start = new Date();
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
    self.dateValue = [self.formatDate(start), self.formatDate(end)];
    console.log(self.dateValue);
    self.init();
  }
  init() {
    let self = this;
    self.getStatic();
  }
  dateValueChange(val: any) {
    let self = this;
    console.log(val);
    console.log(self.dateValue);
    self.init();
  }
  @Provide() fullscreenLoading: boolean = false;
  getStatic() {
    let self = this;
    console.log(self.dateValue);
    let startTime = self.dateValue[0] || "";
    let endTime = self.dateValue[1] || "";
    let req = {
      orgId: self.organizeId,
      productType: self.productType,
      startTime: startTime,
      endTime: endTime,
    };
    self.fullscreenLoading = true;
    self.get("statisticTimerange", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        console.log(d);
        if (self.productType == "电气火灾") {
          self.eData = d.data;
        } else {
          self.wData = d.data;
        }
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  tagActive(val: any) {
    let name = val.name;
    if (name == "electricity") {
      this.productType = "电气火灾";
    } else {
      this.productType = "烟感";
    }
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.SearchFilter {
  position: relative;
  top: 0;
  left: 0;
  .demonstration {
    margin-right: 5px;
  }
}
</style>
