<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form size="mini" :model="formData" label-width="80px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="烟感电压">
            <el-input :disabled="true" v-model="formData.celVal"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="底座电压">
            <el-input :disabled="true" v-model="formData.celVal2"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="浓度">
            <el-input :disabled="true"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="信号强度">
            <el-input :disabled="true"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="温度">
            <el-input
              :disabled="true"
              v-model="formData.temperature1"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态">
            <el-input :disabled="true" v-model="formData.warnStatus"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer"></div>
  </el-dialog>
</template>
<script lang="ts">
import { Dialog, Button, Form, FormItem, Input, Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
  },
})
export default class DevicelogView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;

  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};

  get mTitle(): string {
    let str = "设备ID: " + this.formData.addressCode;
    return str;
  }

  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.formData = defaultData;
    self.dialogVisible = true;
  }

  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>