<template>
  <div class="ElectricitySonitoring">
    <py-tab-search></py-tab-search>
    <my-table
      :ispage="true"
      :columns="columns"
      :datas="tableData"
      :page-config="pageConfig"
      @_sizechange="sizeChange"
      @_currentchange="currentChange"
      @_sort="sortChange"
    ></my-table>
  </div>
</template>

<script lang="ts">
import { getElecColumns } from "./Columns";
import MyTable from "@/components/MyTable.vue";
import TabSearch from "@/components/DataMonitoring/TabSearch.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTabSearch: TabSearch,
    MyTable: MyTable,
  },
})
export default class ElectricitySonitoring extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: Object, default: () => {} })
  page: any;

  @Provide() test = "this is test";
  @Provide() tableData: any = [];
  @Provide() columns: any = [];
  @Provide() pageConfig: any = {
    costtime: 0,
    pageIndex: 1,
    pageSize: 20,
    total: 0,
  };
  mounted() {
    this.columns = getElecColumns(this.statusClick);
    this.init();
  }
  init() {
    // let d = require("./list2.json");
    // console.log(d);
    // this.tableData = d.rows;
  }
  @Emit("_update")
  sortChange(val: any) {
    let sort = val.order == "descending" ? "DESC" : "ASC";
    let req = {
      orderBy: val.prop,
      sort: sort,
    };
    return req;
  }
  @Emit("_update")
  sizeChange(num: number) {
    let self = this;
    let req = {
      pageSize: num,
    };
    return req;
  }
  @Emit("_update")
  currentChange(num: number) {
    let self = this;
    let req = {
      pageNum: num,
    };
    return req;
  }
  statusClick(data: any) {
    console.log(data);
  }

  @Watch("datas", { immediate: true, deep: true })
  dataWatch(newVal: any) {
    this.tableData = newVal;
  }
  @Watch("page", { immediate: true, deep: true })
  pageWatch(newVal: any) {
    this.pageConfig = newVal;
  }
}
</script>
<style lang="scss" scoped>
.ElectricitySonitoring {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
