.RichText h1 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
}

.RichText h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  padding-left: 20px;
}

.RichText h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 50px;
}

.RichText h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  padding-left: 70px;
}

.el-table {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  color: #606266;
}

.myTable {
  background-color: rgba(27, 93, 100, 0.6);
}

.myTable .el-table,
.myTable .el-table__expanded-cell {
  background-color: transparent;
}

.myTable .el-table th,
.myTable .el-table tr {
  background-color: transparent;
}

.myTable .el-table--border,
.myTable .el-table--group {
  border-color: #21858b;
}

.el-table--border {
  border-right: none;
  border-bottom: none;
}

.el-table--border,
.el-table--group {
  border: 1px solid #EBEEF5;
}

.el-table--mini,
.el-table--small,
.el-table__expand-icon {
  font-size: 12px;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  content: '';
  position: absolute;
  background-color: #EBEEF5;
  z-index: 1;
}

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.myTable .el-table__header-wrapper {
  background-color: rgba(19, 71, 79, 0.8);
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}

.el-table__body,
.el-table__footer,
.el-table__header {
  table-layout: fixed;
  border-collapse: separate;
}

.el-table thead {
  color: #909399;
  font-weight: 500;
}

.myTable .el-table td,
.myTable .el-table th.is-leaf {
  color: #b8c6c8;
  border-color: #21858b;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #EBEEF5;
}

.myTable .el-table__header-wrapper thead th {
  font-weight: 400;
}

.el-table th>.cell {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.el-table .cell,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 10px;
}

.myTable tr.success td,
.myTable span.success {
  background-color: #3bdc52;
  color: #fff;
}

.myTable tr.danger td,
.myTable span.danger {
  background-color: red;
  color: #fff;
}

.myTable tr.waring td,
.myTable span.waring {
  background-color: rgba(253, 168, 42, 1);
  color: #fff;
}

.myTable tr.info td,
.myTable span.info {
  background-color: rgba(202, 191, 199, 1);
  color: #fff;
}