.RichText {
  padding: 10px;
  overflow: auto;

  h1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
  }

  h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    padding-left: 50px;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    padding-left: 70px;
  }

  h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.0;
    padding-left: 80px;
  }
}