$infoColor: rgba(202, 191, 199, 1);
$dangerColor: red;
$waringColor: rgba(253, 168, 42, 1);
$successColor: rgba(59, 220, 82, 1);
$totalColor: rgba(74, 169, 171, 1);
$blueColor: #3cf1f3;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

input.el-input__inner,
textarea.el-textarea__inner {
  background-color: #277780;
  border-color: #21858b;
  color: #fff;
}

div.vue-treeselect__control {
  height: 28px;
  line-height: 26px;
  background-color: #277780;
  border-color: #21858b;
  color: #fff;
}

div.vue-treeselect--disabled .vue-treeselect__control {
  background-color: #18a9a6;
  color: rgb(66, 252, 218);
}

div.vue-treeselect__menu {
  background-color: #277780;
  border-color: #21858b;
  color: #fff;
}

div.vue-treeselect__option--selected,
div.vue-treeselect__option--highlight,
div.vue-treeselect__option:hover {
  background-color: #18a9a6 !important;
}

div.el-input.is-disabled .el-input__inner,
div.el-textarea.is-disabled .el-textarea__inner {
  background-color: #18a9a6;
  color: rgb(66, 252, 218);
}

div.vue-treeselect--disabled .vue-treeselect__single-value {
  color: rgb(66, 252, 218);
}

div.vue-treeselect__single-value {
  color: #fff;
}

textarea.el-textarea__inner {
  height: 80px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
  opacity: .8;
  font-size: 12px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  opacity: .8;
  font-size: 12px;
}

:-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  opacity: .8;
  font-size: 12px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  opacity: .8;
  font-size: 12px;
}

.myTable {
  // rgb(33,133,139)
  background-color: rgba(27, 93, 100, 0.6);

  a {
    text-decoration: none;
    color: #0aa699;

    span {
      color: #fff;
    }
  }

  .el-table th,
  .el-table tr {
    background-color: transparent;
  }

  .el-table__header-wrapper {
    background-color: rgba(19, 71, 79, 0.8);
    font-size: 13px;

    thead {
      th {
        font-weight: 400;
      }
    }
  }

  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: rgb(33, 133, 139);
  }

  .el-table__row.current-row {
    background-color: rgb(33, 133, 139);
  }

  .el-table__body tr.current-row>td {
    background-color: rgb(33, 133, 139);
  }

  .el-table--border td,
  .el-table--border th,
  .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-color: #21858b;
  }

  .el-table td,
  .el-table th.is-leaf {
    color: #b8c6c8;
    border-color: #21858b;
  }

  .el-table--border,
  .el-table--group {
    border-color: #21858b;
  }

  .el-table,
  .el-table__expanded-cell {
    background-color: transparent;
  }

  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background-color: rgba(16, 65, 72, 1);
  }

  .el-table--mini td,
  .el-table--mini th {
    padding: 0;
  }

  tr.danger td,
  span.danger {
    background-color: $dangerColor;
    color: #fff;

  }

  tr.waring td,
  span.waring {
    background-color: $waringColor;
    color: #fff;
  }

  tr.info td,
  span.info {
    background-color: $infoColor;
    color: #fff;
  }

  tr.success td,
  span.success {
    background-color: $successColor;
    color: #fff;
  }

  .total {
    background-color: $totalColor;
    color: #fff;
  }
}

.WirelessView {
  background-color: rgba(27, 93, 100, 0.6);
}

.Electricity {
  background-color: rgba(27, 93, 100, 0.6);
}

div.el-picker-panel,
div.el-picker-panel [slot=sidebar],
div.el-picker-panel__sidebar {
  background-color: #277780;
  border-color: #C0C4CC;
  color: #fff;
}

button.el-picker-panel__icon-btn,
table.el-date-table th,
button.el-picker-panel__shortcut {
  color: #fff;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-color: #C0C4CC;
}

.countPanel {
  color: #fff;
  text-align: center;




  &>div {
    height: 30px;
    line-height: 30px;
  }

  .text {
    font-size: 24px;
    color: #F8E71C;
    border: 1px solid #C0C4CC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .blue {
    background-color: $blueColor;
    border: 1px solid #C0C4CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .success {
    background-color: $successColor;
    border: 1px solid #C0C4CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .info {
    background-color: $infoColor;
    border: 1px solid #C0C4CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .danger {
    background-color: $dangerColor;
    border: 1px solid #C0C4CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .waring {
    background-color: $waringColor;
    border: 1px solid #C0C4CC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.myTabView {
  .el-tab-pane>div>div {
    height: 100%;
  }
}

li.el-cascader-node:not(.is-disabled):focus,
li.el-cascader-node:not(.is-disabled):hover {
  background-color: #18a9a6;
}

li.el-cascader-node.is-selectable.in-active-path {
  color: #2fb8a0;
}

div.el-cascader__dropdown {
  color: #fff;
  background-color: #277780;
  border-color: #EBEEF5
}

div.el-cascader-menu {
  color: #fff;
}

div.el-select-dropdown {
  background-color: transparent;
  color: #fff;
}

li.el-select-dropdown__item {
  color: #fff;
}

li.el-select-dropdown__item.hover,
li.el-select-dropdown__item:hover {
  background-color: rgba(27, 93, 100, 0.8)
}

div.tableButtons a {
  font-size: 13px;
  margin-left: 15px;

  i {
    margin-right: 5px;
  }

  span {
    color: #fff;
  }
}

.el-select-dropdown__wrap {
  background-color: #277780;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-color: transparent;
}

.headerInput {

  font-size: 16px;

  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;

  .fa {
    margin-right: 5px;
    color: rgb(47, 184, 160);
  }

  span {
    color: #fff;
    font-weight: 600;
  }
}

div.InfoView .el-dialog {
  // 1000*728
  width: 850px;
  border: none;
  background-color: transparent;
  background-image: url('~@/assets/images/new_fire.png');
  background-repeat: no-repeat;
  background-size: contain;

  .el-dialog__header {
    text-align: center;

    .el-dialog__title {
      color: #fff;
    }
  }

  .el-dialog__body {
    padding: 10px 40px;
    overflow: auto;
    height: 500px;
  }

  .dialog-footer {
    text-align: center;
  }
}

div.DetailsView .el-dialog {
  width: 770px;
  border: none;
  // background-image: url('~@/assets/img/frame.png');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // background-position: left top, right top;
  background-color: transparent;

  .el-dialog__header {
    text-align: center;
    height: 80px;
    background-image: url('~@/assets/img/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top, right top;
    background-color: transparent;
  }

  .el-dialog__title {
    text-align: center;
    color: #fff;
  }

  .el-dialog__body {
    padding: 10px;
    overflow: auto;
    padding: 0 22px;

    &>form {
      position: relative;
      left: -0.5px;
      padding: 15px;
      background-image: url('~@/assets/img/frame.png');
      background-size: 0.5px 100%;
      background-position: left 80px, right 80px;
      background-color: transparent;
    }
  }

  .el-dialog__headerbtn {
    top: 40px;
    right: 40px;
    font-size: 24px;
  }

  .el-dialog__footer {
    text-align: center;
    height: 80px;
    background-image: url('~@/assets/img/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom, right bottom;
    background-color: transparent;
  }
}

label.el-form-item__label {
  color: #fff;
  font-size: 12px;
}

div.el-form-item--mini.el-form-item,
div.el-form-item--small.el-form-item {
  margin-bottom: 10px;
}

button.yes {
  border-color: transparent;
  background-image: url('~@/assets/img/yes.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  color: #fff;
}

button.el-button:focus,
button.el-button:hover {
  background-color: transparent;
  opacity: 0.8;
  color: #fff;
  border-color: transparent;
}


button.cancle {
  border-color: transparent;
  background-image: url('~@/assets/img/cancle.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  color: #fff;
}

div.el-cascader-panel {
  max-height: 300px;
}

.el-radio__label {
  color: #fff;
}

.SearchFilter {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;

  & .el-form-item__label {
    color: #fff;
  }

  & .el-input__inner {
    background-color: #277780;
    border-color: #c0c4cc;
    color: #fff;
  }

  & .el-date-editor .el-range-input {
    background-color: #277780;
    border-color: #c0c4cc;
    color: #fff;
  }

  & .el-range-separator {
    color: #fff;
  }
}

div.el-tree {
  background-color: transparent;
  color: #fff;
  font-size: 13px;



  .el-tree-node__expand-icon {
    color: #C0C4CC
  }

  .el-tree-node__content:hover {
    background-color: #0a4d5e;
    border: 1px solid #21858b;
    border-radius: 5px;
  }

  .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #0a4d5e;
    border: 1px solid #21858b;
    border-radius: 5px;
  }

  .el-tree-node:focus>.el-tree-node__content {
    background-color: #0a4d5e;
    border: 1px solid #21858b;
    border-radius: 5px;
  }

  /*
      background-color: #0a4d5e;
    border: 1px solid #21858b;
    border-radius: 5px;
  */
}

#searchMap button.el-button:focus,
#searchMap button.el-button:hover {
  background-color: #409EFF;
}

table.el-date-table td.in-range div,
table.el-date-table td.in-range div:hover,
table.el-date-table.is-week-mode .el-date-table__row.current div,
table.el-date-table.is-week-mode .el-date-table__row.current-row div,
table.el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: #0a4d5e;
}

button.el-button:focus,
button.el-button:hover {
  background-color: inherit;
  border-color: inherit
}

.right.isActive {
  #searchMap {
    left: 80px;
  }
}

ul.el-autocomplete-suggestion__list {
  li {
    font-size: 12px;
    white-space: inherit;
    line-height: 1.2;
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
  }
}

div.el-message-box {
  background-image: url('~@/assets/images/1.png');
  background-size: 100% 100%;
  background-color: transparent !important;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  width: 480px;

  .el-message-box__headerbtn {
    right: 25px;
  }

  .el-message-box__title {
    color: #fff;
    text-align: center;
  }

  .el-message-box__content {}

  .el-message-box__message {
    color: #fff;
    padding: 5px 10px;
  }

  .el-message-box__input {
    padding: 5px 10px;
  }

  .el-message-box__btns {
    padding: 5px 15px 15px 0;
  }
}

div.el-form-item {
  margin-bottom: 0;
}

.myHeaderInput {
  display: inline-block;
  width: 200px;
  margin-left: 5px;
}

body .el-table th.gutter {
  display: table-cell !important;
}
.smallDialog{
  .el-dialog{
    width:450px;
    height: 240px;
    background-image: url('~@/assets/images/1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    .el-dialog__header{
      padding: 10px;
      color: #fff;
      text-align: center;
      span{
        color: #fff;
      }
    }
    .el-dialog__body{
      padding: 15px;
      height: 190px;
    }
    
  }
}
.treeMain {
  height: 320px;
  overflow: auto;
  & ::v-deep .el-tree {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  & ::v-deep .el-tree-node__label {
    font-size: 12px;
    color: #fff;
  }
  & ::v-deep .el-tree-node__content:hover,
  & ::v-deep .el-tree-node:focus > .el-tree-node__content {
    background: rgb(10, 77, 94);
    border: 1px solid rgb(33, 133, 139);
    border-radius: 5px;
  }
  & ::v-deep .el-tree-node__label {
    padding-left: 15px;
    background-image: url("~@/assets/images/second_fr.png");
    background-size: 10px 10px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}