<template>
  <py-structure
    :tree-datas="treeDatas"
    class="EquipmentInformationManagement"
    :props-data="defaultProps"
    @_search="seachTreeData"
    @_active="nodeClick"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList">
      <div slot="header">
        <span>产品类型: </span>
        <el-select v-model="productType" @change="init" size="mini" clearable>
          <el-option
            v-for="item in productTypeList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <div class="myHeaderInput">
          <el-input
            class="input-with-select"
            suffix-icon="el-icon-search"
            @change="init"
            @keydown.enter.native="init"
            v-model="keywords"
            placeholder="关键字搜索"
            size="mini"
          ></el-input>
        </div>
        <a href="javascript:void(0);" class="headerInput" @click="refreshClick">
          <i class="fa fa-refresh"></i>
          <span>刷新</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="addClick">
          <i class="fa fa-plus"></i>
          <span>新增</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="DownClick">
          <i class="fa fa-file-text-o"></i>
          <span>Excel导出</span>
        </a>
        <el-upload
          class="upload-demo"
          :action="uploadAction"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <a href="javascript:void(0);" class="headerInput">
            <i class="fa fa-file-excel-o"></i>
            <span>Excel导入</span>
          </a>
        </el-upload>
      </div>
      <div
        slot="EquipmentInformationManagement"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-equipment-info
          :height="height"
          :datas="eDatas"
          :page="ePage"
          @_click="childClick"
          @_update="updateParamters"
        ></py-equipment-info>

        <py-equipement-view
          :ishow="isEdit"
          :type="editType"
          :datas="editData"
          :tree="treeDatas"
          @_save="getList"
        ></py-equipement-view>
      </div>
    </py-tag-view>
    <py-data-export
      :ishow="isDataExport"
      url="armMeterExport"
      :params="dataExportParams"
      :filters="dataExportFilter"
    ></py-data-export>
    <py-data-import
    :ishow="IsExcelImport"
    url="armImport"
    ></py-data-import>
  </py-structure>
</template>

<script lang="ts">
import DataImport from "@/components/DataImport.vue"
import { getEColumns } from "@/components/InformationManagement/EColumns";
import DataExport from "@/components/DataExport.vue";
import { Select, Option, Upload, Input } from "element-ui";
import EquipementView from "@/components/InformationManagement/EquipementView.vue";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import EquipmentInfo from "@/components/InformationManagement/EquipmentInfo.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyEquipmentInfo: EquipmentInfo,
    pyEquipementView: EquipementView,
    pyDataExport: DataExport,
    pyDataImport: DataImport,
    elSelect: Select,
    elOption: Option,
    elUpload: Upload,
    elInput: Input,
  },
})
export default class EquipmentInformationManagement extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "EquipmentInformationManagement",
      label: "设备信息管理",
    },
  ];
  @Provide() fullscreenLoading: boolean = false;
  @Provide() orderBy: string = "";
  @Provide() sort: string = "";
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() productTypeList: any = [];
  @Provide() productType: string = ""; //烟感，电气火灾
  @Provide() organizeId: string = "";
  @Provide() eDatas: any = [];
  @Provide() ePage: any = {};

  @Provide() editType: string = "add";
  @Provide() editData: any = {};
  @Provide() isEdit: boolean = false;

  getProductType() {
    let self = this;
    let hisReq = {
      dictType: "productType",
    };
    self.get("dictType", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let list = d.data.list;
        self.productTypeList = list;
      }
    });
  }

  created() {
    console.log("created");
    let self = this;
    self.getProductType();
    self.getTree();
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  @Provide() IsExcelImport:boolean = false
  excelImportClick() {
    this.IsExcelImport = !this.IsExcelImport
  }
  @Provide() keywords: string = "";
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.orderBy = "";
    self.sort = "";
    self.getList();
  }

  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  getReq() {
    let self = this;
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageSize: self.pageSize,
      pageNum: self.pageNum,
      productType: self.productType,
      organizeId: self.organizeId,
      keywords: self.keywords,
    };
  }
  refreshClick() {
    this.init();
  }
  @Provide() isDataExport: boolean = false;

  @Provide() dataExportFilter: any = {};
  @Provide() dataExportParams: any = [];
  DownClick() {
    console.log("导出");
    // armExport
    let self = this;
    let req = self.getReq();
    console.log(req);
    try {
      self.dataExportFilter = req;

      self.dataExportParams = getEColumns();

      self.isDataExport = !self.isDataExport;
    } catch (e) {
      console.log(e);
    }
  }
  addClick() {
    // meterAdd
    let self = this;
    self.editType = "add";
    self.editData = {};
    self.isEdit = !self.isEdit;
  }
  ImportClick() {
    console.log("excel导入");
  }
  childClick(val: any) {
    console.log(val);
    let type = val.type;
    let row = val.row;
    if (type == "edit") {
      this.editClick(row);
    } else if (type == "delete") {
      this.deleteClick(row);
    }
  }
  editClick(row: any) {
    // meterUpdate
    let self = this;
    self.editType = "edit";
    self.editData = row;
    self.isEdit = !self.isEdit;
  }
  deleteClick(row: any) {
    console.log(row);
    // meterUpdate
    let self = this;
    self
      .$confirm("是否删除此设备信息？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then((d: any) => {
        let hisReq = {
          meterId: row.meterId,
        };
        self.delete("meterUpdate", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除设备信息成功",
              type: "success",
            });

            self.getList();
          }
        });
      });
  }
  updateParamters(val: any) {
    let self: any = this;
    for (let key in val) {
      self[key] = val[key];
    }
    this.getList();
  }
  getList() {
    let self = this;
    let req = self.getReq();
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self.get("meterList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let defaultData = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        let newList = defaultData.list.map((item: any) => {
          if (item.expireDate) {
            let exTime = new Date(item.expireDate).getTime();
            if (exTime > newDate) {
              item.iotStatus = "已过期";
            } else {
              item.iotStatus = "未过期";
            }
          } else {
            item.iotStatus = "";
          }
        });
        self.eDatas = defaultData.list;
        self.ePage = {
          costtime: costtime,
          pageNum: defaultData.pageNum,
          pageSize: defaultData.pageSize,
          total: defaultData.total,
        };
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  nodeClick(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }

  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.upload-demo {
  display: inline;
}
</style>
