<template>
  <py-structure
    :tree-datas="treeDatas"
    class="RemoteConfigurationOfPowerConsumption"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList">
      <div slot="header">
        <a href="javascript:void(0);" class="headerInput" @click="fireGetParas">
          <i class="fa fa-spinner"></i>
          <span>读取参数</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="fireSetParas">
          <i class="fa fa-spinner"></i>
          <span>设置参数</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="fireSilence">
          <i class="fa fa-spinner"></i>
          <span>报警消音</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="fireDisarm">
          <i class="fa fa-spinner"></i>
          <span>报警消警</span>
        </a>
      </div>
      <div
        slot="RemoteConfigurationOfPowerConsumption"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-remote-view
          :height="height"
          :datas="eDatas"
          :page="ePage"
          @_click="childClick"
          @_update="updateParamters"
          @current="rowSelect"
        ></py-remote-view>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import $ from "jquery";
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import RemoteView from "@/components/InformationManagement/RemoteSmokeDetector.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyRemoteView: RemoteView,
  },
})
export default class RemoteConfigurationOfPowerConsumption extends Mixins(
  commMixins
) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "RemoteConfigurationOfPowerConsumption",
      label: "用电远程配置",
    },
  ];
  @Provide() fullscreenLoading: boolean = false;
  @Provide() orderBy: string = "";
  @Provide() sort: string = "";
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() productTypeList: any = [];
  @Provide() productType: string = ""; //烟感，电气火灾
  @Provide() organizeId: string = "";

  @Provide() eDatas: any = [];
  @Provide() ePage: any = {};
  created() {
    let self = this;
    self.getTree();
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.orderBy = "";
    self.sort = "";

    self.getList();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  getReq() {
    let self = this;
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageSize: self.pageSize,
      pageNum: self.pageNum,
      productType: "电气火灾",
      organizeId: self.organizeId,
    };
  }
  getList() {
    let self = this;
    let req = self.getReq();
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self.get("meterList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      console.log(d);
      if (d.code == 10000) {
        let { list, pageNum, pageSize, total } = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        self.eDatas = list;
        console.log(list);
        self.ePage = {
          costtime: costtime,
          pageNum: pageNum,
          pageSize: pageSize,
          total: total,
        };
      }
    });
  }
  fireGetParas() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myGet("fireGetParas", req, "读取参数操作成功！");
  }
  fireSilence() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("fireSilence", req, "报警消音操作成功！");
  }
  fireSetParas() {
    let self: any = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req: any = {
      addressCode,
    };
    let values: any = [];
    let h = this.$createElement;
    this.$msgbox({
      title: "设置参数",
      message: h("form", { class: "el-form el-form--label-right msgboxForm" }, [
        h("div", { class: "el-form-item" }, [
          h("label", { class: "el-form-item__label" }, "剩余电流(mA)"),
          h(
            "div",
            { class: "el-form-item__content", style: "margin-left: 100px;" },
            [
              h("div", { class: "el-ipnut el-input--mini" }, [
                h("input", {
                  class: "el-input__inner",
                  ref: "currentLeakageSet",
                }),
              ]),
            ]
          ),
        ]),
        h("div", { class: "el-form-item" }, [
          h("label", { class: "el-form-item__label" }, "电流(A)"),
          h(
            "div",
            { class: "el-form-item__content", style: "margin-left: 100px;" },
            [
              h("div", { class: "el-ipnut el-input--mini" }, [
                h("input", {
                  class: "el-input__inner",
                  ref: "currentSet",
                }),
              ]),
            ]
          ),
        ]),
        h("div", { class: "el-form-item" }, [
          h("label", { class: "el-form-item__label" }, "温度(℃)"),
          h(
            "div",
            { class: "el-form-item__content", style: "margin-left: 100px;" },
            [
              h("div", { class: "el-ipnut el-input--mini" }, [
                h("input", {
                  class: "el-input__inner",
                  ref: "temperatureSet",
                }),
              ]),
            ]
          ),
        ]),
      ]),
      showCancelButton: true,
      confirmButtonText: "确定",
      cancelButtonClass: "cancle",
      confirmButtonClass: "yes",
      cancelButtonText: "取消",
      beforeClose: (action, instance: any, done) => {
        let childs = $(".msgboxForm").find(".el-input__inner");
        childs.each((i: number, e: any) => {
          let value = $(e).val();
          values[i] = value;
        });
        done();
      },
    }).then((action) => {
      req.currentLeakageSet = values[0];
      req.currentSet = values[1];
      req.temperatureSet = values[2];
      self.myPost("fireSetParas", req, "设置参数操作成功");
    });
  }
  fireDisarm() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("fireDisarm", req, "报警消警操作成功！");
  }
  myPost(url: string, req: any, msg: string) {
    let self = this;

    self.fullscreenLoading = true;
    self.post(url, req, null).then((d: any) => {
      if (d.code == 10000) {
        self.fullscreenLoading = false;
        self.$message({
          showClose: true,
          message: msg,
          type: "success",
        });
      }
    });
  }
  myGet(url: string, req: any, msg: string) {
    let self = this;

    self.fullscreenLoading = true;
    self.get(url, req, null).then((d: any) => {
      if (d.code == 10000) {
        self.fullscreenLoading = false;
        self.$message({
          showClose: true,
          message: msg,
          type: "success",
        });
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  childClick(val: any) {
    console.log(val);
  }
  updateParamters(val: any) {
    console.log(val);
  }
  @Provide() selectedRow: any = {};
  rowSelect(val: any) {
    console.log(val);
    this.selectedRow = val;
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
