<template>
  <py-structure
    :tree-datas="treeDatas"
    class="RemoteConfigurationOfSmokeDetector"
    :props-data="defaultProps"
    @_active="seachTreeData"
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.3)"
    v-loading.fullscreen.lock="fullscreenLoading"
  >
    <py-tag-view :list="tabList">
      <div slot="header">
        <a href="javascript:void(0);" class="headerInput" @click="singleMute">
          <i class="fa fa-spinner"></i>
          <span>单次静音</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="continuousMute"
        >
          <i class="fa fa-spinner"></i>
          <span>连续静音</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="smokeQuery">
          <i class="fa fa-search"></i>
          <span>状态查询</span>
        </a>
        <a href="javascript:void(0);" class="headerInput" @click="smokeTest">
          <i class="fa fa-exchange"></i>
          <span>测试烟感</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="smokeCheckTime"
        >
          <i class="fa fa-fa-clock-o"></i>
          <span>校正时间</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="smokeReportInterval"
        >
          <i class="fa fa-spinner"></i>
          <span>设置节点上报间隔</span>
        </a>
        <a
          href="javascript:void(0);"
          class="headerInput"
          @click="smokeInitGateway"
        >
          <i class="fa fa-gear"></i>
          <span>初始化网关</span>
        </a>
      </div>
      <div
        slot="RemoteConfigurationOfSmokeDetector"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <py-remote-view
          :height="height"
          :datas="eDatas"
          :page="ePage"
          @_click="childClick"
          @_update="updateParamters"
          @current="rowSelect"
        ></py-remote-view>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure.vue";
import RemoteView from "@/components/InformationManagement/RemoteSmokeDetector.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    pyRemoteView: RemoteView,
  },
})
export default class RemoteConfigurationOfSmokeDetector extends Mixins(
  commMixins
) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() treeDatas: any = [];
  @Provide() defaultProps: any = {
    label: "fullName",
    children: "children",
    disabled: "",
    isLeaf: "",
  };
  @Provide() tabList: any = [
    {
      name: "RemoteConfigurationOfSmokeDetector",
      label: "烟感远程配置",
    },
  ];
  @Provide() fullscreenLoading: boolean = false;
  @Provide() orderBy: string = "";
  @Provide() sort: string = "";
  @Provide() pageNum: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() productTypeList: any = [];
  @Provide() productType: string = ""; //烟感，电气火灾
  @Provide() organizeId: string = "";

  @Provide() eDatas: any = [];
  @Provide() ePage: any = {};
  created() {
    let self = this;
    self.getTree();
  }
  getTree() {
    let self = this;
    let req = {
      organizeId: "",
    };
    self
      .get("organizeTree", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          let treeList = [];
          let treeData = d.data;
          // console.log(treeData);
          // treeList.push(treeData);
          treeList = treeData.list;
          console.log(treeList);
          self.setTreeData(treeList);
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  mounted() {
    console.log("mounted");
    this.init();
  }
  init() {
    let self = this;
    self.pageNum = 1;
    self.pageSize = 20;
    self.orderBy = "";
    self.sort = "";

    self.getList();
  }
  getReq() {
    let self = this;
    return {
      orderBy: self.orderBy,
      sort: self.sort,
      pageSize: self.pageSize,
      pageNum: self.pageNum,
      productType: "烟感",
      organizeId: self.organizeId,
    };
  }
  singleMute() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("singleMute", req, "单词静音操作成功！");
  }
  continuousMute() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("continuousMute", req, "连续静音操作成功！");
  }
  smokeQuery() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myGet("smokeQuery", req, "状态查询操作成功！");
  }
  smokeTest() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("smokeTest", req, "测试烟感操作成功！");
  }
  smokeCheckTime() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("smokeCheckTime", req, "校正时间操作成功！");
  }
  smokeReportInterval() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    this.$prompt("请输入间隔时间(分钟)", "设置节点上报间隔", {
      confirmButtonText: "确定",
      cancelButtonClass: "cancle",
      confirmButtonClass: "yes",
      cancelButtonText: "取消",
      inputPattern: /\d+/,
      inputErrorMessage: "不正确",
    }).then(({ value }: any) => {
      let req = {
        addressCode,
        minutes: value,
      };
      self.myPost("smokeReportInterval", req, "设置节点上报间隔操作成功！");
    });
  }
  smokeInitGateway() {
    let self = this;
    let data = self.selectedRow;
    let { addressCode } = data;
    if (!addressCode) {
      self.$message({
        showClose: true,
        message: "没有设置设备地址",
        type: "error",
      });
      return;
    }
    let req = {
      addressCode,
    };
    self.myPost("smokeInitGateway", req, "初始化网关操作成功！");
  }
  myPost(url: string, req: any, msg: string) {
    let self = this;

    self.fullscreenLoading = true;
    self.post(url, req, null).then((d: any) => {
      if (d.code == 10000) {
        self.fullscreenLoading = false;
        self.$message({
          showClose: true,
          message: msg,
          type: "success",
        });
      }
    });
  }
  myGet(url: string, req: any, msg: string) {
    let self = this;

    self.fullscreenLoading = true;
    self.get(url, req, null).then((d: any) => {
      if (d.code == 10000) {
        self.fullscreenLoading = false;
        self.$message({
          showClose: true,
          message: msg,
          type: "success",
        });
      }
    });
  }
  childClick(val: any) {
    console.log(val);
  }
  updateParamters(val: any) {
    console.log(val);
  }
  getList() {
    let self = this;
    let req = self.getReq();
    let oldDate = new Date().getTime();
    self.fullscreenLoading = true;
    self.get("meterList", req, null).then((d: any) => {
      self.fullscreenLoading = false;
      console.log(d);
      if (d.code == 10000) {
        let defaultData = d.data;
        let newDate = new Date().getTime();
        let costtime = newDate - oldDate;
        self.eDatas = defaultData.list;
        self.ePage = {
          costtime: costtime,
          pageNum: defaultData.pageNum,
          pageSize: defaultData.pageSize,
          total: defaultData.total,
        };
      }
    });
  }
  seachTreeData(newVal: any) {
    let id = newVal.id;
    this.organizeId = id;
    this.init();
  }
  setTreeData(data: any) {
    let self = this;
    self.treeDatas = data;
  }
  @Provide() selectedRow: any = {};
  rowSelect(val: any) {
    console.log(val);
    this.selectedRow = val;
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
