<template>
  <py-template class="home" :class-name="activeName" :swidth="swidth">
    <div class="py-header-nav-container" slot="headerNav">
      <a
        v-for="item in tabNavList"
        :key="item.name"
        href="javascript:void(0);"
        class="menuTab"
        :class="{ active: item.name == activeName }"
        @click="navClick(item)"
      >
        <span v-text="item.text">欢迎首页</span>
        <i
          class="fa fa-remove"
          v-if="item.isDelete"
          @click.stop="deleteTab(item)"
        ></i>
      </a>
    </div>
    <div class="py-header-nav-user" slot="headerMenu">
      <el-dropdown size="medium" @command="handleTagCommand">
        <span class="el-dropdown-link py-dropdown-nav">
          页签操作
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu
          class="py-dropdown-menu"
          trigger="click"
          slot="dropdown"
        >
          <el-dropdown-item command="refresh">
            <a href="javascript:void(0);">刷新当前</a>
          </el-dropdown-item>
          <el-dropdown-item command="close">
            <a href="javascript:void(0);">关闭当前</a></el-dropdown-item
          >
          <el-dropdown-item command="closeAll"
            ><a href="javascript:void(0);">全部关闭</a></el-dropdown-item
          >
          <el-dropdown-item command="closeOther"
            ><a href="javascript:void(0);"
              >除此之外全部关闭</a
            ></el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
      <a
        href="javascript:void(0);"
        class="py-fullscreen"
        @click="fullscreenClick"
      >
        <i class="fa fa-arrows-alt"></i>
      </a>
      <el-dropdown size="medium" @command="handleUserCommand">
        <div class="el-dropdown-link py-dropdown-user">
          <img src="../assets/images/user.png" class="user-image" alt="" />
          <span v-text="roleName"></span>
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </div>
        <el-dropdown-menu
          class="py-dropdown-menu"
          trigger="click"
          slot="dropdown"
        >
          <el-dropdown-item command="userInfo">
            <a href="javascript:void(0);">
              <i class="fa fa-user"></i>
              <span>个人信息</span>
            </a>
          </el-dropdown-item>
          <!-- <el-dropdown-item command="dialog">
          <a href="javascript:void(0);">
            <i class="fa fa-newspaper-o"></i>
            <span>弹窗设置</span>
          </a>
        </el-dropdown-item> -->
          <el-dropdown-item command="clear">
            <a href="javascript:void(0);">
              <i class="fa fa-trash-o"></i>
              <span>清空缓存</span>
            </a>
          </el-dropdown-item>
          <el-dropdown-item divided command="logOut">
            <a href="javascript:void(0);">
              <i class="ace-icon fa fa-power-off"></i>
              <span>安全退出</span>
            </a>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <py-aside
      slot="aside"
      :active="activeName"
      @_toggle="toggleClick"
      @_active="activeClick"
    ></py-aside>
    <div class="py-home-tabs">
      <router-view :name="item.name" :refresh="item.isRefresh" />
    </div>
  </py-template>
</template>

<script lang="ts">
import pyTemplate from "@/components/Template.vue";
import Aside from "@/components/Home/Aside.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import {
  Dropdown,
  DropdownMenu,
  DropdownItem,
  Tabs,
  TabPane,
} from "element-ui";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyTemplate: pyTemplate,
    pyAside: Aside,
    elDropdown: Dropdown,
    elDropdownMenu: DropdownMenu,
    elDropdownItem: DropdownItem,
    elTabs: Tabs,
    elTabPane: TabPane,
  },
})
export default class Home extends Mixins(commMixins) {
  @Provide() test = "this is test";
  @Provide() swidth = "210px";
  @Provide() activeName = "index";
  @Provide() roleName: string = "";
  @Provide() isFullscreen: boolean = false;

  @Provide() tabNavList: any = [
    {
      text: "欢迎首页",
      name: "index",
      isDelete: false,
      isRefresh: false,
    },
  ];

  mounted() {
    this.getUserInfo();
    this.commTest();
  }
  getUserInfo() {
    let self = this;
    self.get("userInfo", null, null).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        self.setUserInfo(data);
        self.roleName = data.roleName;
      }
    });
  }
  toggleClick(val: boolean) {
    if (val) {
      this.swidth = "210px";
    } else {
      this.swidth = "80px";
    }
  }
  isNavHasIndex(name: string): number {
    let self = this;
    for (let i = 0; i < self.tabNavList.length; i++) {
      let item = self.tabNavList[i];
      if (item.name == name) {
        return i;
      }
    }
    return -1;
  }
  activeClick(val: any) {
    let self = this;
    console.log(val);
    if (self.isNavHasIndex(val.name) == -1) {
      let newJson = {
        text: val.text,
        name: val.name,
        isDelete: true,
        isRefresh: false,
      };
      if (self.tabNavList.length >= 4) {
        self.tabNavList.splice(2, 1);
      }
      self.tabNavList.unshift(newJson);
    }
    self.activeName = val.name;
  }
  navClick(val: any) {
    this.activeName = val.name;
  }
  handleClick(val: any) {
    console.log(val);
  }
  deleteTab(val: any) {
    let self = this;
    let index = self.isNavHasIndex(val.name);
    if (val.name == self.activeName) {
      self.activeName = "index";
    }
    self.tabNavList.splice(index, 1);
  }
  /**
  页签操作
  refresh: 刷新当前
  close： 关闭当前
  closeAll： 关闭所有
  closeOther： 关闭其他
  */
  handleTagCommand(val: any) {
    let self = this;
    if (val == "refresh") {
      let index = self.isNavHasIndex(self.activeName);
      let oldData = self.tabNavList[index];
      oldData.isRefresh = !oldData.isRefresh;
      self.$set(self.tabNavList, index, oldData);
    } else if (val == "close") {
      let req = {
        name: self.activeName,
      };
      self.deleteTab(req);
    } else if (val == "closeAll") {
      self.activeName = "index";
      self.tabNavList = [
        {
          text: "欢迎首页",
          name: "index",
          isDelete: false,
        },
      ];
    } else if (val == "closeOther") {
      let newList = [];
      let list = self.tabNavList;
      if (list.length > 1) {
        for (let i = 0; i < list.length; i++) {
          let item = list[i];
          if (item.name == self.activeName) {
            newList.push(item);
          } else if (item.name == "index") {
            newList.push(item);
          }
        }
        self.tabNavList = newList;
      }
    }
  }
  /**
  用户点击
  userInfo:用户信息
  dialog: 弹窗设置
  clear: 清空缓存
  logOut: 安全退出
  */
  handleUserCommand(val: any) {
    let self = this;
    console.log(val);
    // activeClick
    if (val == "userInfo") {
      let newReq = {
        name: "userInfo",
        text: "个人信息",
      };
      self.activeClick(newReq);
    }
  }
  // 全屏点击
  fullscreenClick() {
    let element: any = document.documentElement;
    this.isFullscreen = !this.isFullscreen;
    if (this.isFullscreen) {
      if (element.requestFullscreen) {
        element.requestFullscreen();
      } else if (element.mozRequestFullScreen) {
        // 兼容火狐
        element.mozRequestFullScreen();
      } else if (element.webkitRequestFullscreen) {
        // 兼容谷歌
        element.webkitRequestFullscreen();
      } else if (element.msRequestFullscreen) {
        // 兼容IE
        element.msRequestFullscreen();
      }
    } else {
      let dom: any = document;
      //  退出全屏
      if (dom.exitFullscreen) {
        dom.exitFullscreen();
      } else if (dom.mozCancelFullScreen) {
        dom.mozCancelFullScreen();
      } else if (dom.webkitCancelFullScreen) {
        dom.webkitCancelFullScreen();
      } else if (dom.msExitFullscreen) {
        dom.msExitFullscreen();
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.menuTab {
  background-image: url("../assets/images/open_button.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  .fa {
    margin-left: 5px;
  }
}
.py-header-nav-container {
  margin-top: 5px;
}
.menuTab.active {
  background-image: url("../assets/images/close_button.png");
}
.py-header-nav-user {
  padding-left: 25px;
  box-sizing: border-box;
  .py-dropdown-nav,
  .py-dropdown-user span {
    display: block;
    background-color: transparent;
    color: #fff;
    background-image: url("../assets/images/little_car.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;

    .el-icon-caret-bottom {
      color: rgb(47, 184, 160);
    }
  }
  .py-dropdown-nav {
    width: 110px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .py-dropdown-user span {
    width: 110px;
    height: 40px;
    font-size: 16px;
    line-height: 36px;
  }
  .py-fullscreen {
    float: left;
    font-size: 14px;
    color: rgb(47, 184, 160);
    margin-left: 5px;
    margin-right: 15px;
    line-height: 32px;
  }

  & .el-dropdown {
    float: left;
  }
  .user-image {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-right: 2px;
    vertical-align: middle;
  }
  .py-dropdown-user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .el-icon-caret-bottom {
      color: #bbcbfe;

      position: relative;
      top: 10px;
      right: 6px;
    }
  }
}
.py-dropdown-menu {
  border-color: #eee;
  background-color: rgb(39, 119, 128);
  & ::v-deep .el-dropdown-menu__item {
    line-height: 26px;
  }
  & ::v-deep .el-dropdown-menu__item:focus,
  & ::v-deep .el-dropdown-menu__item:hover {
    background-color: rgb(24, 169, 166);
    color: #fff;
    border-radius: 4px;
  }
  a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }
  & ::v-deep .el-dropdown-menu__item.el-dropdown-menu__item--divided:before {
    height: 0px;
  }
}
.py-home-tabs {
  height: 100%;
  // & ::v-deep .el-tabs__header {
  //   display: none;
  // }
  & ::v-deep .el-tabs__content {
    height: 100%;
  }
  & ::v-deep .el-tab-pane {
    height: 100%;
    overflow: auto;
  }
}
</style>
