<template>
  <div class="py-index-container">
    <div class="py-index-left">
      <el-row :gutter="10">
        <el-col :span="6" v-for="(item, index) in smallPanelList" :key="index">
          <py-small-panel
            :title="item.title"
            :icon="item.icon"
            :num="item.num"
            :company="item.company"
            :theme="item.theme"
            @click.native="companyClick(item)"
          ></py-small-panel>
        </el-col>
      </el-row>
      <div class="EquipmentStatistics">
        <el-row>
          <el-col :span="24">
            <h5>设备状态统计</h5>
          </el-col>
          <el-col :span="24" class="EquipmentStatistics-main">
            <py-pie
              id="statics-success"
              type="success"
              :datas="successData"
              title="正常"
            ></py-pie>
            <py-pie
              id="statics-danger"
              type="danger"
              :datas="dangerData"
              title="报警"
            ></py-pie>
            <py-pie
              id="statics-warn"
              type="warn"
              :datas="warnData"
              title="故障"
            ></py-pie>
            <py-pie
              id="statics-info"
              type="info"
              :datas="infoData"
              title="离线"
            ></py-pie>
          </el-col>
        </el-row>
      </div>
      <div class="py-left-info">
        <div
          style="padding: 15px 10px 0 5px"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.3)"
          v-loading.fullscreen.lock="fireLoading"
        >
          <py-panel-list
            title="消防知识"
            type="updateFireKnowledge"
            :datas="fireControlDatas"
            @_nodeclick="itemClick"
          ></py-panel-list>
        </div>
        <div
          style="padding: 15px 10px 0 5px"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.3)"
          v-loading.fullscreen.lock="infoLoading"
        >
          <py-panel-list
            title="公共信息"
            type="updatePublicInformation"
            :datas="infoControlDatas"
            @_nodeclick="itemClick"
          ></py-panel-list>
        </div>
      </div>
    </div>
    <div class="py-index-right">
      <div style="padding: 0 15px 15px 15px">
        <py-bar :datas="weekData"></py-bar>
      </div>
      <div style="padding: 0 15px 0 15px">
        <py-line :datas="yearData"></py-line>
      </div>
    </div>
    <py-dialog-view
      :ishow="isDialogView"
      :did="dialogDid"
      :url="dialogUrl"
    ></py-dialog-view>
  </div>
</template>

<script lang="ts">
import DialogView from "@/components/Index/DialogView.vue";
import Bar from "@/components/Index/Bar.vue";
import Line from "@/components/Index/Line.vue";
import Pie from "@/components/Index/Pie.vue";
import SmallPanel from "@/components/Index/SmallPanel.vue";
import sList from "@/components/Index/SmallPanelList";
import PanelList from "@/components/Index/PanelList.vue";
import { Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Emit,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    pySmallPanel: SmallPanel,
    pyPie: Pie,
    pyPanelList: PanelList,
    pyBar: Bar,
    pyLine: Line,
    pyDialogView: DialogView,
  },
})
export default class Index extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;

  @Provide() test = "this is test";

  @Provide() isDialogView: boolean = false;
  @Provide() dialogDid: string = "";
  @Provide() dialogUrl: string = "";
  // 修改本月报警率等数据修改次数组
  @Provide() smallPanelList: any = sList;

  @Provide() staticDatas: any = {
    success: 504,
    danger: 50,
    warn: 0,
    info: 1478,
  };
  @Provide() successData: any = {};
  @Provide() dangerData: any = {};
  @Provide() warnData: any = {};
  @Provide() infoData: any = {};

  @Provide() fireControlDatas: any = [];
  @Provide() infoControlDatas: any = [];

  @Provide() weekData: any = {};
  @Provide() yearData = {};

  @Provide() fireLoading: boolean = false;
  @Provide() infoLoading: boolean = false;

  mounted() {
    this.init();
  }
  getHomeData() {
    let self = this;
    self.get("homeData", null, null).then((d: any) => {
      if (d.code == 10000) {
        console.log(d);
        let data = d.data;
        self.setSmallPanelList(data);
        self.setStatistics(data);
        self.setWeekData(data);
        self.setYearData(data);
      }
    });
  }
  @Emit("_aclick")
  companyClick(item: any) {
    let self = this;
    console.log(item);
    let { title } = item;
    let val: any = {};
    let status = "";
    switch (title) {
      case "本月报警数":
        // 设备历史数据
        val.name = "deviceHistoryData";
        val.text = "设备历史数据";

        break;
      case "设备报警率":
        //实时报警统计
        val.name = "realTimeAlarmStatistics";
        val.text = "实时报警统计";

        break;
      case "联网单位":
        // 联网单位
        val.name = "networkingUnit";
        val.text = "联网单位";
        break;
      case "联网设备":
        // 设备信息管理
        val.name = "equipmentInformationManagement";
        val.text = "设备信息管理";
        break;
      case "报警数":
        val.name = "dataMonitoringChild";
        val.text = "数据监控";
        break;
      case "故障数":
        val.name = "dataMonitoringChild";
        val.text = "数据监控";
        break;
      case "离线数":
        val.name = "dataMonitoringChild";
        val.text = "数据监控";
        break;
      case "正常数":
        val.name = "dataMonitoringChild";
        val.text = "数据监控";
        break;
    }
    val.isDelete = true;
    val.isRefresh = false;

    return val;
  }
  setWeekData(data: any) {
    let self = this;
    let weekData: any = {};
    let oldData = data.weekData;
    let timeList = oldData.timeList;
    let warnList = oldData.warnList;

    for (let i = 0; i < timeList.length; i++) {
      let key = timeList[i];
      let value = warnList[i];
      weekData[key] = value;
    }
    self.weekData = weekData;
  }
  setYearData(data: any) {
    let self = this;
    let yearData: any = {};
    let oldData = data.yearData;
    let timeList = oldData.timeList;
    let warnList = oldData.warnList;

    for (let i = 0; i < timeList.length; i++) {
      let key = timeList[i];
      let value = warnList[i];
      yearData[key] = value;
    }
    self.yearData = yearData;
  }
  setSmallPanelList(data: any) {
    let self = this;
    let oldList = self.smallPanelList;
    oldList[0].num = String(data.warnCount);
    let warnRate: string = data.warnRate;
    oldList[1].num = warnRate.replace(/\%/, "");
    oldList[2].num = String(data.orgCount);
    oldList[3].num = String(data.meterCount);
    let realtimeMeterStatus = data.realtimeMeterStatus;
    oldList[4].num = String(realtimeMeterStatus.warnCount);
    oldList[5].num = String(realtimeMeterStatus.breakdownCount);
    oldList[6].num = String(realtimeMeterStatus.offlineCount);
    oldList[7].num = String(realtimeMeterStatus.normalCount);
    self.smallPanelList = oldList;
  }
  setStatistics(data: any) {
    let self = this;
    let realtimeMeterStatus = data.realtimeMeterStatus;
    let allCount = realtimeMeterStatus.allCount;
    let normalCount = realtimeMeterStatus.normalCount;
    let offlineCount = realtimeMeterStatus.offlineCount;
    let warnCount = realtimeMeterStatus.warnCount;
    let breakdownCount = realtimeMeterStatus.breakdownCount;
    self.successData = {
      count: normalCount,
      other: allCount - normalCount,
    };
    self.dangerData = {
      count: breakdownCount,
      other: allCount - breakdownCount,
    };
    self.warnData = {
      count: warnCount,
      other: allCount - warnCount,
    };
    self.infoData = {
      count: offlineCount,
      other: allCount - offlineCount,
    };
  }
  init() {
    let self = this;
    self.getHomeData();
    self.getFireInfo();
    self.getPublicInfo();
  }
  getFireInfo() {
    let self = this;
    let req = {
      pageNum: 1,
      pageSize: 10,
    };
    self.fireLoading = true;
    self.fireControlDatas = [];
    self.get("fireKnowledge", req, null).then((d: any) => {
      self.fireLoading = false;
      if (d.code == 10000) {
        let list = d.data.list;
        self.fireControlDatas = list;
      }
    });
  }
  getPublicInfo() {
    let self = this;
    let req = {
      pageNum: 1,
      pageSize: 10,
    };
    self.infoLoading = true;
    self.infoControlDatas = [];
    self.get("publicInformation", req, null).then((d: any) => {
      self.infoLoading = false;
      if (d.code == 10000) {
        let list = d.data.list;
        self.infoControlDatas = list;
      }
    });
  }

  itemClick(row: any) {
    this.dialogDid = row.id;
    this.dialogUrl = row.type;
    this.isDialogView = !this.isDialogView;
    console.log("查看详细", row);
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("index -----> refresh");
  }
}
</script>
<style lang="scss" scoped>
.py-index-container {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  .py-index-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > div {
      height: 100%;
    }
    .py-left-info {
      display: flex;
      flex-direction: row;
      height: 240px;
      & > div {
        width: 50%;
      }
      & ::v-deep .el-col {
        position: relative;
        height: 100%;
      }
      flex: 1;
    }
  }
  .py-index-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    & > div {
      height: 50%;
    }
  }
  .EquipmentStatistics {
    width: 100%;
    background-image: url("../assets/images/state_bg.png");
    background-position: center, center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    h5 {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
    }
    .EquipmentStatistics-main {
      display: flex;
      flex-direction: row;
      padding: 15px;
    }
  }
}
</style>
