<template>
  <div class="LargeScreenDisplay">
    <aui-row :gutter="20">
      <aui-col :span="6">
        <div class="canvasMain">
          <h5>电气火灾数据</h5>
          <py-electrical-fire-data :datas="fireData"></py-electrical-fire-data>
        </div>
        <div class="canvasMain">
          <h5>报警分析</h5>
          <py-alarm-analysis
            cid="alramAnalysisDQ"
            :datas="fireDataWarnData"
          ></py-alarm-analysis>
        </div>
      </aui-col>
      <aui-col :span="12">
        <py-map class="canvasMapMain" @_returnclick="mapBtnClick"> </py-map>
      </aui-col>
      <aui-col :span="6">
        <div class="canvasMain">
          <h5>烟感数据</h5>
          <py-smoke-sensing-data :datas="smokeData"></py-smoke-sensing-data>
        </div>
        <div class="canvasMain">
          <h5>报警分析</h5>
          <py-alarm-analysis
            cid="alramAnalysisYG"
            :datas="smokeDataWarnData"
          ></py-alarm-analysis>
        </div>
      </aui-col>
    </aui-row>
    <aui-row :gutter="20" class="largeList">
      <aui-col :span="8">
        <div class="gridMain">
          <h5>报警详情</h5>
          <py-alarm-details
            :datas="dqWDData"
            :height="listHeight"
          ></py-alarm-details>
        </div>
      </aui-col>
      <aui-col :span="8">
        <div class="gridMain">
          <h5>新闻</h5>
          <py-news :datas="newsList" :height="listHeight"></py-news>
        </div>
      </aui-col>
      <aui-col :span="8">
        <div class="gridMain">
          <h5>报警详情</h5>
          <py-alarm-details
            :datas="ygWDData"
            :height="listHeight"
          ></py-alarm-details>
        </div>
      </aui-col>
    </aui-row>
    <span class="lScreen" @click="jumbClick">
      <i class="fa fa-cogs fa-spin"></i>
    </span>
    <span id="fullScreen" style="display: none" @click="fullscreenClick"></span>
  </div>
</template>

<script lang="ts">
import $ from "jquery";
import Map from "@/components/LargeScreenDisplay/Map.vue";
import News from "@/components/LargeScreenDisplay/News.vue";
import AlarmDetails from "@/components/LargeScreenDisplay/AlarmDetails.vue";
import AlarmAnalysis from "@/components/LargeScreenDisplay/AlarmAnalysis.vue";
import ElectricalFireData from "@/components/LargeScreenDisplay/ElectricalFireData.vue";
import SmokeSensingData from "@/components/LargeScreenDisplay/SmokeSensingData.vue";
import { Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    auiRow: Row,
    auiCol: Col,
    pyElectricalFireData: ElectricalFireData,
    pySmokeSensingData: SmokeSensingData,
    pyAlarmAnalysis: AlarmAnalysis,
    pyAlarmDetails: AlarmDetails,
    pyNews: News,
    pyMap: Map,
  },
})
export default class LargeScreenDisplay extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";

  @Provide() fireData: any = {};
  @Provide() smokeData: any = {};

  @Provide() fireDataWarnData: any = {};
  @Provide() smokeDataWarnData: any = {};

  @Provide() ygWDData: any = [];
  @Provide() dqWDData: any = [];

  @Provide() newsList: any = [];

  @Provide() province: string = "";
  @Provide() startTime: string = "";
  @Provide() endTime: string = "";
  @Provide() listHeight: number = 150;
  @Provide() isFullscreen: boolean = false;
  created() {}
  fullscreenClick() {
    let element: any = document.documentElement;
    this.isFullscreen = !this.isFullscreen;
    if (this.isFullscreen) {
      if (element.requestFullscreen) {
        element.requestFullscreen();
      } else if (element.mozRequestFullScreen) {
        // 兼容火狐
        element.mozRequestFullScreen();
      } else if (element.webkitRequestFullscreen) {
        // 兼容谷歌
        element.webkitRequestFullscreen();
      } else if (element.msRequestFullscreen) {
        // 兼容IE
        element.msRequestFullscreen();
      }
    } else {
      let dom: any = document;
      //  退出全屏
      if (dom.exitFullscreen) {
        dom.exitFullscreen();
      } else if (dom.mozCancelFullScreen) {
        dom.mozCancelFullScreen();
      } else if (dom.webkitCancelFullScreen) {
        dom.webkitCancelFullScreen();
      } else if (dom.msExitFullscreen) {
        dom.msExitFullscreen();
      }
    }
  }
  setHeight() {
    let self = this;
    let height = $(".largeList").height();
    let lastHeight = height - 40;
    if (lastHeight > 150) {
      self.listHeight = lastHeight;
    }
  }
  mounted() {
    let self = this;
    self.setHeight();
    let newDate = new Date().getTime();
    let startTime = newDate - 30 * 24 * 60 * 60 * 1000;
    let endTime = newDate;
    let startString = self.formatDate(startTime);
    let endString = self.formatDate(endTime);
    // 一个月
    this.province = "";
    this.startTime = startString;
    this.endTime = endString;
    self.init();
  }
  init() {
    this.getDesktopData();
    this.getDesktopWarnData();

    this.getWDFGrid();
    this.getNewData();
  }
  getDesktopData() {
    let self = this;
    let req = {
      province: self.province,
    };
    self.get("desktopData", req, null).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        let fireData = data.fireData;
        // breakdownCount 故障
        self.fireData = {
          iDQCount: fireData.meterCount,
          iDQNCount: fireData.normalCount,
          iDQUCount: fireData.offlineCount,
          iDQWCount: fireData.warnCount,
          // iDBCount: fireData.breakdownCount, // 故障
          iDBCount: fireData.breakdownCount,
          iDQLCount: fireData.leakCount, //漏电
          iDQOLCount: fireData.overloadCount, // 过载
          iDQOTCount: fireData.overtempCount, // 超温
          iDQELCount: fireData.otherCount, // 其它
        };
        let smokeData = data.smokeData;
        self.smokeData = {
          iYGCount: smokeData.meterCount,
          iYGNCount: smokeData.normalCount,
          iYGUCount: smokeData.offlineCount,
          iYGBCount: smokeData.breakdownCount,
          // breakdownCount  故障
          iYGWCount: smokeData.warnCount,
          iYGLORACount: smokeData.loraCount,
          iYGNBCount: smokeData.nbCount,
        };
      }
    });
  }
  getDesktopWarnData() {
    let self = this;
    let req = {
      startTime: self.startTime,
      endTime: self.endTime,
      province: self.province,
    };
    self.get("desktopWarnData", req, null).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        let fireData = data.fireData;
        self.fireDataWarnData = fireData;
        let smokeData = data.smokeData;
        self.smokeDataWarnData = smokeData;
      }
    });
  }
  getWDFGrid() {
    let self = this;

    let req = {
      province: self.province,
    };
    self.get("desktopWarnDetails", req, null).then((d: any) => {
      if (d.code == 10000) {
        let data = d.data;
        self.dqWDData = data.fireData;
        self.ygWDData = data.smokeData;
      }
    });
  }

  getNewData() {
    let self = this;
    let req = {
      pageNum: 1,
      pageSize: 10,
    };
    self.get("fireKnowledge", req, null).then((d: any) => {
      if (d.code == 10000) {
        // newsList
        let list = d.data.list;
        self.newsList = list;
      }
    });
  }
  jumbClick() {
    let self = this;
    let url = "/#/largeScreenDisplay";
    let route = this.$route;
    let { name } = route;
    if (name == "Index") {
      window.open(url);
    } else {
      // window.close();
      this.fullscreenClick();
    }

    // this.fullscreenClick();
  }
  mapBtnClick(d: any) {
    this.province = d;
    this.init();
  }
  @Watch("refresh")
  refreshWatch(): void {
    // 一个月
    this.province = "";
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.LargeScreenDisplay {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/map.png");
  background-size: 100% 100%;
  background-position: right top, left top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  .largeList {
    flex: 1;
    & ::v-deep .el-col {
      height: 100%;
    }
  }
  h5 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
  .canvasMain {
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-image: url("../assets/images/smoke.png");
    background-size: 100% 100%;
    background-position: right top, left top;
    margin-bottom: 15px;
  }
  .canvasMapMain {
    width: 100%;
    height: 470px;
  }
  .gridMain {
    min-height: 180px;
    background-repeat: no-repeat;
    background-image: url("../assets/images/news.png");
    background-size: 100% 100%;
    background-position: right top, left top;
  }
  .lScreen {
    position: absolute;
    right: 10px;
    top: 40%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}
</style>
