<template>
  <div class="LoginMain">
    <el-row>
      <el-col :span="13" style="text-align: center">
        <img src="../assets/images/login.png" class="LoginLeft" alt="" />
      </el-col>
      <el-col :span="11" style="height: 100%">
        <div class="LoginRight">
          <div class="LoginRight-title">
            <h4>智慧消防云平台</h4>
            <p>INTELLTGENT FIRE CLOUD PLATFORM</p>
          </div>
          <div class="LoginRight-box">
            <h5>云平台登录</h5>
            <el-alert
              v-if="errorTitle"
              :title="errorTitle"
              type="error"
              show-icon
            >
            </el-alert>
            <div class="loginInput">
              <span class="loginIcon loginUserIcon"></span>
              <input
                type="text"
                v-model="username"
                @keydown.enter="loginSubmit"
                auto-complete="on"
                placeholder="请输入用户名"
              />
            </div>
            <div class="loginInput">
              <span class="loginIcon loginPwdIcon"></span>
              <input
                type="password"
                v-model="password"
                auto-complete="on"
                @keydown.enter="loginSubmit"
                placeholder="请输入用户密码"
              />
            </div>
            <div class="loginVertical">
              <div class="loginInput">
                <span class="loginIcon loginCodeIcon"></span>
                <input
                  type="text"
                  v-model="verifyCode"
                  @keydown.enter="loginSubmit"
                  placeholder="请输入验证码"
                />
              </div>
              <div class="verticalImg">
                <img :src="captchaImg" @click="reVerticalClick" alt="验证码" />
              </div>
            </div>
          </div>
          <div class="LoginRight-btn">
            <a
              href="javascript:void(0);"
              @click="loginSubmit"
              class="loginRight-login"
            >
              <span
                v-if="isLoading"
                class="loginLoading el-icon-loading"
              ></span>
              <span v-if="isLoading">正在登录...</span>
              <span v-if="!isLoading">登 录</span>
            </a>
          </div>
          <p class="pFooter">
            最佳浏览环境：Google
            Chrome或基于Chrome内核的浏览器，1280×800显示分辨率。
          </p>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import md5 from "js-md5";
import { setStorage, removeStorage } from "@/utils/utils";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import { Row, Col, Alert } from "element-ui";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    elAlert: Alert,
  },
})
export default class Login extends Mixins(commMixins) {
  @Provide() test = "this is login";

  @Provide() username: string = "";
  @Provide() password: string = "";
  @Provide() verifyCode: string = "";
  @Provide() realKey: any = "";
  @Provide() captchaImg = "";
  @Provide() errorTitle: string = "";
  @Provide() isLoading: boolean = false;
  @Provide() CodeToMsg: any = {
    10000: "登录成功",
    10011: "验证码已过期",
    10012: "验证码已过期",
    10013: "用户名或密码错误",
    10014: "账号已停用，请联系管理员",
  };
  created() {
    removeStorage("XAToken");
  }
  mounted() {
    console.log(1223);
    this.getVCode();
  }

  loginSubmit(): void {
    let self = this;
    if (self.isLoading) return;
    if (!self.username) {
      self.isLoading = false;
      self.errorTitle = "请输入用户名";
      return;
    }
    if (!self.password) {
      self.isLoading = false;
      self.errorTitle = "请输入密码";
      return;
    }
    if (!self.verifyCode) {
      self.isLoading = false;
      self.errorTitle = "请输入验证码";
      return;
    }
    self.errorTitle = "";
    let pwd = md5(self.password);
    let req = {
      username: self.username,
      password: pwd,
      code: self.verifyCode,
      realKey: self.realKey,
    };
    self.isLoading = true;
    self
      .post("login", req, null)
      .then((d: any) => {
        self.isLoading = false;
        console.log(d);
        let code = d.code;
        if (code == 10000) {
          self.$message({
            message: "登录成功",
            type: "success",
          });
          let data = d.data;
          // self.UserObj = data.user;
          // setStorage("useInfo", d.token);
          setStorage("XAToken", data.token);
          setTimeout(() => {
            self.$router.push("/Index");
          }, 1000);
        } else if (code > 10000 && code < 20000) {
          let msg: string = self.CodeToMsg[code];
          self.$message.error(msg);
        }
      })
      .catch((e: any) => {
        self.isLoading = false;
        console.log(e);
      });
  }
  reVerticalClick() {
    this.getVCode();
  }
  getVCode(): void {
    let self = this;
    let timestamp = new Date().getTime();
    let hisReq = {
      timestamp: timestamp,
    };
    self
      .get("vCode", null, hisReq)
      .then((d: any) => {
        console.log(d);
        let data = d.data;
        self.realKey = data.realKey;
        self.captchaImg = data.captchaImg;
      })
      .catch((e) => {
        console.log(e);
      });
  }
  jumpClick() {
    let url = "/Home";
    this.$router.push(url);
  }
}
</script>
<style lang="scss" scoped>
.LoginMain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/login_bg.png");
  background-size: 100% 100%;
  background-position: top left;
  min-height: 680px;
  min-width: 1340px;
}
.LoginLeft {
  width: 520px;
  height: 620px;
  text-align: center;
  padding-top: 110px;
}
.LoginRight {
  text-align: left;

  .LoginRight-title {
    min-height: 132px;
    color: rgb(76, 223, 231);

    font-family: SourceHanSansCN-Medium;
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(
      bottom,
      rgba(77, 184, 284),
      rgb(76, 230, 233)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 64px;
    padding-left: 30px;
    h4 {
      font-weight: 500;
      font-size: 61px;
      margin: 0;
      letter-spacing: 7px;
    }
    p {
      font-size: 18px;
      font-weight: 550;
      letter-spacing: 0px;
      margin: 0 0 0 66px;
    }
  }
  .LoginRight-box {
    width: 530px;

    background-image: url("../assets/images/login_content.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    .loginInput {
      width: 100%;
      position: relative;
      text-align: center;
      border: 1.2px rgb(91, 190, 200) solid;
      border-radius: 5px;
      height: 50px;
      line-height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      input {
        line-height: 20px;
        height: 36px;
        width: 80%;
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: rgb(87, 161, 175);
        outline: none;
        padding: 6px;
      }
      input:focus {
        outline: 0;
      }
      input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgb(87, 161, 175);
      }
      input::-ms-input-placeholder {
        /* WebKit browsers */
        color: rgb(87, 161, 175);
      }
      input::-moz-input-placeholder {
        /* WebKit browsers */
        color: rgb(87, 161, 175);
      }
    }
    h5 {
      color: rgb(77, 230, 233);
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 35px;
      font-weight: 400;
      -webkit-line-clamp: 2;
      background-image: -webkit-linear-gradient(
        bottom,
        rgb(77, 186, 215),
        rgb(77, 230, 233)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .loginVertical {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      .verticalImg {
        width: 100px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .loginInput {
        flex: 1;
        margin-right: 15px;
        margin-top: 0;
        input {
          width: 70%;
        }
      }
    }
  }
  .pFooter {
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 40px;
  }
  .loginIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 2px;
    right: 10px;
    position: relative;
  }
  .loginUserIcon {
    background-image: url("../assets/images/login_user.png");
  }
  .loginPwdIcon {
    background-image: url("../assets/images/password_img.png");
  }
  .loginCodeIcon {
    background-image: url("../assets/images/code_img.png");
  }
  .loginRight-login {
    display: block;
    width: 520px;
    height: 60px;
    margin-left: 10px;
    margin-top: 15px;
    background-image: url("../assets/images/button_submit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  .loginLoading {
    margin-right: 10px;
  }
}
</style>
