<template>
  <div class="home">
    hello world
    <h4>{{ test }}</h4>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class Test extends Mixins(commMixins) {
  @Provide() test = "this is test";
}
</script>
<style lang="scss" scoped>
</style>
