<template>
  <py-structure :datas="leftData" class="UserInfoMain" @_search="seachTreeData">
    <py-tag-view :list="tabList" ref="tagView" class="userInfoTagView">
      <div
        slot="BaseInfo"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <base-info
          ref="BaseInfo"
          :datas="UserInfo"
          :height="height"
        ></base-info>
      </div>
      <div
        slot="ContactInformation"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <contact-information
          ref="ContactInformation"
          :datas="UserInfo"
          :height="height"
        ></contact-information>
      </div>
      <div
        slot="MyHead"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <my-head ref="MyHead" :datas="UserInfo" :height="height"></my-head>
      </div>
      <div
        slot="ChangePassword"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <change-password
          ref="ChangePassword"
          :datas="UserInfo"
          :height="height"
        ></change-password>
      </div>
      <div
        slot="SystemLog"
        slot-scope="{ height }"
        :style="{ height: height + 'px' }"
      >
        <system-log
          ref="SystemLog"
          :datas="UserInfo"
          :height="height"
        ></system-log>
      </div>
    </py-tag-view>
  </py-structure>
</template>

<script lang="ts">
import BaseInfo from "@/components/UserInfo/BaseInfo.vue";
import ContactInformation from "@/components/UserInfo/ContactInformation.vue";
import MyHead from "@/components/UserInfo/MyHead.vue";
import ChangePassword from "@/components/UserInfo/ChangePassword.vue";
import SystemLog from "@/components/UserInfo/SystemLog.vue";

import TagView from "@/components/TagView.vue";
import LeftRightStructure from "@/components/LeftRightStructure3.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyStructure: LeftRightStructure,
    pyTagView: TagView,
    BaseInfo,
    ContactInformation,
    MyHead,
    ChangePassword,
    SystemLog,
  },
})
export default class UserInfo extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  refresh: boolean;
  @Provide() test = "this is test";
  @Provide() tabList: any = [
    {
      name: "BaseInfo",
      label: "基本信息",
    },
    {
      name: "ContactInformation",
      label: "联系方式",
    },
    {
      name: "MyHead",
      label: "我的头像",
    },
    {
      name: "ChangePassword",
      label: "修改密码",
    },
    {
      name: "SystemLog",
      label: "系统日志",
    },
  ];
  @Provide() UserInfo: any = {};
  @Provide() leftData: any = [
    {
      text: "基本信息",
      value: "BaseInfo",
    },
    {
      text: "联系方式",
      value: "ContactInformation",
    },
    {
      text: "我的头像",
      value: "MyHead",
    },
    {
      text: "修改密码",
      value: "ChangePassword",
      isSplit: true,
    },
    {
      text: "系统日志",
      value: "SystemLog",
    },
  ];
  created() {
    console.log("created");
  }
  mounted() {
    this.init();
  }
  init() {
    let self = this;
    console.log("mounted");
    let userInfo = self.getUserInfo();
    console.log("UserObj ---->", userInfo);
    self.UserInfo = userInfo;
  }
  seachTreeData(newVal: any) {
    console.log(newVal);
    let self = this;
    let tagDom: any = self.$refs["tagView"];
    tagDom.active = newVal;
  }
  @Watch("refresh")
  refreshWatch(): void {
    console.log("111111111 -----> refresh");
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.UserInfoMain {
  .userInfoTagView ::v-deep .el-tabs__item {
    display: none;
  }
  .userInfoTagView ::v-deep .el-tabs__item.is-active {
    display: block;
  }
}
</style>
