<template>
  <div class="py-aside" :class="[isToggle ? '' : 'aside-toggle']">
    <div class="py-aside-header">
      <a href="javascript:void(0)" class="sidebar-toggle" @click="toggleClick">
        <i class="fa fa-indent"></i>
        <span>菜单栏</span>
      </a>
    </div>
    <div class="py-aside-main">
      <ul class="sidebar-menu">
        <li
          class="treeview"
          v-for="(items, index) in menus"
          :key="'menus_' + index"
          :class="[!items.isHide ? '' : 'active']"
        >
          <a href="javascript:void(0)" @click="menusClick(items, index)">
            <i class="fa" :class="items.icon"></i>
            <span v-text="items.text"></span>
            <i
              v-if="!items.isView"
              class="fa fa-angle-right pull-right"
              style="margin-right: 0px"
            ></i>
          </a>
          <ul
            class="treeview-menu"
            v-if="!items.isView"
            v-show="setHide(items.isHide)"
          >
            <li
              v-for="(item, cindex) in items.childs"
              :class="[item.isActive ? 'active' : '']"
              :key="'menu_' + cindex"
            >
              <a
                href="javascript:void(0)"
                class="menuItem"
                @click="menuClick(item, index, cindex)"
              >
                <i class="fa" :class="item.icon"></i>
                <span v-text="item.text"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";

import MenuList from "./Menu";

@Component({})
export default class Aside extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  active: string;

  @Provide() test = "this is test";
  @Provide() menus: any = MenuList;
  @Provide() isToggle: boolean = true;
  @Provide() isBoo: boolean = true;

  @Emit("_toggle")
  toggleClick() {
    this.isToggle = !this.isToggle;
    return this.isToggle;
  }

  setHide(boo: boolean): boolean {
    if (!this.isToggle) {
      return true;
    }
    if (boo) {
      return true;
    } else {
      return false;
    }
  }

  menusClick(item: any, index: number) {
    let self = this;
    self.isBoo = true;
    if (item.isView) {
      // 跳转
      self.activeClickPanel(item);
    } else {
      let newList = self.setMenuActive(item.name);
      self.menus = newList;
    }
  }
  setMenuActive(name: any) {
    let self = this;
    let list = JSON.parse(JSON.stringify(self.menus));
    let isBoo = self.isBoo;
    for (let i = 0; i < list.length; i++) {
      let items = list[i];
      let childs = items.childs;
      let isChilds = false;
      if (isBoo) {
        if (items.name == name) {
          items.isHide = !items.isHide;
        } else {
          if (!items.isView) items.isHide = false;
        }
      } else {
        if (childs) {
          for (let j = 0; j < childs.length; j++) {
            let it = childs[j];
            if (it.name == name) {
              isChilds = true;
              it.isActive = true;
            } else {
              it.isActive = false;
            }
            childs[j] = it;
          }
          if (isChilds) {
            items.isHide = true;
          } else {
            items.isHide = false;
          }
          items.childs = childs;
        } else {
          if (items.name == name) {
            items.isHide = true;
          } else {
            items.isHide = false;
          }
        }
      }
      list[i] = items;
    }
    return list;
  }
  menuClick(item: any, index: number, cindex: number) {
    let self = this;
    if (item.isView) {
      // 这里跳转
      self.isBoo = false;
      self.activeClickPanel(item);
    }
  }
  @Emit("_active")
  activeClickPanel(item: any) {
    return item;
  }
  @Watch("active", { immediate: true, deep: true })
  activeWatch(newVal: string) {
    let self = this;
    console.log(newVal);
    self.isBoo = false;
    let newList = self.setMenuActive(newVal);
    console.log(newList);
    self.menus = newList;
  }
}
</script>
<style lang="scss" scoped>
.py-aside {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;

  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  .sidebar-toggle {
    font-size: 20px;
    color: #f7f8f8;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
  a {
    text-decoration: none;
    .fa {
      margin-right: 5px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .py-aside-header {
    background-image: url("../../assets/images/left_mnue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 657px;
    background-position: left top, right top;
  }
  .py-aside-main {
    flex: 1;
    overflow: auto;
    background-image: url("../../assets/images/left_mnue_bot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top, right top;
    a {
      width: 100%;
      display: block;
      font-size: 18px;
      color: #fff;
      letter-spacing: 2px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      box-sizing: border-box;

      .fa-angle-right {
        position: relative;
        top: 15px;
      }
      .fa {
        color: rgb(47, 184, 160);
      }
    }
    a:hover,
    li.active > a {
      background-color: rgb(10, 77, 94);
      border: 1px solid rgb(75, 170, 172);
      border-radius: 4px;
    }
    li.active {
      background-color: rgb(10, 77, 94);
    }
    .treeview-menu {
      padding: 10px 10px 10px 20px;
      a {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0px 10px;
        letter-spacing: 1px;
      }
    }
  }
}
.treeview.active {
  .fa-angle-right {
    transform: rotate(90deg);
  }
}
.py-aside.aside-toggle {
  min-width: 60px;
  .sidebar-toggle {
    padding: 0 15px;
    span {
      display: none;
    }
  }
  .py-aside-main {
    overflow: inherit;
  }
  .sidebar-menu {
    .treeview {
      position: relative;
      a {
        padding: 0 15px;
      }
      & > a span {
        display: none;
        position: absolute;
        width: 160px;
        top: 0;
        left: 51px;
        padding-left: 20px;
        box-sizing: border-box;
        border-top-right-radius: 4px;
        background-color: rgb(10, 77, 94);
        border: 1px solid rgb(33, 133, 139);
        z-index: 2000;
      }
      a i.fa-angle-right {
        display: none;
      }
      .treeview-menu {
        position: absolute;
        width: 160px;
        top: 50px;
        left: 51px;
        display: none;
        box-sizing: border-box;
        border-bottom-right-radius: 4px;
        background-color: rgb(39, 119, 128);
        z-index: 2000;
      }
    }
    .treeview:hover {
      & > a span {
        display: block;
      }
      .treeview-menu {
        display: block;
      }
    }
  }
}
</style>
