<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form
      ref="equipementForm"
      size="mini"
      class="equipementForm"
      :model="formData"
      label-width="80px"
    >
      <el-row>
        <el-col :span="11" :offset="1">
          <el-form-item label="所属单位" required>
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              v-model="formData.organizeId"
            ></tree-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="产品类型" required>
            <el-select
              v-model="formData.productType"
              @change="productTypeChange"
              placeholder="请选择"
            >
              <el-option
                v-for="item in productType"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11" :offset="1">
          <el-form-item label="通讯类型" required>
            <el-select
              v-model="formData.connType"
              allow-create
              filterable
              placeholder="请选择"
            >
              <el-option
                v-for="item in connType"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="设备型号" required>
            <el-select
              v-model="formData.meterType"
              allow-create
              filterable
              placeholder="请选择"
            >
              <el-option
                v-for="item in meterType"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11" :offset="1">
          <el-form-item label="设备ID" required>
            <el-input
              v-model="formData.addressCode"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="物联网卡" required>
            <el-input v-model="formData.iot" placeholder="请输入"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11" :offset="1">
          <el-form-item label="网关ID" required>
            <el-input
              v-model="formData.gatewayCode"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="SIM卡号">
            <el-input v-model="formData.sim" placeholder="请输入"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22" :offset="1">
          <el-form-item label="安装位置" required>
            <el-input
              v-model="formData.installAddress"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22" :offset="1">
          <el-form-item label=" ">
            <el-input
              v-model="formData.installFloor"
              placeholder="请输入安装楼层"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11" :offset="1">
          <el-form-item label="安装时间" required>
            <el-date-picker
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd HH:mm:ss"
              v-model="formData.installTime"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="排序码" required>
            <el-input
              v-model="formData.sortCode"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22" :offset="1">
          <el-form-item label="备注">
            <el-input
              type="textarea"
              :rows="4"
              v-model="formData.remarks"
              placeholder="请输入"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
  DatePicker,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    elDatePicker: DatePicker,
    TreeSelect,
  },
})
export default class EquipementView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() dialogVisible: boolean = false;
  @Provide() formData: any = {};
  @Provide() productType: any = [];
  @Provide() connType: any = [];
  @Provide() meterType: any = [];

  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.fullName,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }

  mounted() {
    let self = this;
    self.getDict("productType");
    self.getDict("connType");
    self.getDict("meterType");
  }
  // smokeMeterType ,	fireMeterType

  getDict(type: string) {
    let self: any = this;
    let hisReq = {
      dictType: type,
    };
    self.get("dictType", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let list = d.data.list;
        console.log(list);
        self[type] = list;
      }
    });
  }
  getMeterType(productType: string) {
    let self: any = this;
    let type = "";
    if (productType == "电气火灾") {
      type = "fireMeterType";
    } else {
      type = "smokeMeterType";
    }
    let hisReq = {
      dictType: type,
    };
    self.get("dictType", null, hisReq).then((d: any) => {
      if (d.code == 10000) {
        let list = d.data.list;
        console.log(list);
        self.meterType = list;
      }
    });
  }
  productTypeChange(val: string) {
    this.getMeterType(val);
  }
  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    console.log(defaultData);
    self.formData = defaultData;
    self.dialogVisible = true;
    this.getMeterType(defaultData.productType);
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "添加";
    } else if (this.type == "edit") {
      return "编辑";
    } else if (this.type == "view") {
      return "查看";
    }
    return "提示";
  }
  sureClick() {
    let self = this;
    let req = JSON.parse(JSON.stringify(self.formData));
    if (self.type == "edit") {
      self.updateEq(req);
    } else {
      self.addEq(req);
    }
  }
  updateEq(req: any) {
    let self = this;
    let hisReq = {
      meterId: req.meterId,
    };
    self
      .put("meterUpdate", req, hisReq)
      .then((d: any) => {
        if (d.code == 10000) {
          self.$message({
            showClose: true,
            message: "更新设备信息成功",
            type: "success",
          });
          self.saveSuccess();
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  addEq(req: any) {
    let self = this;
    self
      .post("meterAdd", req, null)
      .then((d: any) => {
        if (d.code == 10000) {
          self.$message({
            showClose: true,
            message: "添加设备信息成功",
            type: "success",
          });

          self.saveSuccess();
        }
      })
      .catch((e) => {
        console.log(e);
      });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }

  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.equipementForm ::v-deep .el-select {
  width: 100%;
}
</style>