<template>
  <div class="EquipmentInfo">
    <my-table
      :ispage="true"
      :select="false"
      :page-config="pageConfig"
      :columns="columns"
      :datas="tableData"
      @_sizechange="sizeChange"
      @_currentchange="currentChange"
      @_sort="sortChange"
    ></my-table>
  </div>
</template>

<script lang="ts">
import { getEColumns } from "./EColumns";
//RemoteConfigurationOfPowerConsumption
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class EquipmentInfo extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: Object, default: () => {} })
  page: any;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      type: "button",
      width: "180px",
      label: "操作",
      headerAlign: "center",
      buttons: [
        {
          text: "编辑",
          icon: "fa-edit",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          text: "删除",
          icon: "fa-trash-o",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
      ],
    },
  ];
  @Provide() pageConfig: any = {};
  mounted() {
    let list = getEColumns();
    this.columns = this.columns.concat(list);
    this.init();
  }
  init() {
    let self = this;
  }

  @Emit("_click")
  editClick(row: any) {
    return {
      type: "edit",
      row: row,
    };
  }
  @Emit("_click")
  deleteClick(row: any) {
    return {
      type: "delete",
      row: row,
    };
  }
  @Emit("_update")
  sortChange(val: any) {
    let sort = val.order == "descending" ? "DESC" : "ASC";
    let req = {
      orderBy: val.prop,
      sort: sort,
    };
    return req;
  }
  @Emit("_update")
  sizeChange(num: number) {
    let self = this;
    let req = {
      pageSize: num,
    };
    return req;
  }
  @Emit("_update")
  currentChange(num: number) {
    let self = this;
    let req = {
      pageNum: num,
    };
    return req;
  }

  @Watch("datas", { immediate: true, deep: true })
  dataWatch(newVal: any) {
    this.tableData = newVal;
  }
  @Watch("page", { immediate: true, deep: true })
  pageWatch(newVal: any) {
    this.pageConfig = newVal;
  }
}
</script>
<style lang="scss" scoped>
</style>
