<template>
  <div class="RemoteConfig">
    <my-table
      :ispage="true"
      :page-config="pageConfig"
      :columns="columns"
      :datas="tableData"
    ></my-table>
  </div>
</template>

<script lang="ts">
//RemoteConfigurationOfPowerConsumption
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class RemoteConfig extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      prop: "UnitName",
      label: "单位",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "InstallAddress",
      label: "安装位置",
      headerAlign: "center",
      align: "left",
      width: "160px",
    },
    {
      prop: "AddressCode",
      label: "设备ID",
      headerAlign: "center",
      align: "left",
      width: "160px",
    },
    {
      prop: "GatewayCode",
      label: "网关地址",
      headerAlign: "center",
      align: "left",
    },
    {
      prop: "LogType",
      label: "日志类型",
      headerAlign: "center",
      align: "center",
      type: "LogType",
    },
    {
      prop: "LogSource",
      label: "日志名称",
      headerAlign: "center",
      align: "left",
      width: "120px",
    },
    {
      prop: "LogTime",
      label: "记录时间",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "LogText",
      label: "日志信息",
      headerAlign: "center",
      align: "left",
      width: "320px",
    },
  ];
  @Provide() pageConfig: any = {};
  mounted() {
    this.init();
  }
  init() {
    let self = this;
    let data = require("@/components/InformationManagement/List3.json");
    console.log(data);
    self.tableData = data.rows;
    let pageConfig = {
      costtime: data.costtime,
      pageIndex: 1,
      records: data.records,
      total: data.total,
    };
    self.pageConfig = pageConfig;
  }
}
</script>
<style lang="scss" scoped>
</style>
