<template>
  <div class="RemoteSmokeDetector">
    <my-table
      :ispage="true"
      :page-config="pageConfig"
      :columns="columns"
      :datas="tableData"
      @current="rowClick"
    ></my-table>
  </div>
</template>

<script lang="ts">
import { getEColumns } from "./EColumns";
//RemoteConfigurationOfPowerConsumption
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class RemoteSmokeDetector extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: Object, default: () => {} })
  page: any;

  @Provide() tableData: any = [];
  @Provide() columns: any = [];
  @Provide() pageConfig: any = {};
  mounted() {
    this.init();
  }
  init() {
    let self = this;
    let list = getEColumns();
    this.columns = this.columns.concat(list);
  }
  @Emit("current")
  rowClick(val: any): any {
    return val;
  }
  @Watch("datas", { immediate: true, deep: true })
  dataWatch(newVal: any) {
    console.log(newVal);
    this.tableData = newVal;
  }
  @Watch("page", { immediate: true, deep: true })
  pageWatch(newVal: any) {
    this.pageConfig = newVal;
  }
}
</script>
<style lang="scss" scoped>
</style>
