<template>
<el-dialog
    class="smallDialog"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="导入Excel"
    append-to-body
  >
    <div class="upload-main">
      <el-upload
          class="upload-demo"
          :action="uploadAction"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img class="uploadImg" src="@/assets/images/file.png" alt="">
        </el-upload>
      <p>请使用提供的Excel模板。
        <a href="javascript:void(0);" @click="downloadMoban">下载Excel导入模板</a></p>
    </div>
  </el-dialog>
</template>
<script lang="ts" >
import { Dialog, Row, Col, Button, Upload } from "element-ui"
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elRow: Row,
    elCol: Col,
    elButton: Button,
    elUpload: Upload
  }
})
export default class DataImport extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  url: string;
  @Prop({ type: Object, default: () => {} })
  params: any;

  @Provide() dialogVisible: boolean = false;
  @Provide() uploadAction: string = "";
  mounted () {
    
  }
  init() {
    this.uploadAction = this.getUrl(this.url, null, null);
    this.dialogVisible = true
  }
  handleAvatarSuccess(res: any, file: any) {
    console.log(res, file);
  }
  beforeAvatarUpload(file: any) {
    console.log(file);
  }
  downloadMoban() {
    let url = 'http://8.135.107.28:8080/file/download/%E8%AE%BE%E5%A4%87%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xlsx'
    window.open(url)
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.uploadImg{
  width: 60px;
  height: 60px;
}
.upload-main{
  text-align: center;
  font-size:12px;
  color: #fff;
  margin-top: 20px;
}
</style>