<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    title="导出Excel数据"
    append-to-body
  >
    <el-form size="mini">
      <div class="dataExport">
        <p>
          <span class="fa fa-question-circle"></span> 注：请勾选需要导出的字段
        </p>
        <div>
          <el-checkbox-group v-model="checkData">
            <el-checkbox
              v-for="(item, index) in params"
              :key="index"
              :label="item.prop"
              border
              size="mini"
              >{{ item.label }}</el-checkbox
            >
          </el-checkbox-group>
        </div>
      </div>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick"
        >导出Excel</el-button
      >
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import {
  Dialog,
  Form,
  Row,
  Col,
  FormItem,
  Button,
  Checkbox,
  CheckboxGroup,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elForm: Form,
    elFormItem: FormItem,
    elRow: Row,
    elCol: Col,
    elButton: Button,
    elCheckbox: Checkbox,
    elCheckboxGroup: CheckboxGroup,
  },
})
export default class DataExport extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  url: string;
  @Prop({ type: Array, default: () => [] })
  params: any;
  @Prop({ type: Object, default: () => {} })
  filters: any;

  @Provide() dialogVisible: boolean = false;
  @Provide() checkData: any = [];
  init() {
    let self = this;
    // 默认全导出
    let list = self.params;
    let checkData: any = [];
    list.forEach((item: any) => {
      let key = item.prop;
      checkData.push(key);
    });
    self.checkData = checkData;
    this.dialogVisible = true;
  }
  sureClick() {
    let self = this;
    let checkData = self.checkData;
    let hisReq = {
      params: checkData.join(","),
    };
    let req = self.filters;
    // let url = self.getUrl(self.url, req, hisReq);
    // window.open(url);
    self.download(self.url, req, hisReq).then((d: any) => {
      self.resolveBlob(d);
    });
  }
  resolveBlob(res: any) {
    console.log(res);
    const link = document.createElement("a"); // 利用a标签自定义下载文件名
    let blob = new Blob([res.data], {
      type: "application/vnd.ms-excel",
    }); // 创建Blob对象，设置文件类型
    let objectUrl = URL.createObjectURL(blob); // 创建URL
    link.href = objectUrl;
    let date = new Date().getTime(); //通过A标签跳转下载
    link.download = "导出excel_" + date; // 自定义文件名
    link.click(); // 下载文件
    URL.revokeObjectURL(objectUrl); // 释放内存
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    console.log(newVal);
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.dataExport {
  width: 100%;
  height: 320px;
  overflow: auto;
  color: #fff;
  & ::v-deep .el-checkbox.is-bordered {
    border-radius: 6px;
    margin: 10px;
  }
  & ::v-deep .el-checkbox.is-bordered.is-checked {
    background-color: #1f8b9f;
    background-image: url("../assets/images/sel.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 2px 32px;
    color: #fff;
    .el-checkbox__label {
      color: rgb(94, 214, 215);
    }
  }

  & ::v-deep .el-checkbox__label {
    color: #fff;
  }
}
</style>
