<template>
  <div class="DateView">
    <div class="time1">
      <span class="timeShow" v-text="h1"></span
      ><span class="timeShow" v-text="h2"></span>:<span
        class="timeShow"
        v-text="m1"
      ></span
      ><span class="timeShow" v-text="m2"></span>:<span
        class="timeShow"
        v-text="s1"
      ></span
      ><span class="timeShow" v-text="s2"></span>
    </div>
    <div class="time2">{{ year }}-{{ month }}-{{ day }} {{ week }}</div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class DateView extends Mixins(commMixins) {
  @Provide() test = "this is test";

  @Provide() year: string = "";
  @Provide() month: string = "";
  @Provide() day: string = "";
  @Provide() week: string = "";
  @Provide() h1: string = "";
  @Provide() h2: string = "";
  @Provide() m1: string = "";
  @Provide() m2: string = "";
  @Provide() s1: string = "";
  @Provide() s2: string = "";

  mounted() {
    let self = this;
    self.init();
    setInterval(self.init, 1000);
  }
  init() {
    let self = this;
    let row = self.NowDate();
    self.year = row.year;
    self.month = row.month;
    self.day = row.day;
    self.week = row.week;
    self.h1 = row.h1;
    self.h2 = row.h2;
    self.m1 = row.m1;
    self.m2 = row.m2;
    self.s1 = row.s1;
    self.s2 = row.s2;
  }

  NowDate() {
    let date = new Date();
    let year = String(date.getFullYear());
    let mm = date.getMonth() + 1;
    let month: string = String(mm);
    if (mm >= 1 && mm <= 9) {
      month = "0" + month;
    }
    let dd = date.getDate();

    let day: string = String(dd);
    if (dd >= 0 && dd <= 9) {
      day = "0" + day;
    }
    let week = "";
    switch (date.getDay()) {
      case 0:
        week = " 星期日 ";
        break;
      case 1:
        week = " 星期一 ";
        break;
      case 2:
        week = " 星期二 ";
        break;
      case 3:
        week = " 星期三 ";
        break;
      case 4:
        week = " 星期四 ";
        break;
      case 5:
        week = " 星期五 ";
        break;
      case 6:
        week = " 星期六 ";
        break;
    }
    let h1, h2, m1, m2, s1, s2;
    let h = date.getHours();
    let m = date.getMinutes();
    let s = date.getSeconds();
    if (h < 10) {
      h1 = "0";
      h2 = String(h);
    } else {
      h1 = String(h).substring(0, 1);
      h2 = String(h).substring(1, 2);
    }
    if (m < 10) {
      m1 = "0";
      m2 = String(m);
    } else {
      m1 = String(m).substring(0, 1);
      m2 = String(m).substring(1, 2);
    }
    if (s < 10) {
      s1 = "0";
      s2 = String(s);
    } else {
      s1 = String(s).substring(0, 1);
      s2 = String(s).substring(1, 2);
    }
    return {
      year,
      month,
      day,
      week,
      h1,
      h2,
      m1,
      m2,
      s1,
      s2,
    };
  }
}
</script>
<style lang="scss" scoped>
.DateView {
  display: inline-block;
}
.time1 {
  width: 200px;
  height: 35px;
  color: rgb(57, 234, 237);
  font-weight: 600;
  .timeShow {
    background-color: rgb(25, 90, 104);
    border: 1px solid rgb(33, 133, 139);
    color: rgb(57, 234, 237);
    border-radius: 5px;
    margin: 2px;
    padding: 3px 4px;
  }
  line-height: 35px;
}
.time2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
</style>
