<template>
  <div class="leftRightTemplate">
    <div class="left" :class="{ isActive: isShow }">
      <div class="leftMainSearch">
        <el-row>
          <el-col :span="24"> </el-col>
        </el-row>
      </div>
      <div class="leftMainBg">
        <template v-for="(item, index) in newList">
          <a
            :key="index + 'left3'"
            href="javascript:void(0);"
            @click="searchClick(item)"
            class="leftItem"
            :class="{ active: item.value == active }"
          >
            <span v-text="item.text"></span>
          </a>
          <div :key="item.value" v-if="item.isSplit" class="divide"></div>
        </template>
      </div>
    </div>
    <div class="right" :class="{ isActive: isShow }">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Input, Row, Col, Button, Tree } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Emit,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elButton: Button,
    elTree: Tree,
  },
})
export default class LeftRightStructure3 extends Mixins(commMixins) {
  @Prop({ type: Array, default: () => [] })
  datas: any;

  @Provide() test = "this is test";
  @Provide() filterValue: string = "";
  @Provide() newList: any = [];
  @Provide() active: number = 1;
  @Provide() isShow: boolean = false;
  // 左侧菜单点击

  // renderContent (h:any, { node, data, store }:any) {
  //   console.log(h, node, data, store)
  // }
  @Emit("_search")
  searchClick(item: any) {
    let self = this;
    console.log(self.filterValue);
    self.filterValue = item.value;
    self.active = item.value;
    return self.filterValue;
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch(newVal: any) {
    console.log(newVal);
    this.newList = newVal;
    this.active = newVal[0].value;
  }
}
</script>
<style lang="scss" scoped>
.leftRightTemplate {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  width: 100%;
  height: 100%;
  color: #fff;

  .leftMainSearch {
    width: 100%;
    padding: 6px 10px 6px 7px;
    & ::v-deep .el-button--mini {
      padding: 7px 10px;
      background-color: #0d4a53;
      color: #5f8289;
      border-color: #05838a;
    }
    .title {
      background-image: url("../assets/images/click.png");
      background-position: right top, left top;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100% 36px;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 34px;
      line-height: 40px;
      color: #fff;
      font-size: 12px;
      display: inline-block;
      padding: 0 20px;
    }
  }
  .left {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  .leftMainBg {
    flex: 1;
    width: 100%;
    height: 80%;
    overflow: auto;
    padding: 5px 8px;
    .leftItem {
      padding-left: 22px;
      display: block;
      width: 100%;
      height: 34px;
      line-height: 34px;
      text-decoration: none;
      color: #fff;
      border-left: 2px solid rgb(33, 133, 139);
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .leftItem.active,
    .leftItem:hover {
      border-right: 2px solid rgb(33, 133, 139);
      background: rgb(10, 77, 94);
      color: rgba(255, 255, 255, 0.9);
    }
    .divide {
      margin: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      display: block;
      border-bottom: 1px solid #ccc;
    }
  }

  .right {
    flex: 1;
    width: 80%;
    height: 100%;
    padding: 5px 10px;
    position: relative;
  }
  .right.isActive {
    padding-left: 50px;
  }
}
</style>
