<template>
  <div class="leftRightTemplate">
    <div class="left" :class="{ isActive: isShow }">
      <div class="leftMainSearch">
        <el-row>
          <el-col :span="24">
            <div class="title">
              <span v-text="title"></span>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="leftMainBg">
        <el-tree
          :data="treeData"
          :props="defaultProps"
          :default-expand-all="true"
          :indent="16"
          node-key="id"
          :expand-on-click-node="false"
          @node-click="handleNodeClick"
        ></el-tree>
      </div>
    </div>
    <div class="right" :class="{ isActive: isShow }">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Input, Row, Col, Button, Tree } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Emit,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elButton: Button,
    elTree: Tree,
  },
})
export default class LeftRightStructure2 extends Mixins(commMixins) {
  @Prop({ type: Array, default: () => [] })
  treeDatas: any;
  @Prop({ type: Object, default: () => {} })
  propsData: any;
  @Prop({ type: String, default: "" })
  title: string;

  @Provide() test = "this is test";

  @Provide() isShow: boolean = false;
  @Provide() filterValue = "";
  @Provide() treeData = [];
  @Provide() defaultProps = {};
  // 左侧菜单点击
  @Emit("_click")
  handleNodeClick(data: any): any {
    return data;
  }

  smallClick() {
    let self = this;
    self.isShow = !self.isShow;
  }

  loadModel(node: any, resolve: any) {
    console.log(node);
  }
  // renderContent (h:any, { node, data, store }:any) {
  //   console.log(h, node, data, store)
  // }
  @Emit("_search")
  searchClick() {
    let self = this;
    console.log(self.filterValue);
    return self.filterValue;
  }

  @Watch("propsData", { immediate: true, deep: true })
  propsDataWatch(newVal: any) {
    this.defaultProps = newVal;
  }
  @Watch("treeDatas", { immediate: true, deep: true })
  treeDatasWatch(newVal: any) {
    this.treeData = newVal;
  }
}
</script>
<style lang="scss" scoped>
.leftRightTemplate {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  width: 100%;
  height: 100%;
  color: #fff;
  & ::v-deep .el-tree {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  & ::v-deep .el-tree-node__label {
    font-size: 12px;
    color: #fff;
  }
  & ::v-deep .el-tree-node__content:hover,
  & ::v-deep .el-tree-node:focus > .el-tree-node__content {
    background: rgb(10, 77, 94);
    border: 1px solid rgb(33, 133, 139);
    border-radius: 5px;
  }
  & ::v-deep .el-tree-node__label {
    padding-left: 15px;
    background-image: url("../assets/images//second_fr.png");
    background-size: 10px 10px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  & ::v-deep .el-tree-node__content > .el-tree-node__expand-icon {
  }
  .left.isActive {
    width: 0;
    .backBtn {
      position: absolute;
      top: 0;
      left: 0px;
      z-index: 1000;
    }
  }
  .left {
    width: 240px;
    height: 100%;
    background-image: url("../assets/img/second_left.png");
    background-size: 100% 100%;
    background-position: right top, left top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    .leftMainSearch {
      width: 100%;
      padding: 6px 10px 6px 7px;
      & ::v-deep .el-button--mini {
        padding: 7px 10px;
        background-color: #0d4a53;
        color: #5f8289;
        border-color: #05838a;
      }
      .title {
        background-image: url("../assets/images/click.png");
        background-position: right top, left top;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100% 36px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 34px;
        line-height: 40px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        padding: 0 20px;
      }
    }
    .leftMainBg {
      flex: 1;
      width: 100%;
      height: 80%;
      overflow: auto;
      padding: 5px 8px;
    }
  }
  .right {
    flex: 1;
    width: 80%;
    height: 100%;
    padding: 5px 10px;
    position: relative;
  }
  .right.isActive {
    padding-left: 50px;
  }
}
</style>
