<template>
  <div class="myTable">
    <el-table
      :data="datas"
      :height="myHeight"
      border
      style="width: 100%"
      size="small"
      :fit="true"
      ref="MyTable"
      highlight-current-row
      @sort-change="sortChange"
      @row-click="rowClick"
      @current-change="handleCurrentTableChange"
    >
      <el-table-column
        v-if="!noindex"
        header-align="center"
        type="index"
        width="60"
        align="center"
        label="#"
      ></el-table-column>
      <el-table-column v-if="select" type="selection" width="40" align="center">
      </el-table-column>
      <el-table-column
        v-for="(item, index) in columns"
        :key="index"
        :header-align="item.headerAlign"
        :align="item.align"
        :prop="item.prop"
        :label="item.label"
        :width="item.width"
        :sortable="item.isSort"
        show-overflow-tooltip
      >
        <template slot-scope="{ row }">
          <div v-if="item.type == 'maxc'" v-text="getMaxc(row)"></div>
          <div v-else-if="item.type == 'maxt'" v-text="getMaxt(row)"></div>
          <div v-else-if="item.type == 'tag'">
            <el-tag
              v-if="row[item.prop]"
              close-transition
              @click="item.onClick(row)"
              size="mini"
              class="table-tag"
              v-text="row[item.prop]"
              :class="returnColor(row[item.prop])"
            ></el-tag>
          </div>
          <div v-else-if="item.type == 'a'">
            <a
              href="javascript:void(0);"
              @click="item.onClick(row)"
              v-text="item.title"
            ></a>
          </div>
          <div v-else-if="item.type == 'useImg'" class="userImgMain">
            <span
              class="userImg"
              :style="{ backgroundImage: `url(${row[item.prop]})` }"
            ></span>
          </div>
          <div v-else-if="item.type == 'button'" class="tableButtons">
            <a
              v-for="item in item.buttons"
              :key="item.text || item.title"
              href="javascript:void(0);"
              :title="item.title"
              @click="item.onClick(row)"
              class="OperBtn"
            >
              <i v-if="item.icon" class="fa" :class="item.icon"></i>
              <span v-if="item.text" v-text="item.text"></span>
            </a>
          </div>
          <div v-else-if="item.type == 'LogType'">
            <span
              v-text="row[item.prop]"
              :class="LogTypeClass(row, item.prop)"
            ></span>
          </div>
          <div
            v-else-if="item.type == 'boolean'"
            @click="
              () => {
                if (item.onClick) {
                  item.onClick(row);
                }
              }
            "
          >
            <span class="fa fa-toggle-on" v-if="row[item.prop]"></span>
            <span class="fa fa-toggle-off" v-else></span>
          </div>
          <div v-else-if="item.type == 'Gender'">
            <span v-if="row[item.prop]">男</span>
            <span v-else>女</span>
          </div>
          <div v-else-if="item.color">
            <span
              :style="{ color: row[item.color] }"
              v-text="row[item.prop]"
            ></span>
          </div>
          <div
            v-else-if="item.type == 'ExceptionAssignment'"
            @click.stop="item.onClick(row)"
          >
            <el-button size="mini" type="success" v-if="row[item.prop]"
              >已指派</el-button
            >
            <el-button size="mini" type="info" v-else>未指派</el-button>
          </div>
          <div v-else-if="item.type == 'more'">
            <span style="cursor: pointer">更多</span>
          </div>
          <div v-else v-text="row[item.prop]" class="tableOverFlow"></div>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      v-if="ispage"
      class="myPage"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[20, 30, 50, 100, 500]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper, slot"
      :total="total"
    >
      <span style="margin-left: 15px">查询耗时</span>
      <span style="margin-left: 10px" v-text="costtime"></span>
      <span>毫秒</span>
    </el-pagination>
  </div>
</template>

<script lang="ts">
import $ from "jquery";
import { Table, TableColumn, Tag, Pagination, Button } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTable: Table,
    elTableColumn: TableColumn,
    elTag: Tag,
    elPagination: Pagination,
    elButton: Button,
  },
})
export default class MyTable extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  noindex: boolean;
  @Prop({ type: Object, default: () => {} })
  pageConfig: boolean;
  @Prop({ type: Boolean, default: false })
  ispage: boolean; //是否分页
  @Prop({ type: Array, default: () => [] })
  columns: any; /// 表格列配置
  @Prop({ type: Array, default: () => [] })
  datas: any; //
  @Prop({ type: Boolean, default: false })
  select: boolean;
  @Prop({ type: Number, default: 0 })
  theight: number;

  @Provide() test = "this is test";
  @Provide() myHeight: number = 0;
  @Provide() currentPage: number = 1;
  @Provide() pageSize: number = 20;
  @Provide() total: number = 0;
  @Provide() costtime: string = "";

  mounted() {
    let self = this;
    this.$nextTick(() => {
      self.init();
    });
  }
  updated() {
    let self = this;
    this.$nextTick(() => {
      let grid: any = self.$refs["MyTable"];
      grid.doLayout();
    });
  }
  init() {
    let self = this;

    let height = $(".myTable").height();
    if (self.theight) {
      height = self.theight;
    }
    if (self.ispage) {
      self.myHeight = height - 45;
    } else {
      self.myHeight = height;
    }
  }
  @Emit("_sizechange")
  handleSizeChange(val: number) {
    return val;
  }
  @Emit("_currentchange")
  handleCurrentChange(val: number) {
    return val;
  }
  @Emit("_sort")
  sortChange(val: any) {
    console.log(val);
    return val;
  }
  @Emit("_rowclick")
  rowClick(row: any) {
    return row;
  }
  @Emit("current")
  handleCurrentTableChange(row: any) {
    return row;
  }
  LogTypeClass(row: any, prop: string) {
    // console.log(row[prop], row[prop] == "接收");
    if (row[prop] == "接收" || row[prop] == "正常" || row[prop] == 1) {
      return "green";
    }
    return "";
  }
  returnColor(text: string) {
    if (text == "报警" || text == "已过期") {
      return "danger";
    } else if (text == "故障") {
      return "warning";
    } else if (text == "离线") {
      return "info";
    } else if (text == "正常") {
      return "success";
    } else {
      return "primary";
    }
  }
  @Watch("pageConfig", { immediate: true, deep: true })
  pagaConfigWath(val: any) {
    // console.log(val);
    if (!val) return;
    if (this.ispage) {
      this.total = val.total;
      this.currentPage = val.pageNum;
      this.pageSize = val.pageSize;
      this.costtime = val.costtime;
    }
  }
}
</script>
<style lang="scss" scoped>
.myTable {
  height: 100%;
}
.myPage {
  color: #fff;
  margin-top: 5px;
  height: 35px;
  line-height: 35px;
  & ::v-deep span {
    color: #fff;
  }
}
.myPage ::v-deep button:disabled {
  background-color: transparent;
}
.myPage ::v-deep button {
  background-color: transparent;
}
.myPage ::v-deep .el-pager li {
  background-color: transparent;
}
.green {
  background-color: rgba(29, 197, 62, 0.8);
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.fa-toggle-on,
.fa-toggle-off {
  color: #449d44;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}
.OperBtn {
  .fa {
    font-size: 18px;
  }
}
.userImg {
  display: block;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.table-tag {
  border-width: 0;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  cursor: pointer;
}
.tableOverFlow {
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
