<template>
<div class="StepsView">
  <el-steps :active="active" 
  finish-status="success"
  align-center>
    <el-step v-for="item in datas"
    :key="item.id"
    :title="item.title"
    ></el-step>
  </el-steps>
  <el-carousel
  height="380px"
  ref="carouselView"
  :initial-index="active"
  :autoplay="false"
  indicator-position="none"

  >
    <el-carousel-item v-for="item in datas"
    :key="item.id"
    >
      <slot :name="item.id"></slot>
    </el-carousel-item>
  </el-carousel>
</div>
</template>
<script lang="ts">
import { Steps, Step, Carousel, CarouselItem } from 'element-ui'
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elSteps: Steps,
    elStep: Step,
    elCarousel: Carousel,
    elCarouselItem: CarouselItem
  }
})
export default class StepsView extends Mixins(commMixins) {
  @Prop({type: Array, default: () => []})
  datas: any

  @Provide() active:number = 0

  init () {
    this.active = 0
  }
  prevClick () {
    console.log(1111)
    if (this.active > 0) {
      this.active--
      let dom:any = this.$refs['carouselView']
      dom.prev()
    }
  }
  nextClick () {
    console.log(2222)
    if (this.active < this.datas.length -1) {
      this.active++
      let dom:any = this.$refs['carouselView']
      dom.next()
    }
  }
}
</script>
<style lang="scss" scoped>
.StepsView {
  & ::v-deep .el-carousel__arrow{
    display: none !important;
  }
}
</style>