<template>
  <el-tabs
    class="myTabView"
    v-model="active"
    type="card"
    @tab-click="handleClick"
  >
    <div class="myTabView-header">
      <slot name="header"></slot>
    </div>
    <el-tab-pane
      v-for="item in tabList"
      :key="item.name"
      :label="item.label"
      :name="item.name"
    >
      <slot :name="item.name" :height="mainHeight" :width="mainWidth"></slot>
    </el-tab-pane>
  </el-tabs>
</template>

<script lang="ts">
import $ from "jquery";
import { Tabs, TabPane } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTabs: Tabs,
    elTabPane: TabPane,
  },
})
export default class TagView extends Mixins(commMixins) {
  @Prop({ type: Array, default: () => [] })
  list: any;

  @Provide() test = "this is test";
  @Provide() active: string = "";
  @Provide() tabList: any = [];
  @Provide() mainHeight: number = 0;
  @Provide() mainWidth: number = 0;

  mounted() {
    let self = this;
    $(window).resize(self.reSize);
    self.reSize();
    console.log(self.$refs["myElTabs"]);
  }
  reSize() {
    let h1 = $(".py-home-tabs").height();
    let mainHeight = h1 - 40;
    this.mainHeight = mainHeight;
    let w1 = $(".right").width();
    let mainWidth = w1 - 20;
    this.mainWidth = mainWidth;
  }
  @Emit("_active")
  handleClick(tab: any, event: any) {
    return tab;
  }

  @Watch("list", { immediate: true, deep: true })
  listWatch(newVal: any) {
    this.tabList = newVal;
    this.active = newVal[0].name;
  }
}
</script>
<style lang="scss" scoped>
.myTabView {
  position: relative;
  .myTabView-header {
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
  }
  // display: flex;
  // flex-direction: column;
  & ::v-deep .el-tabs__content {
    // flex: 1;
    // height: 100%;
  }
  & ::v-deep .el-tabs__content {
    position: initial;
  }
  & ::v-deep .el-tabs__header {
    display: block;
    margin-bottom: 0;
    background-color: rgba(19, 71, 79, 0.8);
    padding-top: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .el-tabs__nav-scroll {
    }
    .el-tabs__nav {
      border: none;
      margin-left: 10px;
    }
    .el-tabs__item {
      background-image: url("../assets/images/noclick.png");
      background-position: right top, left top;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100% 36px;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 34px;
      line-height: 40px;
      color: #fff;
      font-size: 12px;
    }
    .el-tabs__item.is-active {
      background-image: url("../assets/images/click.png");
    }
  }
}
</style>
