<template>
  <el-container class="py-template" :class="className">
    <el-header class="py-header" height="90px">
      <el-row>
        <el-col :span="6">
          <div class="py-header-logo">智慧消防云平台</div>
        </el-col>
        <el-col :span="12">
          <div class="py-header-nav">
            <slot name="headerNav"></slot>
          </div>
        </el-col>
        <el-col :span="6">
          <div class="py-header-menu">
            <slot name="headerMenu"></slot>
          </div>
        </el-col>
      </el-row>
      <slot name="header"></slot>
    </el-header>
    <el-container>
      <el-aside :width="swidth" :style="[swidth == '80px' ? overflowHide : '']">
        <slot name="aside"></slot>
      </el-aside>
      <el-main>
        <slot></slot>
      </el-main>
    </el-container>
  </el-container>
</template>

<script lang="ts">
import { Container, Header, Aside, Main, Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elContainer: Container,
    elHeader: Header,
    elAside: Aside,
    elMain: Main,
    elRow: Row,
    elCol: Col,
  },
})
export default class Template1 extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  swidth: string;
  @Prop({ type: String, default: "" })
  className: string;
  @Provide() test = "this is test";
  @Provide() mainHeight = 0;

  @Provide() overflowHide = {
    overflow: "inherit",
  };
  mounted() {
    window.onresize = this.reSize;
    this.reSize();
  }
  reSize() {
    let h = document.getElementById("app")?.clientHeight;
    this.mainHeight = h = 90;
  }
}
</script>
<style lang="scss" scoped>
.py-template {
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/images/index_bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  & ::v-deep .el-aside {
    padding: 0 10px;
    height: 100%;
    position: relative;
  }

  & ::v-deep .el-main {
    background-color: transparent;
    color: #333;
    text-align: left;
    padding: 0;
  }

  & ::v-deep .el-container {
    flex: 1;
    height: 10%;
  }
  .py-header {
    background-image: url("../assets/images/head_bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 79% 85%;
    background-color: transparent;
    height: 90px;
    .py-header-logo {
      font-size: 2.1vw;
      padding-left: 25px;
      text-align: left;
      color: white;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 88px;
      -webkit-line-clamp: 2;
      background-image: -webkit-linear-gradient(
        bottom,
        rgb(77, 186, 215),
        rgb(77, 230, 233)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .py-header-nav {
      height: 40px;
      background-color: transparent;
      margin-top: 18px;
      padding: 5px 20px;
      text-align: left;
      box-sizing: border-box;
    }
    .py-header-menu {
      height: 40px;
      background-color: transparent;
      margin-top: 18px;
      padding: 5px 20px;
      text-align: left;
      box-sizing: border-box;
    }
  }
}
.py-template.largeScreenDisplay {
  background-image: url("../assets/images/map.png");
}
</style>
