<template>
  <div class="RichText" :style="{ height: height + 'px', width: width + 'px' }">
    <h1>智慧用电安全监控报表</h1>
    <h2>单位名称：{{ fullname }}</h2>
    <h2>日期范围：{{ dates[0] }}至{{ dates[1] }}</h2>
    <h2>总体概况：</h2>
    <h4>
      在{{ dates[0] }}至{{
        dates[1]
      }}期间，所监测0个单位中，目前0个在线，0个报警（含离线前），0个离线。
    </h4>
    <h4>
      在统计时间段中，报警总数合计次，其中漏电报警次，过载报警次，超温报警次，离线报警次，详情如下表。
    </h4>
    <h4>
      注：单位名称颜色是红色时为当前该单位正处于报警状态，绿色为正常，灰色为离线。
    </h4>
    <div id="HZTable" class="myTable">
      <el-table
        :data="reportData"
        border
        width="100%"
        height="250px"
        size="mini"
        :fit="true"
        :row-class-name="rowClass"
      >
        <el-table-column label="单位" prop="orgName"></el-table-column>
        <el-table-column label="漏电次数" prop="leakCount"></el-table-column>
        <el-table-column
          label="过载次数"
          prop="overloadCount"
        ></el-table-column>
        <el-table-column
          label="超温次数"
          prop="overtempCount"
        ></el-table-column>
        <el-table-column label="离线次数" prop="offlineCount"></el-table-column>
        <el-table-column label="合计">
          <template #default="{ row }">
            <span
              v-text="
                row.leakCount +
                row.overloadCount +
                row.overtempCount +
                row.offlineCount
              "
            ></span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <h3>{{ dates[0] }}至{{ dates[1] }}期间设备离线记录</h3>
    <div id="HZTable2" class="myTable">
      <el-table
        :data="recordData"
        border
        width="100%"
        height="250px"
        size="mini"
        :fit="true"
      >
        <el-table-column label="设备名称" prop="meterName"></el-table-column>
        <el-table-column label="报警类型" prop="warnStatus"></el-table-column>
        <el-table-column label="报警内容" prop="warnText"></el-table-column>
        <el-table-column label="报警时间" prop="recordDate"></el-table-column>
      </el-table>
    </div>
    <h2>二、设备回路特征分析</h2>
    <div class="myTable">
      <el-table
        :data="reportMeterList"
        border
        width="100%"
        height="250px"
        size="mini"
        :fit="true"
        highlight-current-row
        @current-change="handleCurrentTableChange"
      >
        <el-table-column label="sim卡号" prop="sim"></el-table-column>
        <el-table-column label="网关地址" prop="gatewayCode"></el-table-column>
        <el-table-column label="设备地址" prop="addressCode"></el-table-column>
        <el-table-column label="产品类型" prop="productType"></el-table-column>
        <el-table-column label="通讯类型" prop="connType"></el-table-column>
        <el-table-column label="设备型号" prop="meterType"></el-table-column>
        <el-table-column
          label="安装地址"
          prop="installAddress"
        ></el-table-column>
        <el-table-column label="安装楼层" prop="installFloor"></el-table-column>
        <el-table-column label="安装时间" prop="installTime"></el-table-column>

        <el-table-column label="到期时间" prop="expireDate"></el-table-column>
      </el-table>
    </div>

    <h3>特征分析：</h3>
    <h4>
      * 漏电回路1 在周期内平均运行状态为{{
        circuitFormData.currentLeakageAvg
      }}mA，峰值为：{{
        circuitFormData.currentLeakageMax
      }}mA，其均值为国家安全标准最大值（漏电值：{{
        circuitFormData.currentLeakageSet
      }}mA以下）的
      {{
        getPercentage(
          circuitFormData.currentLeakageAvg,
          circuitFormData.currentLeakageSet
        )
      }}%，回路处于
      {{
        getStatus(
          circuitFormData.currentLeakageMax,
          circuitFormData.currentLeakageSet
        )
      }}
      状态;
    </h4>
    <h4>
      * 电流回路1 在周期内平均运行状态为{{
        circuitFormData.current1Avg
      }}A，峰值为：{{ circuitFormData.current1Max }}A，均值为回路报警值（{{
        circuitFormData.currentSet
      }}A）的
      {{
        getPercentage(circuitFormData.current1Avg, circuitFormData.currentSet)
      }}%，回路处于
      {{ getStatus(circuitFormData.current1Max, circuitFormData.currentSet) }}
      状态;
    </h4>
    <h4>
      * 电流回路2 在周期内平均运行状态为{{
        circuitFormData.current2Avg
      }}A，峰值为：{{ circuitFormData.current2Max }}A，均值为回路报警值（{{
        circuitFormData.currentSet
      }}A）的
      {{
        getPercentage(circuitFormData.current2Avg, circuitFormData.currentSet)
      }}%，回路处于
      {{ getStatus(circuitFormData.current2Max, circuitFormData.currentSet) }}
      状态;
    </h4>
    <h4>
      * 电流回路3 在周期内平均运行状态为{{
        circuitFormData.current3Avg
      }}A，峰值为：{{ circuitFormData.current3Max }}A，均值为回路报警值（{{
        circuitFormData.currentSet
      }}A）的
      {{
        getPercentage(circuitFormData.current3Avg, circuitFormData.currentSet)
      }}%，回路处于
      {{ getStatus(circuitFormData.current3Max, circuitFormData.currentSet) }}
      状态;
    </h4>
    <h4>
      * 温度回路1 在周期内平均运行状态为{{
        circuitFormData.temp1Avg
      }}°C，峰值为：{{ circuitFormData.temp1Max }}°C，回路处于
      {{ getStatus(circuitFormData.temp1Max, circuitFormData.temperatureSet) }}
      状态;
    </h4>
    <h4>
      * 温度回路2 在周期内平均运行状态为{{
        circuitFormData.temp2Avg
      }}°C，峰值为：{{ circuitFormData.temp2Max }}°C，回路处于
      {{ getStatus(circuitFormData.temp2Max, circuitFormData.temperatureSet) }}
      状态;
    </h4>
    <h4>
      * 温度回路3 在周期内平均运行状态为{{
        circuitFormData.temp3Avg
      }}°C，峰值为：{{ circuitFormData.temp3Max }}°C，回路处于
      {{ getStatus(circuitFormData.temp3Max, circuitFormData.temperatureSet) }}
      状态;
    </h4>
    <h4>
      * 温度回路4 在周期内平均运行状态为{{
        circuitFormData.temp4Avg
      }}°C，峰值为：{{ circuitFormData.temp4Max }}°C，回路处于
      {{ getStatus(circuitFormData.temp4Max, circuitFormData.temperatureSet) }}
      状态;
    </h4>
    <h2>三、危害分类</h2>
    <h3>3.1 漏电的危害</h3>
    <h4>
      1、漏电会造成人身触电，产生电火花、故障电弧、过热高温等造成火灾，而且还会造成用电浪费，造成经济损失；
    </h4>
    <h4>
      2、设备漏电时，电流将设备外壳、保护接地线、大地形成闭合回路，造成人身触电或线路短路事故，通常情况下漏电流过大时，会使熔断器动作而切断电源，影响生活与生产；但由于以下几种情况使得熔断器失去作用从而造成更大损失：
    </h4>
    <h5>
      a) 实际运行当中熔断器规格被人为加大数倍或被铜丝代替，起不到过流保护作用；
    </h5>
    <h5>
      b)
      电故障点可能发生在系统足够远的末端，故障回路阻抗较大，造成漏电电流较小不足以令熔断器动作；
    </h5>
    <h5>c) 电气设备容量够大，熔体额定电流超过漏电电流时，熔断器不会动作；</h5>
    <h5>
      d) 接地装置不符合要求，接地电阻较大，导致漏电电流较小也不会使熔断器动作；
    </h5>
    <h5>
      e)
      采用过电流自动保护开关时，开关失灵或脱抠电流设置过大，自动保护开关不动作；
    </h5>
    <h5>
      f)
      保护接零（接地）线的接线端子连接不牢，造成接触电阻过大，限制了故障电流，致使熔断器不动作。
    </h5>
     
    <h4>
      3、线路漏电一般为相线的绝缘老化或损坏产生的异常电流。通常会有以下几种情况造成漏电火灾：
    </h4>
    <h5>
      a)
      漏电点接触不牢，似接非接，导致接触电阻较大，故障点处会产生电弧，引燃周边可燃物；
    </h5>
    <h5>b) 保护零线或保护地线的接线端子接触不良，引起漏电火灾；</h5>
    <h5>
      c)
      漏电电压持续发生后，由于电流不能及时流散而寻找阻抗小的另一回路通地，电弧连续发生，点燃周围可燃物。此时由于电压的传导，漏电点与起火点不一定一致。
    </h5>
    <h3>3.2 电流超标与温度超标的危害</h3>
    <h4>
      1、线路或空开长时间超额定电流运行时，会造成线缆寿命缩短，绝缘阻值下降，从而引起漏电；
    </h4>
    <h4>
      2、线缆温度的增减与电流大小成正比，故危害几乎相同，线缆长期高温运行会加速线缆老化，引发漏电；
    </h4>
    <h4>
      3、电流超标同时会伴随温度升高，当电流与温度超标达一定程度时会使绝缘隔化，电流击穿绝缘导致短路或触电事故发生；
    </h4>
    <h4>4、在空开失灵或匹配不当的情况下，造成电缆烧毁引起火灾。</h4>
    <h3>3.3 隐患类型介绍</h3>
    <h4>
      1、环境不良：配电箱所处环境湿度或粉尘密度较大，热源封闭，可燃物堆积等情况；
    </h4>
    <h4>
      2、线路隐患：导线或绝缘体长时间腐蚀、老化，线径不足，线路安装接触不良，接触点腐蚀、老化等情况；
    </h4>
    <h4>
      3、三相不平衡：电力系统中三相电流（或电压）幅值不一致，且幅值差超过规定范围；
    </h4>
    <h4>
      4、零线混用：多路供电，无漏电情况下相线与零线间电流不等，即零线反接或共用的情况；
    </h4>
    <h4>
      5、零地混接：漏电持续过高，有漏电发生情况下相线与零线电流相等，即零线与地线反接或共用的情况。
    </h4>
    <h2>四、排查参考方法</h2>
    <h3>4.1 漏电的排查方法</h3>
    <h4>排查条件：</h4>
    <h5>1、排查人员≥2人；</h5>
    <h5>2、排查人员需具备电工资质；</h5>
    <h5>3、大口径钳形电流表。</h5>
    <h4>分析故障原因：</h4>
    <h5>
      根据历史数据（平台内的历史数据或报表中的初步疹断内容），观察漏电规律，初步判断漏电区域；
    </h5>
    <h4>逐个切除法：</h4>
    <h5>
      保持整体设备运行，观察探测器剩余电流读数，逐个切断电气柜内的空开，通过剩余电流读数判断故障所处区域；
    </h5>
    <h4>带电检查法：</h4>
    <h5>
      保持线路供电，记录总漏电电流；随后分别测量各分支线路的漏电电流，逐路逐级排查，直至确认故障区域；
    </h5>
    <h3>4.2 电流超标与温度超标的排查方法</h3>
    <h4>1、经过合理科学计算增大线径和空开，使其达到正常读数；</h4>
    <h4>2、减少用电设备，或做到合理分流；</h4>
    <h4>3、检查线路是否存在安全隐患。</h4>
  </div>
</template>

<script lang="ts">
import { Table, TableColumn } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTable: Table,
    elTableColumn: TableColumn,
  },
})
export default class Electricity extends Mixins(commMixins) {
  @Provide() test = "this is test";
  @Prop({ type: String, default: "" })
  fullname: string;
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: String, default: "" })
  orgid: string;
  @Prop({ type: Array, default: () => [] })
  dates: any;

  @Provide() productType: string = "电气火灾";
  @Provide() ygTableData: any = [];

  mounted() {
    this.init();
  }
  init() {
    if (this.dates.length == 0) return;
    this.getReportDetails();
    this.getReportRecord();
    this.getReportMeter();

    console.log(this.fullname);
  }
  getReqs() {
    let self = this;
    let dates = self.dates || [];
    return {
      orgId: self.orgid,
      productType: self.productType,
      startTime: dates[0],
      endTime: dates[1],
    };
  }
  rowClass({ row, rowIndex }: any): string {
    if (row.status == "正常") {
      return "success";
    } else if (row.status == "离线") {
      return "info";
    } else if (row.status == "报警") {
      return "danger";
    }
    return "";
  }
  handleCurrentTableChange(row: any) {
    this.getCircuitCharacteristics(row);
  }
  @Provide() circuitFormData: any = {};
  getCircuitCharacteristics(row: any) {
    let self = this;
    let meterId = row.meterId;
    let dates = self.dates || [];
    let req = {
      meterId,
      startTime: dates[0],
      endTime: dates[1],
    };
    self
      .get("circuitCharacteristics", req, null)
      .then(({ code, data }: any) => {
        if (code == 10000) {
          console.log(data);

          self.circuitFormData = Object.assign(row, data);
        }
      });
    // circuitCharacteristics
  }
  @Provide() reportData: any = [];
  getReportDetails() {
    let self = this;
    let req = self.getReqs();
    self.get("reportDetails", req, null).then(({ code, data }: any) => {
      if (code == 10000) {
        console.log(data);
        let { list } = data;
        self.reportData = list;
      }
    });
  }
  @Provide() recordData: any = [];
  getReportRecord() {
    let self = this;
    let req = self.getReqs();
    self.get("reportRecord", req, null).then(({ code, data }: any) => {
      if (code == 10000) {
        let { list } = data;
        self.recordData = list;
      }
    });
  }
  getPercentage(avg: number, standard: number) {
    return ((Number(avg) / Number(standard)) * 100).toFixed(2);
  }
  getStatus(max: number, standard: number) {
    if (max > standard) {
      return "报警";
    } else {
      return "正常";
    }
  }
  @Provide() reportMeterList: any = [];
  getReportMeter() {
    let self = this;
    let req = {
      orgId: self.orgid,
    };
    self.get("reportMeter", req, null).then(({ code, data }: any) => {
      if (code == 10000) {
        let { list } = data;
        self.reportMeterList = list;
        if (list.length > 0) {
          self.handleCurrentTableChange(list[0]);
        }
      }
    });
  }
  @Watch("dates", { deep: true })
  datesWatch() {
    this.init();
  }
  @Watch("orgid", { deep: true })
  orgidWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
