<template>
  <div
    class="WireLessView RichText"
    :style="{ height: height + 'px', width: width + 'px' }"
  >
    <h1>无线烟感监控报表</h1>
    <h2>一、概况总览</h2>
    <h3>单位名称：{{ fullname }}</h3>
    <h3>日期范围：{{ dates[0] }}至{{ dates[1] }}</h3>
    <h3>总体概况：</h3>
    <h4>
      在{{ dates[0] }}至{{
        dates[1]
      }}期间，所监测个单位中，目前个在线，个报警（含离线前），个离线。
    </h4>
    <h4>
      在统计时间段中，报警总数合计次，其中火灾报警次，故障报警次，详情如下表。
    </h4>
    <h4>
      注：单位名称颜色是红色时为当前该单位正处于报警状态，绿色为正常，灰色为离线。
    </h4>
    <div id="YGTable" class="myTable">
      <el-table
        :data="reportData"
        border
        width="100%"
        height="250px"
        size="mini"
        :fit="true"
        :row-class-name="rowClass"
      >
        <el-table-column label="单位" prop="orgName"></el-table-column>
        <el-table-column label="火灾报警" prop="warnCount"></el-table-column>
        <el-table-column
          label="故障报警"
          prop="breakdownCount"
        ></el-table-column>
        <el-table-column label="合计">
          <template #default="{ row }">
            <span v-text="row.warnCount + row.breakdownCount"></span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <h3>{{ dates[0] }}至{{ dates[1] }}期间设备报警记录</h3>
    <div id="YGWTable" class="myTable">
      <el-table
        :data="recordData"
        border
        width="100%"
        height="250px"
        size="mini"
        :fit="true"
      >
        <el-table-column label="设备名称" prop="meterName"></el-table-column>
        <el-table-column label="报警类型" prop="warnStatus"></el-table-column>
        <el-table-column label="报警内容" prop="warnText"></el-table-column>
        <el-table-column label="报警时间" prop="recordDate"></el-table-column>
      </el-table>
    </div>
    <h3>使用</h3>
    <h4>* 烟雾报警器的探测范围为80㎡，若超出范围，请再加装烟雾报警器。</h4>
    <h4>* 烟雾报警器正常工作中，红色报警指示灯约每32-48秒闪烁一次；</h4>
    <h4>
      *
      烟雾报警器带有低电压报警功能，在电量较低时，该功能使报警器发出“哔”声，每隔32-48秒钟响一次，至少持续7日；
    </h4>
    <h4>
      *
      烟雾报警器每年至少清洁报警器一次。清洁报警器时，应将探测头拆下，使用压缩空气、吸尘器的吸管清理报警器的内部，
      以通过报警器底部周边的开孔进行吸尘或吹尘。报警器的外壳可以使用湿布擦拭。完成清洁后，重新装好报警器。
    </h4>
    <h2>二、防误报</h2>
    <h4>
      烟雾报警器已采用了尽量减少误报警的设计。香烟散发的烟雾一般不会触发报警器，除非将烟雾直接吹到报警器内。
      如果报警器紧靠烹调区域安装，
      则烹调产生的燃烧粒子可能会触发报警器。烧烤时会产生大量的燃烧产物，
      使用抽油烟机上的风扇向室外排风（非循环型）会有助于将这些微粒排出厨房。
    </h4>
    <h4>
      如果报警器报警，应首先检查是否发生火灾。如果发现火情，则立即离开并拨打119。
      如果没有发生火灾，则检查是否为第二节所列出的某种原因触发了报警，找明其隐患。
    </h4>

    <h2>三、制约烟雾报警器的因素</h2>
    <h4>
      烟雾报警器是一种以合理的成本对可能发生的火灾进行预警的装置，
      但报警器也有探测功能上的制约因素。光电报警器可能比离子报警器更迅速地探测到明显的燃烧粒子
      （由焖火或焖烧产生）。离子报警器可能比光电报警器更迅速地探测到不明显的燃烧粒子（由明火产生）。
      家庭火灾的类型多种多样，一般无法全面预测。为了最全面的保护， 凯德 (Kidde)
      建议您同时安装光电型和离子型报警器。
    </h4>
    <h4>
      烟雾报警器必须定期进行测试 , 以确保电池和报警器电路处于良好的工作状态。
    </h4>
    <h4>
      如果烟雾无法蔓延到报警器，则烟雾报警器无法报警。因此，烟雾报警器可能无法探测到从烟囱、
      墙壁内、屋顶以及紧闭的房门的另一侧或不同楼层引发的火灾。
    </h4>
    <h4>
      如果报警器安装在卧室之外，或安装在另一个楼层，则可能无法唤醒沉睡者。
    </h4>
    <h4>
      酒类饮品或药物会减低人对烟雾报警声的听力。要获得最完整的保护，
      应在每个楼层的每个睡眠区域分别安装一台报警器。
    </h4>
    <h4>
      尽管烟雾报警器能够通过火灾预警挽救生命 , 但它们无法替代保险单的作用。
      屋主和租户应购买充足的保险，以保护其生命和财产安全。
    </h4>

    <h2>四、良好的安全习惯</h2>
    <h3>4.1 制订并练习逃生计划</h3>
    <h4>
      ● 制作一幅楼层平面图，标明所有门窗的位置，以及每个房间的至少两条逃生路线。
      二楼的窗户可能需要备有绳索或逃生梯。
    </h4>
    <h4>
      ● 让家庭成员一起讨论您的逃生计划，让每个人了解发生火灾时应该怎样做。
    </h4>
    <h4>● 确定一个室外集合地点，以便发生火灾时，所有人均到此集合。</h4>
    <h4>
      ● 让每个人熟悉烟雾报警器的报警声，并训练他们如何在听到报警时离开房屋。
    </h4>
    <h4>
      ●
      每隔六个月进行一次火灾演习，包括晚上的演习。确保小孩能听到报警声并苏醒过来。他们必需醒过来，
      执行逃生计划。通过演习，可以在发生紧急情况之前对你的计划进行检讨。火灾时，您可能无法照顾您的孩子
      ，让他们懂得应对非常重要。
    </h4>
    <h4>
      ●
      在每个楼层、厨房、地库和车库内安装并妥善保养灭火器。在发生紧急情况之前，熟识灭火器的使用方法。
    </h4>
    <h3>4.2 报警器报警时应采取的行动</h3>
    <h4>● 唤醒家中老幼大小。</h4>
    <h4>
      ●
      立即按照逃生计划离开房屋。每秒钟都很宝贵，所以不要把时间浪费在穿衣服或携带重要物品上。
    </h4>
    <h4>
      ●
      如果离开过程中遇到室内的门，开启前务必试探其表面温度，如果表面很烫，或者看到裂缝中透出烟雾，
      则不要开启此门！此时应使用其他出口。如果门的内表面感觉较凉，则首先用肩膀顶住门板，
      然后慢慢开启，作好随时关闭房门的准备，一旦有热量和烟雾涌入，即立刻紧闭房门。
    </h4>
    <h4>
      ●
      如果空气中烟雾弥漫，则身体尽可能靠近地面。透过一块布做浅呼吸，如果可能，将布沾湿。
    </h4>
    <h4>
      ● 到达室外后，去预定地点集合，并确保每个人都已逃出火灾现场，到达集合地点。
    </h4>
    <h4>● 从邻居家（而不是火灾现场！）呼叫消防队。</h4>
    <h4>● 没有得到消防队官员的许可，不得返回家中。</h4>
  </div>
</template>

<script lang="ts">
import { Table, TableColumn } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTable: Table,
    elTableColumn: TableColumn,
  },
})
export default class WirelessView extends Mixins(commMixins) {
  @Provide() test = "this is test";
  @Prop({ type: String, default: "" })
  fullname: string;
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: String, default: "" })
  orgid: string;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: Array, default: () => [] })
  dates: any;

  @Provide() productType: string = "烟感";

  @Provide() ygTableData: any = [];
  mounted() {
    this.init();
  }
  init() {
    if (this.dates.length == 0) return;
    this.getReportDetails();
    this.getReportRecord();

    console.log(this.fullname);
  }
  getReqs() {
    let self = this;
    let dates = self.dates || [];
    return {
      orgId: self.orgid,
      productType: self.productType,
      startTime: dates[0],
      endTime: dates[1],
    };
  }
  @Provide() reportData: any = [];
  getReportDetails() {
    let self = this;
    let req = self.getReqs();
    self.get("reportDetails", req, null).then(({ code, data }: any) => {
      if (code == 10000) {
        console.log(data);
        let { list } = data;
        self.reportData = list;
      }
    });
  }
  @Provide() recordData: any = [];
  getReportRecord() {
    let self = this;
    let req = self.getReqs();
    self.get("reportRecord", req, null).then(({ code, data }: any) => {
      if (code == 10000) {
        let { list } = data;
        self.recordData = list;
      }
    });
  }
  rowClass({ row, rowIndex }: any): string {
    if (row.status == "正常") {
      return "success";
    } else if (row.status == "离线") {
      return "info";
    } else if (row.status == "报警") {
      return "danger";
    }
    return "";
  }
  @Watch("dates", { deep: true })
  datesWatch() {
    this.init();
  }
  @Watch("orgid", { deep: true })
  orgidWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
