<template>
  <div>
    <el-dialog
      class="DetailsView"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      :title="mTitle"
      append-to-body
    >
      <el-form
        ref="detailsForm"
        class="dictTypeMain"
        size="mini"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.3)"
        v-loading.fullscreen.lock="fullscreenLoading"
      >
        <el-row>
          <el-col :span="24" style="margin-bottom: 5px">
            <a
              href="javascript:void(0);"
              class="dictTypeBtn"
              @click="refreshClick"
            >
              <i class="fa fa-refresh"></i>
              <span>刷新</span>
            </a>
            <a href="javascript:void(0);" class="dictTypeBtn" @click="addClick">
              <i class="fa fa-plus"></i>
              <span>新增</span>
            </a>
            <a
              href="javascript:void(0);"
              class="dictTypeBtn"
              @click="editClick"
            >
              <i class="fa fa-pencil-square-o"></i>
              <span>编辑</span>
            </a>
            <a
              href="javascript:void(0);"
              class="dictTypeBtn"
              @click="deleteClick"
            >
              <i class="fa fa-trash-o"></i>
              <span>删除</span>
            </a>
          </el-col>
          <el-col :span="24">
            <el-input
              v-model="filterValue"
              placeholder="输入关键字过滤"
              size="mini"
            ></el-input>
          </el-col>
          <el-col :span="24">
            <div class="my-tree-tr">
              <div class="my-tree-th">名称</div>
              <div class="my-tree-th">编号</div>
              <div class="my-tree-th">排序</div>
              <div class="my-tree-th">有效</div>
              <div class="my-tree-th">描述</div>
            </div>
          </el-col>
          <el-col :span="24" class="tree-content">
            <el-tree
              ref="dictTree"
              class="filter-tree"
              :data="treeData"
              :props="defaultProps"
              :highlight-current="true"
              default-expand-all
              node-key="id"
              :filter-node-method="filterNode"
            >
              <template #default="{ data, node }">
                <div class="my-tree-tr" @click.stop="treeNodeClick(data)">
                  <div class="my-tree-td" :style="setStyle(node)">
                    <span v-text="data.name" :title="data.name"></span>
                  </div>
                  <div class="my-tree-td">
                    <span v-text="data.type" :title="data.type"></span>
                  </div>
                  <div class="my-tree-td">
                    <span v-text="data.sort" :title="data.sort"></span>
                  </div>
                  <div class="my-tree-td">
                    <span v-if="data.enable" class="fa fa-toggle-on"></span>
                    <span v-else class="fa fa-toggle-off"></span>
                  </div>
                  <div class="my-tree-td">
                    <span v-text="data.remarks" :title="data.remarks"></span>
                  </div>
                </div>
              </template>
            </el-tree>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer"></div>
    </el-dialog>
    <py-generl-edit
      :ishow="isEdit"
      :gid="editId"
      :type="editType"
      :tree="treeData"
      @_save="refreshClick"
    ></py-generl-edit>
  </div>
</template>
<script lang="ts">
import GenerlEdit from "./GenerlTypeEdit.vue";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Tree,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elTree: Tree,
    pyGenerlEdit: GenerlEdit,
  },
})
export default class GenerlType extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;

  @Provide() treeData: any = [];
  @Provide() dialogVisible: boolean = false;
  @Provide() mTitle: string = "字典分类";
  @Provide() filterValue: string = "";
  @Provide() defaultProps: any = {
    children: "children",
    label: "name",
    isLeaf: false,
    disabled: true,
  };
  @Provide() fullscreenLoading: boolean = false;
  @Provide() editId: string = "";
  @Provide() isEdit: boolean = false;
  @Provide() editType: string = "add";
  @Provide() activeNode: any = {};
  init() {
    let self = this;
    self.dialogVisible = true;

    self.getTreeFull();
  }
  refreshClick() {
    this.getTreeFull();
  }
  addClick() {
    this.editId = "";
    this.editType = "add";
    this.isEdit = !this.isEdit;
  }
  editClick() {
    let node = this.activeNode;
    console.log(node);
    this.editId = node.id;
    this.editType = "edit";
    this.isEdit = !this.isEdit;
  }
  deleteClick() {
    let self = this;
    let node = this.activeNode;
    console.log(node);
    self
      .$confirm("是否删除此字典类型？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then((d: any) => {
        let hisReq = {
          id: node.id,
        };
        self.delete("dictById", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除字典类型成功",
              type: "success",
            });

            self.getTreeFull();
          }
        });
      });
  }
  getTreeFull() {
    let self = this;
    self.activeNode = {};
    self.fullscreenLoading = true;
    self.get("dictTreeFull", null, null).then((d: any) => {
      console.log(d);
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let { list } = d.data;
        self.treeData = list;
      }
    });
  }
  setStyle(node: any) {
    let { level } = node;
    let defaultWidth = 200;
    let defaultOffsetLeft = 18;
    let width = defaultWidth - (level - 1) * defaultOffsetLeft;
    return {
      width: width + "px",
    };
  }
  treeLoad(node: any, resolve: any) {
    console.log("125", node);
    resolve(node);
  }
  filterNode(value: string, data: any) {
    if (!value) return true;
    return data.label.indexOf(value) !== -1;
  }
  treeNodeClick(data: any) {
    console.log(data);
    this.activeNode = data;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.tree-content {
  height: 260px;
  overflow: auto;
}
.dictTypeMain {
  & ::v-deep .el-tree-node__content {
    border-left: 1px solid rgb(28, 90, 96);
    border-right: 1px solid rgb(28, 90, 96);
    border-bottom: 1px solid rgb(28, 90, 96);
  }
  .my-tree-tr {
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
    .my-tree-th {
      border-top: 1px solid rgb(28, 90, 96);
      border-bottom: 1px solid rgb(28, 90, 96);
      font-size: 13px;
      color: #fff;
      line-height: 26px;
      padding: 0 10px;
    }
    .my-tree-td {
      width: 100%;
      line-height: 26px;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .my-tree-th:nth-of-type(1) {
      width: 225px;
      border-left: 1px solid rgb(28, 90, 96);
      border-right: 1px solid rgb(28, 90, 96);
      text-align: center;
    }
    .my-tree-th:nth-of-type(2) {
      width: 200px;
      border-right: 1px solid rgb(28, 90, 96);
      text-align: center;
    }
    .my-tree-th:nth-of-type(3) {
      width: 60px;
      text-align: center;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-th:nth-of-type(4) {
      width: 60px;
      text-align: center;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-th:nth-of-type(5) {
      flex: 1;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-td:nth-of-type(1) {
      width: 200px;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-td:nth-of-type(2) {
      width: 200px;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-td:nth-of-type(3) {
      width: 60px;
      text-align: center;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-td:nth-of-type(4) {
      width: 60px;
      text-align: center;
      border-right: 1px solid rgb(28, 90, 96);
    }
    .my-tree-td:nth-of-type(5) {
      flex: 1;
    }
    .fa {
      color: #449d44;
      font-size: 18px;
    }
  }
}
.dictTypeBtn {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  i {
    margin-right: 5px;
  }
}
</style>