<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form ref="detailsForm" size="mini" :model="formData" label-width="80px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="标签名" required>
            <el-input
              v-model="formData.label"
              placeholder="请输入"
              :disabled="setDisabled"
              clearable
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="数据值" required>
            <el-input
              v-model="formData.value"
              placeholder="请输入"
              :disabled="setDisabled"
              clearable
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="字典分类" required>
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              :disabled="setDisabled"
              v-model="formData.dictId"
              @select="dictTypeChange"
            ></tree-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态">
            <el-switch
              v-model="formData.enable"
              active-text="正常"
              inactive-text="停用"
              :active-value="1"
              :inactive-value="0"
              :disabled="setDisabled"
            ></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="排序" required>
            <el-input
              v-model="formData.sort"
              placeholder="请输入"
              :disabled="setDisabled"
              clearable
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22">
          <el-form-item label="描述">
            <el-input
              type="textarea"
              v-model="formData.remarks"
              placeholder="请输入,不能大于50个字符"
              :disabled="setDisabled"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" v-if="!setDisabled" @click="sureClick"
        >确 定</el-button
      >
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
  Switch,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    elSwitch: Switch,
    TreeSelect,
  },
})
export default class GenerlEdit extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  eid: string;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() dialogVisible: boolean = false;

  @Provide() formData: any = {};
  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.name,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }
  created() {}
  init() {
    let self = this;
    console.log(self.eid, self.type);
    if (self.eid) {
      self.getGenerlById(self.eid);
    } else {
      self.formData = {};
    }
    self.dialogVisible = true;
  }
  getGenerlById(id: string) {
    let self = this;
    let hisReq = {
      id,
    };
    self.get("updateDictData", null, hisReq).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { data } = d;
        self.formData = data;
      }
    });
  }
  dictTypeChange(data: any) {
    let self = this;
    let { type } = data;
    // self.formData.dict_type = type;
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "添加字典数据";
    } else if (this.type == "edit") {
      return "编辑字典数据";
    } else if (this.type == "view") {
      return "查看字典数据";
    }
    return "提示";
  }
  get setDisabled(): boolean {
    console.log(this.type);
    if (this.type == "view") {
      return true;
    } else {
      return false;
    }
  }
  sureClick() {
    let self = this;
    let data = self.formData;
    console.log(data);
    if (!data.label) {
      self.$message.error("标签名必填！");
      return;
    }
    if (!data.value) {
      self.$message.error("数据值必填！");
      return;
    }

    if (!data.dictId) {
      self.$message.error("字典分类必填！");
      return;
    }
    if (self.type == "add") {
      self.addGenerl(data);
    } else {
      self.updateGenerl(data);
    }
  }
  addGenerl(req: any) {
    let self = this;
    self.post("dictData", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加字典数据成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  updateGenerl(req: any) {
    let self = this;
    let hisReq = {
      id: self.eid,
    };
    self.put("updateDictData", req, hisReq).then((d: any) => {
      self.$message({
        showClose: true,
        message: "修改字典数据成功",
        type: "success",
      });

      self.saveSuccess();
    });
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.DetailsView {
  & ::v-deep .el-select {
    width: 100%;
  }
}
</style>