<template>
  <div class="GeneralTable">
    <my-table :columns="columns" :datas="tableData"></my-table>
  </div>
</template>

<script lang="ts">
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class GeneralTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      type: "button",
      width: "240px",
      label: "操作",
      headerAlign: "center",
      buttons: [
        {
          text: "编辑",
          icon: "fa-edit",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          text: "查看",
          icon: "fa-list-alt",
          onClick: (row: any) => {
            this.viewClick(row);
          },
        },
        {
          text: "删除",
          icon: "fa-trash-o",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
      ],
    },
    {
      prop: "label",
      label: "项目名称",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "value",
      label: "项目值",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "dictType",
      label: "字典key",
      headerAlign: "center",
      align: "left",
      width: "180px",
    },
    {
      prop: "sort",
      label: "排序",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "enable",
      label: "有效",
      headerAlign: "center",
      align: "center",
      type: "boolean",
    },
    {
      prop: "updateTime",
      label: "更新时间",
      headerAlign: "center",
      align: "center",
      width: "180",
    },
    {
      prop: "createTime",
      label: "创建时间",
      headerAlign: "center",
      align: "center",
      width: "180",
    },
    {
      prop: "remarks",
      label: "备注",
      headerAlign: "center",
      align: "left",
      width: "280px",
    },
  ];

  mounted() {
    this.init();
  }
  init() {
    let self = this;
  }
  @Emit("_click")
  editClick(row: any) {
    return {
      type: "edit",
      row: row,
    };
  }
  @Emit("_click")
  viewClick(row: any) {
    return {
      type: "view",
      row: row,
    };
  }
  @Emit("_click")
  deleteClick(row: any) {
    return {
      type: "delete",
      row: row,
    };
  }
  @Watch("datas", { immediate: true, deep: true })
  datasWatch(newVal: any) {
    this.tableData = newVal;
  }
}
</script>
<style lang="scss" scoped>
.GeneralTable {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
