<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form
      ref="detailsForm"
      class="dictTypeMain"
      size="mini"
      :model="formData"
      label-width="80px"
    >
      <el-row>
        <el-col :span="11">
          <el-form-item label="名称" required>
            <el-input v-model="formData.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="字典类型" required>
            <el-input v-model="formData.type"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="父级" required>
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              v-model="formData.parentId"
            ></tree-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="系统字典">
            <el-switch
              v-model="formData.sys"
              active-text="是"
              inactive-text="否"
              :active-value="1"
              :inactive-value="0"
            ></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态">
            <el-switch
              v-model="formData.enable"
              active-text="正常"
              inactive-text="停用"
              :active-value="1"
              :inactive-value="0"
            ></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="排序">
            <el-input v-model="formData.sort"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22">
          <el-form-item label="描述">
            <el-input type="textarea" v-model="formData.remarks"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">确 定</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import TreeSelect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
  Switch,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    elSwitch: Switch,
    TreeSelect,
  },
})
export default class GenerlTypeEdit extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: String, default: "" })
  gid: string;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() dialogVisible: boolean = false;
  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.name,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }

  @Provide() formData: any = {};
  init() {
    if (this.gid) {
      this.getTypeById();
    } else {
      this.formData = {};
    }
    this.dialogVisible = true;
  }
  getTypeById() {
    let self = this;
    let hisReq = {
      id: self.gid,
    };
    self.get("dictById", null, hisReq).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { data } = d;
        self.formData = data;
      }
    });
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "添加分类";
    } else if (this.type == "edit") {
      return "编辑分类";
    } else if (this.type == "view") {
      return "查看分类";
    }
    return "提示";
  }
  sureClick() {
    let self = this;
    let req = JSON.parse(JSON.stringify(self.formData));
    console.log(req);
    if (!req.name) {
      self.$message.error("名称不能为空");
      return;
    }
    if (!req.type) {
      self.$message.error("字典类型必填！");
      return;
    }
    if (self.type == "add") {
      self.addData(req);
    } else {
      self.updateData(req);
    }
  }
  addData(req: any) {
    let self = this;
    self.post("dictUpdate", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加字典分类成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  updateData(req: any) {
    let self = this;
    let hisReq = {
      id: req.id,
    };
    self.put("dictById", req, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "修改字典分类成功",
          type: "success",
        });

        self.saveSuccess();
      }
    });
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>