<template>
  <el-dialog
    class="DetailsView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="mTitle"
    append-to-body
  >
    <el-form ref="detailsForm" size="mini" :model="formData" label-width="80px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="组件名">
            <el-input v-model="formData.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="菜单标题" required>
            <el-input v-model="formData.title"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="父级" required>
            <tree-select
              :max-height="200"
              :options="tree"
              :normalizer="CompanyProps"
              :always-open="false"
              v-model="formData.pid"
            ></tree-select>
          </el-form-item>
        </el-col>

        <el-col :span="11">
          <el-form-item label="菜单类型" required>
            <el-select v-model="formData.type">
              <el-option :value="0" label="目录"></el-option>
              <el-option :value="1" label="菜单"></el-option>
              <el-option :value="2" label="按钮"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="排序" required>
            <el-input v-model="formData.sort"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="图标" required>
            <el-input v-model="formData.icon">
              <span slot="suffix" class="el-icon-more" @click="iconEdit"></span>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="链接地址" required>
            <el-input v-model="formData.path"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="22">
          <el-form-item label="选项" required>
            <el-checkbox-group v-model="checkBoxData">
              <el-checkbox
                v-for="(item, index) in checkboxList"
                :key="index"
                :label="item.label"
                >{{ item.text }}</el-checkbox
              >
            </el-checkbox-group>
          </el-form-item>
        </el-col>
        <el-col :span="22">
          <el-form-item label="描述" required>
            <el-input v-model="formData.remarks" type="textarea"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-font-view :ishow="isFontView" :icon="fontIcon"></el-font-view>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="sureClick">保 存</el-button>
      <el-button size="mini" class="cancle" @click="dialogVisible = false"
        >取 消</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import FontView from "./Fontawesome.vue";
import TreeSelect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import {
  Dialog,
  Button,
  Form,
  FormItem,
  Input,
  Row,
  Col,
  Select,
  Option,
  Switch,
  Checkbox,
  CheckboxGroup,
} from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
    elForm: Form,
    elFormItem: FormItem,
    elInput: Input,
    elRow: Row,
    elCol: Col,
    elSelect: Select,
    elOption: Option,
    elSwitch: Switch,
    elCheckbox: Checkbox,
    elCheckboxGroup: CheckboxGroup,
    TreeSelect,
    elFontView: FontView,
  },
})
export default class SystemFView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  type: string;
  @Prop({ type: Array, default: () => [] })
  tree: any;

  @Provide() dialogVisible: boolean = false;
  @Provide() formData: any = {};
  CompanyProps(node: any): any {
    return {
      id: node.id,
      label: node.label,
      children: node.children
        ? node.children.length
          ? node.children
          : ""
        : "",
    };
  }
  @Provide() isFontView: boolean = false;
  @Provide() fontIcon: string = "";
  iconEdit() {
    let self = this;
    let icon = self.formData.icon;
    console.log(icon);
    self.fontIcon = icon;
    self.isFontView = !self.isFontView;
  }
  created() {}
  init() {
    let self = this;
    let defaultData = JSON.parse(JSON.stringify(self.datas));
    self.dialogVisible = true;
    if (defaultData.id) {
      self.getDetailsById(defaultData.id);
    } else {
      self.formData = {};
    }
  }
  getDetailsById(id: string) {
    let self = this;
    let hisReq = {
      id: id,
    };
    self.get("menusUpdate", null, hisReq).then((d: any) => {
      console.log(d);
      if (d.code == 10000) {
        let { data } = d;
        self.formData = data;
      }
    });
  }
  get mTitle(): string {
    if (this.type == "add") {
      return "添加功能";
    } else if (this.type == "edit") {
      return "编辑功能";
    } else {
      return "提示";
    }
  }

  sureClick() {
    let self = this;
    let req = JSON.parse(JSON.stringify(self.formData));
    if (self.type == "add") {
      self.addSystemClick(req);
    } else {
      self.updateSystemClick(req);
    }
  }
  @Provide() checkboxList: any = [
    {
      label: "isPublic",
      text: "公开",
    },
    {
      label: "enable",
      text: "有效",
    },
    {
      label: "expand",
      text: "展开",
    },
  ];
  get checkBoxData(): any {
    let self = this;
    let arr = [];
    if (self.formData.isPublic) {
      arr.push("isPublic");
    }
    if (self.formData.expand) {
      arr.push("expand");
    }
    if (self.formData.enable) {
      arr.push("enable");
    }
    return arr;
  }
  set checkBoxData(val: any) {
    if (val.indexOf("isPublic") > -1) {
      this.formData.isPublic = true;
    } else {
      this.formData.isPublic = false;
    }
    if (val.indexOf("expand") > -1) {
      this.formData.expand = true;
    } else {
      this.formData.expand = false;
    }
    if (val.indexOf("enable") > -1) {
      this.formData.enable = true;
    } else {
      this.formData.enable = false;
    }
  }

  prevClick() {}
  nextClick() {}
  addSystemClick(req: any) {
    let self = this;
    self.post("addMenus", req, null).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "添加功能成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }
  updateSystemClick(req: any) {
    let self = this;
    let hisReq = {
      id: req.id,
    };
    self.put("menusUpdate", req, hisReq).then((d: any) => {
      if (d.code == 10000) {
        self.$message({
          showClose: true,
          message: "更新功能成功",
          type: "success",
        });
        self.saveSuccess();
      }
    });
  }
  @Emit("_save")
  saveSuccess() {
    let self = this;
    self.dialogVisible = false;
    return true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.DetailsView ::v-deep .el-checkbox__label {
  color: #fff;
}
</style>