<template>
  <div class="SystemLTable">
    <my-table
      :columns="columns"
      :datas="tableData"
      :ispage="true"
      :page-config="pageConfig"
      @_sizechange="sizeChange"
      @_currentchange="currentChange"
      @_sort="sortChange"
    ></my-table>
  </div>
</template>

<script lang="ts">
import { getLogColumn } from "./LColumns";
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class SystemLTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: Object, default: () => {} })
  page: any;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];
  @Provide() columns: any = [];
  @Provide() pageConfig: any = {};
  mounted() {
    this.columns = getLogColumn();
    this.init();
  }
  init() {
    let self = this;
  }
  @Emit("_update")
  sortChange(val: any) {
    let sort = val.order == "descending" ? "DESC" : "ASC";
    let req = {
      orderBy: val.prop,
      sort: sort,
    };
    return req;
  }
  @Emit("_update")
  sizeChange(num: number) {
    let self = this;
    let req = {
      pageSize: num,
    };
    return req;
  }
  @Emit("_update")
  currentChange(num: number) {
    let self = this;
    let req = {
      pageNum: num,
    };
    return req;
  }
  @Watch("datas", { immediate: true, deep: true })
  dataWatch(newVal: any) {
    this.tableData = newVal;
  }
  @Watch("page", { immediate: true, deep: true })
  pageWatch(newVal: any) {
    this.pageConfig = newVal;
  }
}
</script>
<style lang="scss" scoped>
.GeneralTable {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
