<template>
  <div class="SystemFTable">
    <my-table :columns="columns" :datas="tableData"></my-table>
  </div>
</template>

<script lang="ts">
import MyTable from "@/components/MyTable.vue";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Emit,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    MyTable,
  },
})
export default class SystemFTable extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Array, default: () => {} })
  datas: number;
  @Provide() test = "this is test";

  @Provide() tableData: any = [];
  @Provide() columns: any = [
    {
      type: "button",
      width: "180px",
      label: "操作",
      headerAlign: "center",
      buttons: [
        {
          text: "编辑",
          icon: "fa-edit",
          onClick: (row: any) => {
            this.editClick(row);
          },
        },
        {
          text: "删除",
          icon: "fa-trash-o",
          onClick: (row: any) => {
            this.deleteClick(row);
          },
        },
      ],
    },
    {
      prop: "name",
      label: "编号",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "title",
      label: "名称",
      headerAlign: "center",
      align: "left",
      width: "200px",
    },
    {
      prop: "typeText",
      label: "菜单类型",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "subCount",
      label: "子菜单数目",
      headerAlign: "center",
      align: "center",
      width: "180px",
    },
    {
      prop: "path",
      label: "地址",
      headerAlign: "center",
      align: "left",
      width: "260px",
    },

    {
      prop: "expand",
      label: "展开",
      headerAlign: "center",
      align: "center",
      type: "boolean",
    },
    {
      prop: "isPublic",
      label: "公共",
      headerAlign: "center",
      align: "center",
      type: "boolean",
    },
    {
      prop: "enable",
      label: "有效",
      headerAlign: "center",
      align: "center",
      type: "boolean",
    },
    {
      prop: "permission",
      label: "权限",
      headerAlign: "center",
      align: "center",
    },
    {
      prop: "remarks",
      label: "描述",
      headerAlign: "center",
      align: "left",
      width: "280px",
    },
  ];
  @Provide() typeData: any = {
    0: "目录",
    1: "菜单",
    2: "按钮",
  };
  mounted() {
    this.init();
  }
  init() {
    let self = this;
    // let data = require("./list3.json");
    // console.log(data);
    // this.tableData = data;
  }
  @Emit("_edit")
  editClick(row: any) {
    return row;
  }
  @Emit("_delete")
  getDelete() {
    return;
  }
  deleteClick(row: any) {
    let self = this;
    self
      .$confirm("是否删除此功能?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "cancle",
        confirmButtonClass: "yes",
        type: "warning",
      })
      .then(() => {
        let hisReq = {
          id: row.id,
        };
        self.delete("menusUpdate", null, hisReq).then((d: any) => {
          if (d.code == 10000) {
            self.$message({
              showClose: true,
              message: "删除角色成功！！",
              type: "success",
            });
            self.getDelete();
          }
        });
      });
  }
  @Watch("datas", { immediate: true, deep: true })
  datasWatch(val: any) {
    let typeData = this.typeData;
    let newList = val.map((item: any) => {
      let text = typeData[item.type];
      item.typeText = text;
      return item;
    });
    this.tableData = newList;
  }
}
</script>
<style lang="scss" scoped>
.GeneralTable {
  background-color: rgba(27, 93, 100, 0.6);
}
</style>
