<template>
  <div
    class="ClassChart"
    :id="id"
    :style="{ width: width - 20 + 'px', height: height - 40 + 'px' }"
  ></div>
</template>
<script lang="ts">
import echarts from "echarts";
import setOptions from "./TimeStatusAnalyzeFun";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class ClassChartTime extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  id: string;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: Number, default: 0 })
  height: number;

  init() {
    let self = this;
    let datas: any = JSON.parse(JSON.stringify(self.datas));
    let options: any = setOptions(datas);
    this.$nextTick(() => {
      let dom: any = document.getElementById(self.id);
      let myChart = echarts.init(dom);
      myChart.setOption(options);
      dom.resize(myChart.resize);
    });
  }
  @Watch("datas", { deep: true })
  dataWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
</style>
