<template>
  <div
    class="Electricity"
    :style="{ height: height + 'px', width: width + 'px' }"
  >
    <div>
      <py-class-chart
        id="eTClassChart"
        :width="width"
        :height="height"
        :datas="chartData"
      ></py-class-chart>
    </div>
  </div>
</template>

<script lang="ts">
import ClassChart from "./ClassChartTime.vue";
import { Row, Col } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    pyClassChart: ClassChart,
    elRow: Row,
    elCol: Col,
  },
})
export default class ElectricityTime extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: Object, default: () => {} })
  datas: number;
  @Provide() chartData: any = {};
  @Provide() listData = [];
  mounted() {
    this.init();
  }
  init() {}
  @Watch("datas", { deep: true, immediate: true })
  datasWatch(newVal: any) {
    this.chartData = newVal;
  }
}
</script>
<style lang="scss" scoped>
.Electricity {
  background-color: rgba(27, 93, 100, 0.6);
  padding: 10px;
  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/bg_inside.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top, left top;
    background-color: transparent;
  }
}
</style>
