<template>
  <div class="SearchFilter">
    <el-form :inline="true" size="mini" label-suffix=":">
      <el-form-item label="查询日期">
        <el-date-picker
          v-model="dateRange"
          type="daterange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          @change="dateChange"
          :picker-options="pickerOptions2"
        ></el-date-picker>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { Form, FormItem, Button, DatePicker } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elForm: Form,
    elFormItem: FormItem,
    elButton: Button,
    elDatePicker: DatePicker,
  },
})
export default class SearchFilter extends Mixins(commMixins) {
  @Provide() test = "this is test";

  @Provide() dateRange: any = [];
  @Provide() pickerOptions2: any = {
    shortcuts: [
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一周",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一个月",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
          picker.$emit("pick", [start, end]);
        },
      },
      {
        text: "最近一年",
        onClick(picker: any) {
          const end = new Date();
          const start = new Date();
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
          picker.$emit("pick", [start, end]);
        },
      },
    ],
  };
  @Emit("_change")
  dateChange() {
    let self = this;
    let dateRange = self.dateRange;
    return dateRange;
  }
}
</script>
<style lang="scss" scoped>
</style>
