<template>
  <div style="width: 100%; height: 100%">
    <Home v-if="activeName == 'Index'"></Home>
    <router-view v-else></router-view>
  </div>
</template>
<script lang="ts">
import Home from "@/views/Home.vue";

import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    Home,
  },
})
export default class App extends Mixins(commMixins) {
  @Provide() activeName: string = "";
  @Watch("$route")
  routeChange(to: any, from: any) {
    // console.log(to, from);
    this.activeName = to.name;
  }
}
</script>
<style lang="scss">
// 项目scss文件
@import "@/assets/css/site.scss";
@import "@/assets/css/RichText.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 640px;
  min-width: 1370px;
  top: 0;
  left: 0;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-moz-scrollbar {
  width: 6px;
  height: 6px;
}

::-ms-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

::-moz-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
::-ms-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-corner {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-moz-scrollbar-corner {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-ms-scrollbar-corner {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}
</style>
