<template>
  <div class="py-index-echart">
    <div class="py-index-title">
      <h5>本周报警统计</h5>
    </div>
    <div class="py-index-main" id="indexBarMain"></div>
  </div>
</template>

<script lang="ts">
import echarts from "echarts";
import "echarts-gl";
import setOptions from "./BarOptions";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class Bar1 extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Provide() test = "this is test";
  @Provide() barOptions: any = {};

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    self.barOptions = setOptions(datas);
    this.$nextTick(() => {
      let dom: any = document.getElementById("indexBarMain");
      let myChart = echarts.init(dom);
      myChart.setOption(self.barOptions);
      console.log(myChart);
      dom.resize(myChart.resize);
    });
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.py-index-echart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("../../assets/images/week_sta.png");
  background-position: right top, left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;

  .py-index-title {
    h5 {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
    }
  }
  .py-index-main {
    flex: 1;
    height: 10%;
    padding: 15px;
  }
}
</style>
