<template>
  <el-dialog
    class="InfoView"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    :title="getTitle"
    append-to-body
  >
    <div class="infoContent" v-html="content"></div>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" class="yes" @click="dialogVisible = false"
        >确 定</el-button
      >
    </div>
  </el-dialog>
</template>
<script lang="ts">
import { Dialog, Button } from "element-ui";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Ref,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
import { component } from "vue/types/umd";
@Component({
  components: {
    elDialog: Dialog,
    elButton: Button,
  },
})
export default class DetailsView extends Mixins(commMixins) {
  @Prop({ type: Boolean, default: false })
  ishow: boolean;
  @Prop({ type: [String, Number], default: "" })
  did: string;
  @Prop({ type: String, default: "" })
  url: string;

  @Provide() dialogVisible: boolean = false;
  @Provide() content: string = "";
  @Provide() getTitle: string = "";
  @Provide() fullscreenLoading: boolean = false;

  getById() {
    let self = this;
    let hisReq = {
      id: self.did,
    };
    self.fullscreenLoading = true;
    self.get(self.url, null, hisReq).then((d: any) => {
      self.fullscreenLoading = false;
      if (d.code == 10000) {
        let data = d.data;
        data.content = data.content
          .replace(/\&lt\;/g, "<")
          .replace(/\&gt\;/g, ">")
          .replace(/&amp;nbsp;/g, " ");
        self.getTitle = data.title;
        self.content = data.content;
      }
    });
  }

  init() {
    let self = this;
    self.getById();
    self.dialogVisible = true;
  }
  @Watch("ishow")
  initWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.infoContent {
  color: #fff;
}
</style>