<template>
  <div class="py-index-panelList">
    <div class="title">
      <h5 v-text="title"></h5>
    </div>
    <div class="main">
      <ul class="list">
        <li class="item" v-for="(item, index) in tableDatas" :key="index">
          <a
            href="javascript:void(0);"
            @click="itemClick(item)"
            :title="item.title"
          >
            <span v-text="item.title"></span>
          </a>
          <span v-text="item.updateTime"></span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
  Emit,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class PanelList extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  title: string;
  @Prop({ type: Array, default: () => [] })
  datas: any;
  @Prop({ type: String, default: "" })
  type: any;

  @Provide() test = "this is test";
  @Provide() tableDatas: any = [];

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    console.log(datas);
    self.tableDatas = datas;
  }
  @Emit("_nodeclick")
  itemClick(row: any) {
    let self = this;
    let newJson = {
      id: row.id,
      type: self.type,
    };
    return newJson;
  }
  @Watch("datas")
  datasWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.py-index-panelList {
  width: 100%;
  min-height: 140px;
  height: 100%;
  background-image: url("../../assets/images/dazhong.png");
  background-size: 100% 100%;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .title {
    h5 {
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 25px;
    }
  }
  .main {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 35px 20px 35px 35px;
    .list {
      padding: 0;
      margin: 0;
      .item {
        list-style-image: url("../../assets/images/dot.png");
        line-height: 27px;
        list-style-type: none;
        white-space: nowrap;
        font-size: 12px;
        display: flex;
        a {
          text-overflow: ellipsis;
          color: #fff;
          text-decoration: none;
          overflow: hidden;
          flex: 1;
          width: 10%;
        }
        span {
          color: #a1a1a1;
          padding-right: 5px;
        }
      }
    }
  }
}
</style>
