<template>
  <div class="py-index-pie-main" ref="echart-pie">
    <div :id="id" class="py-index-pie"></div>
    <div class="py-index-pie-title" :class="type">
      <p class="cal-text">
        <span v-text="calculation"></span>
        <span>%</span>
      </p>
      <p>
        <span v-text="title"></span>:
        <span v-text="count"></span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import echarts from "echarts";
import setOptions from "./pieOptions";
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";

@Component({})
export default class Pie1 extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  id: string;
  @Prop({ type: String, default: "" })
  type: any;
  @Prop({ type: Object, default: {} })
  datas: any;
  @Prop({ type: String, default: "" })
  title: string;

  @Provide() test = "this is test";
  @Provide() pieOptions: any = {};
  @Provide() calculation: string = "0";
  @Provide() count: number = 0;

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    self.count = datas.count;
    self.calculation = (
      (datas.count / (datas.count + datas.other)) *
      100
    ).toFixed(2);
    self.pieOptions = setOptions(self.type, datas.count, datas.other);
    this.$nextTick(() => {
      let dom: any = document.getElementById(self.id);
      let myChart = echarts.init(dom);
      myChart.setOption(self.pieOptions);
      dom.resize(myChart.resize);
    });
  }

  @Watch("datas", { immediate: true, deep: true })
  datasWatch(newVal: any) {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.py-index-pie-main {
  width: 25%;
  p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 12px;
  }
  .cal-text {
    font-size: 14px;
    font-weight: 600;
  }
}
.py-index-pie {
  width: 100%;
  height: 120px;
}
.py-index-pie-title.success {
  color: #1fdb45;
}
.py-index-pie-title.danger {
  color: #eb0f16;
}
.py-index-pie-title.warn {
  color: #db861f;
}
.py-index-pie-title.info {
  color: #99928f;
}
</style>
