<template>
  <div class="SmallPanel" :class="theme">
    <div class="smallPanel-header">
      <h5>{{ title }}</h5>
    </div>
    <div class="smallPanel-main">
      <div class="smallPanel-Icon">
        <img :src="icon" alt="" />
      </div>
      <div class="smallPanel-text">
        <span class="smallPanel-num" v-text="num"></span>
        <span class="smallPanel-com" v-text="company"></span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Provide,
  Watch,
  Prop,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({})
export default class SmallPanel extends Mixins(commMixins) {
  @Prop({ type: String, default: "" })
  title: string;
  @Prop({ type: String, default: "" })
  icon: string;
  @Prop({ type: String, default: "1251" })
  num: string;
  @Prop({ type: String, default: "次" })
  company: string;
  @Prop({ type: String, default: "" })
  theme: string;

  @Provide() test = "this is test";
}
</script>
<style lang="scss" scoped>
.SmallPanel {
  width: 100%;
  height: 125px;
  background-image: url("../../assets/images/number_bg.png");
  background-position: right top, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
  .smallPanel-header {
    h5 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 30px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .smallPanel-main {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    height: 60px;
    position: relative;
    .smallPanel-Icon {
      margin-top: 10px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .smallPanel-text {
      position: absolute;
      bottom: 15px;
      right: 20px;
      text-align: right;

      .smallPanel-num {
        padding-right: 10px;
        position: relative;
        bottom: 5px;
      }
      .smallPanel-com {
        font-size: 12px;
      }
    }
  }
}
.SmallPanel:hover {
  background-color: rgba(94, 214, 215, 0.3);
}
.SmallPanel.success {
  color: rgb(59, 220, 82);
}
.SmallPanel.waring {
  color: rgb(253, 168, 42);
}
.SmallPanel.danger {
  color: red;
}
.SmallPanel.info {
  color: rgb(202, 191, 199);
}
</style>
