<template>
  <div class="AlarmStatistics">
    <h5>报警统计报表</h5>
    <div class="myTable" style="padding: 15px 20px">
      <el-table
        :data="tableData"
        style="width: 100%"
        height="220"
        size="mini"
        stripe
        :fit="true"
      >
        <el-table-column
          header-align="center"
          type="index"
          width="60"
          align="center"
          label="#"
        ></el-table-column>
        <el-table-column
          header-align="left"
          align="left"
          prop="orgName"
          label="单位名称"
        ></el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          label-class-name="danger"
          prop="warnCount"
          label="报警"
        ></el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          label-class-name="waring"
          prop="breakdownCount"
          label="故障"
        ></el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          label-class-name="info"
          prop="offlineCount"
          label="离线"
        ></el-table-column>
        <el-table-column
          header-align="center"
          align="center"
          label-class-name="success"
          prop="normalCount"
          label="正常"
        ></el-table-column>
        <el-table-column
          header-align="center"
          label-class-name="total"
          align="center"
          prop="allCount"
          label="总数"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script lang='ts'>
import { Table, TableColumn } from "element-ui";
import {
  Component,
  Vue,
  Prop,
  Provide,
  Watch,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elTable: Table,
    elTableColumn: TableColumn,
  },
})
export default class AlarmStatistics extends Mixins(commMixins) {
  @Prop({ type: Array, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  id: string;

  @Provide() tableData: any = [];

  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    console.log(datas);
    self.tableData = datas;
  }
  @Watch("datas", { immediate: true, deep: true })
  dataWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.AlarmStatistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/diwen2.png");
  background-repeat: no-repeat;
  background-position: right top, left top;
  background-size: 100% 100%;
  background-color: transparent;
  h5 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
  }
  div {
    flex: 1;
    height: 80%;
  }
}
</style>