<template>
  <div class="ClassificationProportionChart">
    <h5>分类占比图</h5>
    <div
      :id="id"
      :style="{ width: width / 2 - 10 + 'px', height: height / 2 - 10 + 'px' }"
    ></div>
  </div>
</template>
<script lang='ts'>
import echarts from "echarts";
import setOptions from "./StatChart2";
import {
  Component,
  Vue,
  Watch,
  Prop,
  Provide,
  Mixins,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component
export default class ClassificationProportionChart extends Mixins(commMixins) {
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: String, default: "" })
  id: string;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: Number, default: 0 })
  height: number;
  mounted() {
    //this.init()
  }
  init() {
    let self = this;
    let datas = JSON.parse(JSON.stringify(self.datas));
    let options: any = setOptions(datas);
    this.$nextTick(() => {
      let dom: any = document.getElementById(self.id);
      let myChart = echarts.init(dom);
      myChart.setOption(options);
      dom.resize(myChart.resize);
    });
  }
  @Watch("datas", { immediate: true, deep: true })
  dataWatch() {
    this.init();
  }
}
</script>
<style lang="scss" scoped>
.ClassificationProportionChart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/diwen1.png");
  background-repeat: no-repeat;
  background-position: right top, left top;
  background-size: 100% 100%;
  background-color: transparent;
  h5 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
  div {
    flex: 1;
    height: 80%;
  }
}
</style>