<template>
  <div class="Electricity">
    <el-row :style="{ height: height + 'px' }">
      <el-col
        :span="12"
        :style="{ height: height / 2 + 'px' }"
        style="padding-top: 10px; padding-right: 10px"
      >
        <py-class-chart
          id="eClassChart"
          :width="width"
          :height="height"
          :datas="chartData"
        ></py-class-chart>
      </el-col>
      <el-col
        :span="12"
        :style="{ height: height / 2 + 'px' }"
        style="padding-top: 10px; padding-left: 10px"
      >
        <py-class-prop-chart
          id="eClassPropChart"
          :width="width"
          :height="height"
          :datas="chartData"
        ></py-class-prop-chart>
      </el-col>
      <el-col
        :span="24"
        :style="{ height: height / 2 + 'px' }"
        style="margin-top: 10px; padding-bottom: 15px"
      >
        <py-alarm-static :datas="listData"></py-alarm-static>
      </el-col>
    </el-row>
  </div>
</template>
<script lang='ts'>
import { Row, Col } from "element-ui";
import ClassChart from "./ClassificationChart.vue";
import ClassPropChart from "./ClassificationProportionChart.vue";
import AlarmStatic from "./AlarmStatistics.vue";
import {
  Component,
  Vue,
  Prop,
  Provide,
  Mixins,
  Watch,
} from "vue-property-decorator";
import commMixins from "@/mixin/commMixins";
@Component({
  components: {
    elRow: Row,
    elCol: Col,
    pyClassChart: ClassChart,
    pyClassPropChart: ClassPropChart,
    pyAlarmStatic: AlarmStatic,
  },
})
export default class ElectricityStat extends Mixins(commMixins) {
  @Prop({ type: Number, default: 0 })
  height: number;
  @Prop({ type: Number, default: 0 })
  width: number;
  @Prop({ type: Object, default: () => {} })
  datas: any;
  @Prop({ type: Array, default: () => [] })
  details: any;
  @Provide() chartData: any = {};
  @Provide() listData = [];
  mounted() {
    console.log(this.height);
    this.init();
  }
  init() {
    // let chartData = require("./ChartJson2")
    // this.chartData = chartData
    // let listData = require("./ListJson2")
    // this.listData = listData
  }
  @Watch("datas", { deep: true, immediate: true })
  datasWatch(newVal: any) {
    this.chartData = newVal;
  }
  @Watch("details", { deep: true, immediate: true })
  detailsWatch(newVal: any) {
    this.listData = newVal;
  }
}
</script>
<style scoped>
</style>